@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bebas Neue', sans-serif;
}

.cuenta-regresiva{
    width: 100vw;
    height: 100vh;
    position: relative;
    background-image: url(../images/bg_bf.jpg);
    background-size: cover;
    background-repeat: repeat;
    background-position: center;
    background-color: #349de9;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em 0;

    box-shadow: inset 2px 2px 17px #1d4571;
    -webkit-animation: resplandor-interior 2s ease-in infinite alternate-reverse;
    -moz-animation: resplandor-interior 2s ease-in infinite alternate-reverse;
    animation: resplandor-interior 2s ease-in infinite alternate-reverse;
}
.horario-vlm{
  width: 90%;
  height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.samsung{
  max-width: 150px;
  filter: contrast(0) brightness(300%) drop-shadow(2px 4px 6px #000);
  margin-top: 1rem;
  position: absolute;
  top: 15%;
}

.cubo{
  position: absolute;
  max-width: 350px;
}
.cubo1{
  left: 1%;
  top: 15%;
  animation: luminous 2s ease-in infinite alternate;
}
.cubo2{
  right: 1%;
  top: 45%;
  animation: luminous 2s .4s ease-in infinite alternate;
}

@keyframes luminous {
  from{
      filter: drop-shadow(5px 5px 5px #0982d7);
      transform: translateY(-5px);
  }
  to{
      filter: drop-shadow(0px 0px 35px #0982d7);
      transform: translateY(15px);
  }
}

.horario-vlm .logo-promo {
    width: 135px;
}

.horario-vlm .logo_promocion {
    cursor: pointer;
    animation: pulse 3s ease-in infinite alternate-reverse;
}

@keyframes pulse {
  0%{
    transform: scale(1);
  }
  100%{
    transform: scale(1.1);
  }
}

.horario-vlm h2 span{
    color: #ffffff;
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 500;
    border-radius: 11px;
    padding: 10px 29px;
    text-shadow: 1px 2px 10px #204cc1,
                1px 2px 14px #2b40b9;

    -webkit-animation: glow 1s ease-in-out infinite linear;
    -moz-animation: glow 1s ease-in-out infinite linear;
    animation: glow 1s ease-in-out infinite linear;
}

@keyframes glow {
    0%,
    19%,
    21%,
    23%,
    25%,
    54%,
    56%,
    100% {
        text-shadow: -0.2rem -0.2rem 1rem #fff, 
        0.2rem 0.2rem 1rem #fff,
        0 0 2rem #349ed9, 0 0 4rem #349ed9,
        0 0 6rem #349ed9, 0 0 8rem #349ed9,
        0 0 10rem #349ed9;

        box-shadow: 0 0 0.5rem #fff, inset 0 0 0.5rem #fff,
        0 0 2rem #ff15ff, inset 0 0 2rem #6ec2e6,
        0 0 4rem #6ec2e6, inset 0 0 4rem #e66ede;
    }

    20%,
    24%,
    55% {
        text-shadow: none;
        box-shadow: none;
    }
}
@keyframes resplandor-interior {
    0% {
        box-shadow: inset 1px 1px 50px #349de9;
      }
    100% {
        box-shadow: inset 1px 1px 17px #6ec2e6;
    }
}

@keyframes bounce {
    0%   { 
        transform: translateY(0);
    }
    50%  {
        transform: translateY(-5px);
    }
    100% {
        transform: translateY(0); 
    }
}

@keyframes shake {
    0% {
      transform: translate(1px, -2px) rotate(-1deg);
    }
    10% {
      transform: translate(-1px, 2px) rotate(-1deg);
    }
    20% {
      transform: translate(1px, 2px) rotate(0deg);
    }
    30% {
      transform: translate(3px, 2px) rotate(0deg);
    }
    40% {
      transform: translate(1px, -1px) rotate(1deg);
    }
    50% {
      transform: translate(-1px, -2px) rotate(-1deg);
    }
    60% {
      transform: translate(-3px, 1px) rotate(0deg);
    }
    70% {
      transform: translate(3px, 1px) rotate(-1deg);
    }
    80% {
      transform: translate(-1px, -1px) rotate(1deg);
    }
    90% {
      transform: translate(-3px, 0px) rotate(1deg);
    }
    100% {
      transform: translate(1px, 1px) rotate(0deg);
    }
  }

  @media only screen and (max-width: 1536px) {
    .click_offer {
      left: 32% !important;
    }
  }
  @media only screen and (max-width: 428px) {
    .cuenta-regresiva{
      justify-content: center;
    }
    .horario-vlm h2{
      display: flex;
    }
    .horario-vlm h2 span{
      font-size: 18px;
    }
    .percent{
      display: none;
    }
    .click_offer {
        position: absolute;
        left: 19% !important;
        margin-top: 11px;
    }
    .horario-vlm .logo-promo {
      width: 135px;
      margin-left: 50%;
  }
  }
.logo_promocion{
  width: 40%;
  -o-filter: drop-shadow(5px 5px 15px #349de9);
  -webkit-filter: drop-shadow(5px 5px 15px #349de9);
  filter: drop-shadow(5px 5px 15px #349de9);
  margin-left: 2rem;
}

.camara_de_comercio{
  position: absolute;
  width: 70px;
  height: auto;
  left: 10%;
  bottom: 5%;
}

#clock {
    font-size: 3.5em;
    color: #fff;
    font-weight: bold;
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 2px;
    line-height: 24px;
    text-align: center;
    text-shadow: 3px 6px 9px #000;
}

.wrap_hora_btn{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hora_btn{
  border: none;
  border-radius: 5px;
  padding: 5px 25px;
  color: #fff;
  font-weight: bold;
  background-color: #ff15ff;
  box-shadow: 0 0 15px #ff15ff;
  margin-top: 10px;
  animation: parp .9s ease-in-out infinite alternate-reverse;
}

@keyframes parp{
  0%{
    background-color: #ff15ff;
    box-shadow: 0 0 5px #ff15ff;
  }
  100%{
    background-color: #d11111;
    box-shadow: 0 0 25px #d11111;
  }
}