*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

@font-face {
    font-family: SamsungRegular;
    src: url(../fonts/SamsungSharpSansRegular-Regular.ttf);
}
@font-face {
    font-family: Samsung400;
    src: url(../fonts/SamsungOne-400.woff2);
}
@font-face {
    font-family: Samsung700;
    src: url(../fonts/SamsungOne-700.woff2);
}
@font-face {
    font-family: SamsungRegularv2;
    src: url(../fonts/samsungsharpsans-regular_v2.ttf);
}
@font-face {
    font-family: Samsung6291;
    src: url(../fonts/samsung_s_sharp_by_629lyric-d8y77l9.ttf);
}
@font-face {
    font-family: SamsungBold;
    src: url(../fonts/SamsungSharpSansBd.woff2);
}

body{
    background-color: #000000;
    color: #fff;
    font-family: Samsung400 !important;
}

header{
    width: 100%;
    height: auto;
    background-color: #000;
    position: sticky;
    top: 0;
    left: 0;
}
.container_header{
    width: 80%;
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin: 0 auto;
}

.logomz{
    width: 220px;
}
.logo{
    width: 200px;
}

.main{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main{
    width: 80%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 4em 0 7em 0;
    
    background-image: url(../images/resplandor.png);
    background-position: bottom;
    background-size: 50%;
    background-repeat: no-repeat;
    overflow: hidden;
}

/* .resplandor{
    margin: -15em auto 0 auto;
    max-width: 600px;
} */

.galaxy{
    width: 70%;
    max-width: 550px;
    margin-bottom: 5em;
}

.center{
    margin-top: 2em;
}
.center h2{
    margin-top: 1em;
}

.icons_container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 5em 0;
}
.icon_container{
    margin: 2em;
    border-radius: 10px;
    border: 1px solid #000000;
    transition: all .4s linear;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.icon_container:hover{
    border: 1px solid #4E82EF;
    box-shadow: 0px 5px 30px #4e81ef2f;
    transform: translateY(-15px);
}
.icon_container img{
    width: 150px;
}

.icon_container p{
    font-weight: bold;
}

.a_follow{
    color: #fff;
}

.follow{
    margin-bottom: 25px;
    position: relative;
}
.follow::after{
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: #ff0000;
    border-radius: 15px;
    top: 50%;
    left: -20%;
    transform: translateY(-50%);
    animation: inlive 1s infinite linear;
}

@keyframes inlive {
    from{
        box-shadow: 0 0 0px #ff0000;
    }
    to{
        box-shadow: 0 0 20px #ff000088;
    }
}

h3{
    margin: 2em 0;
}

h3 span{
    font-weight: bold;
    font-size: 1.3em;
}

.btn_main{
    background-color: #fff;
    border-radius: 50px;
    padding: 15px 40px;
    font-weight: bold;
    font-size: 1em;
    border: none;
    border: 1px solid #fff;
    transition: all .4s linear;
    margin: 3em 0;
}
.btn_main:hover{
    background-color: #000000;
    color: #fff;
    cursor: pointer;
}

.btn_container{
    width: 80%;
    max-width: 600px;
    margin-bottom: 17em;
}

.luz{
    position: absolute;
    width: 800px;
    height: 800px;
    background-color: #243342;
    border-radius: 1px;
    filter: blur(25px);
    bottom: -45%;
    left: 50%;
    transform: translateX(-50%) rotate(135deg);
    opacity: .5;
    z-index: -1;
    border-left: 450px solid #000;
    border-bottom: 450px solid #000;
    border-right: 25px solid #8caabd;
    border-top: 25px solid #8caabd;
    animation: crecimiento 1.7s infinite alternate-reverse;
}
@keyframes crecimiento {
    from{
        width: 800px;
        height: 800px;
        transform: translateX(-50%) rotate(135deg);
    }
    to{
        width: 600px;
        height: 600px;
    }
}

/* Responsive 
=============== */

@media only screen and (max-width: 428px) {
    .logomz{
        width: 140px;
    }
    .logo{
        width: 120px;
    }
    main{
        width: 95%;
        padding: 4em 0 1em 0;
        background-size: 75%;
        overflow: hidden;
    }
    .main{
        overflow: hidden;
    }
    .galaxy{
        width: 90%;
    }
    .center h2{
        margin: 1em 0 2em 0;
    }
    .icons_container{
        flex-direction: column;
    }
    .icon_container{
        margin: .7em;
    }
    .btn_container {
        width: 100%;
        max-width: 450px;
    }
    .luz{
        bottom: -78%;
        width: 400px;
        height: 400px;
        display: none;
        /* animation: crecimiento2 1.7s infinite alternate-reverse; */
    }
}
/* @keyframes crecimiento2 {
    from{
        width: 400px;
        height: 400px;
        transform: translateX(-50%) rotate(135deg);
    }
    to{
        width: 150px;
        height: 150px;
    }
} */