*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
   background-color: #fff;
   font-family: 'IBM Plex Sans Thai Looped', sans-serif;
}

html{
    scroll-behavior: smooth;
}

:root{
    --colorTextos: #fff;
    --gris: #404040;;
}

/* ==============
|  ENCABEZADO   |
============= */
header{
    width: 100%;
    height: 8vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 5px 25px #a3a3a3;
}
nav{
    width: 80%;
    height: 8vh;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    width: 165px;
    height: auto;
}
.menu a{
    text-decoration: none;
    color: #404040;
    font-weight: bold;
    font-size: 18px;
    transition: all .4s linear;
}
.menu a:hover{
    color: #BA5370;
}


/* ==============
|  ENCABEZADO   |
============= */

main{
    width: 100%;
    height: 100vh;
    background-color: #fff;

}

.caja{
    width: 75%;
    height: 80%;
    background-color: var(--gris);
    margin: 2.5em auto 0em auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.cubo-cont{
    width: 45%;
    height: auto;
}

.texto{
    width: 45%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: #fff;
}

.texto h2{
    color: #ffff;
    font-size: 4rem;
    text-shadow: #404040;
    font-family: 'Roboto Condensed', sans-serif;
    margin-top: 0.50em;
    
}
.texto b{
    color: #BA5370;
    font-size: 1.3em;
}

.texto p{
    font-size: 1em;
    margin-top: 5px;
    font-family: 'IBM Plex Sans Thai Looped', sans-serif;
    line-height: 1.5rem;
}

.formulario{
    width: 60%;
    max-width: 800px;
    height: auto;
    margin: 0 auto 4em auto;
}

footer{
    width: 100%;
    height: 50px;
    background-color: #404040;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer small{
    text-align: center;
    font-size: 16px;
}
footer small a{
    color: #fff;
    text-decoration: none;
}
footer small a img{
    width: 60px;
    vertical-align: middle;
    transition: all .4s linear;
}
footer small a img:hover{
    filter: brightness(300);
}

/* ==============
|  RESPONSIVE   |
============= */
@media screen and (max-width: 760px){
    main{
        height: auto;
        padding: 2em 0em;
    }
    .caja{
        width: 95%;
        height: auto;
        flex-direction: column-reverse;
        padding: 0em 0em 9em 0em;
    }
    .formulario{
        width: 95%;
    }
    .texto {
        width: 75%;
    }
}