*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 7px;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #fff; 
}
::-webkit-scrollbar-thumb {
    background: #FFF5D1;
    border-radius: 2px;
}
::-webkit-scrollbar-thumb:hover {
    background: #d3d3d3; 
}

main{
    width: 100%;
    min-height: 100vh;
    position: relative;
    padding: 2em;
    background-color: #000;
    background-image: url(../images/bg_epic_sale.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logos{
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.logo-samsung{
    max-width: 200px;
    margin: 2em auto;
}
.texto h3, .texto h4{
    text-shadow: -2px 6px 10px #000;
}
.texto h4 span{
    font-weight: 800;
    color: #FFF5D1;
    font-size: 2em;
}

.epic-sale{
    max-width: 450px;
    margin: 0 auto;
}
.logo-mz{
    width: 80px;
}
/*  .abajo{
    background-color: #003da5;
    overflow: hidden;
}*/
.abajo p{
    color: #FFF5D1;
    font-size: 1.5em;
}


.diamante1{
    position: absolute;
    left: 10%;
    top: 40%;
    width: 180px;
    height: auto;
    animation: bounce 2s linear alternate-reverse infinite;
}

.diamante2{
    position: absolute;
    right: 10%;
    top: 60%;
    width: 130px;
    height: auto;
    animation: bounce2 2s 1s linear alternate-reverse infinite;
}

.diamante{
    transition: all .4s linear;
}
.diamante:hover{
    filter: blur(2px);
}

@keyframes bounce {
    0%{
        transform: translateY(-10px);
    }
    100%{
        transform: translateY(10px);
    }
}
@keyframes bounce2 {
    0%{
        transform: translateY(-10px) rotate(30deg);
    }
    100%{
        transform: translateY(10px) rotate(30deg);
    }
}

.brillo{
    position: absolute;
    width: 15px;
    height: 15px;
    filter: blur(5px);
    top: 10%;
    right: 25%;
    background-color: #fff;
    border-radius: 50%;
    animation: brillo 1s linear alternate-reverse infinite;
}

@keyframes brillo {
    0%{
        box-shadow: 0 0 25px #fff;
        filter: blur(5px)
    }
    100%{
        box-shadow: 0 0 35px #fff;
        filter: blur(10px)
    }
}

@media only screen and (max-width: 414px) {
    .logo{
        width: 90%;
    }
    .texto h4{
        margin-bottom: 40px;
    }
    .abajo{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 2em 0;
    }
}