*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(90deg, #404040, #282828);
  }
  .container {
    width: 150px;
    height: 150px;
    margin: 50px auto;
    position: relative;
    perspective: 400px;
  }
  
  #cube {
    width: 100%;
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
    transition: transform 1s;
  }
  
  #cube::after{
    content: "S";
    /* color: #fff; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    font-size: 8em;
    font-family: verdana, arial;
    background: -webkit-linear-gradient(#E5A2BA, #845366);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -o-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    /* text-shadow:
	-1px -1px 1px #aaa,
	-2px -2px 1px #999,
	-3px -3px 1px #888,
	-4px -4px 1px #777,
	-5px -5px 1px #666,
	-6px -6px 1px #555; */
  }  
  #cube figure {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    border: 2px solid #ffffff;
     border-radius: 5px;
  }
  
  #cube .back {
    background: #e8dede52;
    transform: rotateX(0deg) translateZ(-75px);
     border-radius: 5px;
  }
  
  #cube .left {
    background: #e8dede52;
    transform: rotateY(90deg) translateZ(-75px);
     border-radius: 5px;
  }
  
  #cube .bottom {
    background: #e8dede52;
    transform: rotateX(90deg) translateZ(-75px);
     border-radius: 5px;
  }
  
  #cube .front {
    background: #e8dede52;
    transform: rotateX(0deg) translateZ(75px);
  }
  .cara{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: verdana, arial;
    color: #e5a2ba;
    font-weight: 2rem;
    border-radius: 5px;
    text-align: right;
    /* -webkit-backdrop-filter: blur(1px);
            backdrop-filter: blur(1px); */
  }
  #cube .right {
    background: #e8dede52;
    transform: rotateY(90deg) translateZ(75px);
  }
  
  #cube .top {
    background: #e8dede52;
    transform: rotateX(90deg) translateZ(75px);
  }
  
  .botones {
    width: 30px;
    height: 30px;
    margin: 0 auto;
    position: relative;
   }
  
  .boton {
    /*estructura*/
    width: 30px;
    height: 30px;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    /*texto*/ 
    color: white;
    font-weight: bold;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
    user-select: none;
  }
  
  #abajo {
    top: 35px;
  }
  
  #izquierda {
    top: 35px;
    left: -35px;
  }
  
  #derecha {
    top: 35px;
    left: 35px;
  }
  
  
  