@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
}

/* +----------------+
|      Sets        |
+-----------------+ */
html{
    scroll-behavior: smooth;
}
::-webkit-scrollbar-track
{
	/* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); */
	border-radius: 10px;
	background-color: rgb(255, 255, 255);
}

::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #ffffff;
}
body{
    font-family: 'Spartan', sans-serif;
}
section{
    width: 100%;
    height: auto;
    margin: 2em 0em;
    padding: 2em 0em;
}
.contenedor{
    width: 80%;
    max-width: 1170px;
    height: auto;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}
/* +--------------+
|       Nav       |
+--------------+ */
nav{
    width: 100%;
    height: auto;
    padding: 5px 0px;
    box-shadow: 0px 1px 25px #c3c3c3;
}
.menu{
    width: 85%;
    max-width: 1170px;
    height: auto;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logo a img{
    width: 150px;
    height: auto;
}
.logo-s a img{
    width: 150px;
    height: auto;
}
/* >>>>>>>>>> Responsive <<<<<<<<<<<< */
@media only screen and (max-width: 414px) {
    .logo a img{
        width: 90px;
    }
    .logo-s a img{
        width: 90px;
    }
}
/* +----------------+
|      Titulo        |
+-----------------+ */
.title{
    width: 80%;
    height: auto;
    margin: 3em auto;
    text-align: center;
}
.title img{
    width: 50%;
    height: auto;
}
.title h1{
    font-size: 2.5em;
    color: #000000;
    font-weight: bold;
    text-transform: uppercase;
}
.title h2{
    font-size: 2.5em;
    color: #000000;
    font-weight: bold;
    text-transform: uppercase;
}
/* >>>>>>>>>> Responsive <<<<<<<<<<<< */
@media only screen and (max-width: 414px) {
    .title h2{
        font-size: 1.5em;
    }
    .title img{
        width: 100%;
        height: auto;
    }
}
/* +----------------+
|     Celulares     |
+-----------------+ */
.celu-section{
    background-color: #ffffff;
}

.celu{
    width: 250px;
    height: auto;
    padding: 20px;
    border-radius: 0px 25px 25px 0px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 20px;
    border: 2px solid transparent;
}
.celu:hover{
    cursor: pointer;
    /* border: 2px solid #c3c3c3; */
    box-shadow: 0px 0px 30px #c3c3c3;
    transition: all .4s linear;
    animation-direction: alternate-reverse;
}
/* .celu img{
    width: 120px;
    height: auto;
} */
.celu h4{
    color: #000000;
    font-weight: bold;
    margin: 15px 0px 0px 7px;
}
.celu small{
    color: #707070;
    margin: 10px 0px;
}

.circulos{
    width: 160px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-bottom: 7px;
    /* background-color: #003da5; */
}
.circulo {
    width: 20px;
    height: 20px;
    display: flex;
    margin: 0 5px;
    border-radius: 50%;
}
.circulo:hover{
    transform: scale(1.5);
    transition: all .4s linear;
    animation-direction: alternate-reverse;
}
.gris{
    background-color: #715C5C;
}
.rosa{
    background-color: #EBA7DD;
}
.pink{
    background-color: #F104AA;
}
.negro{
    background-color: #000000;
}
.blanco{
    background-color: #ffffff;
    border: 1px solid #b6b4b4;
}
.celu .btn-more{
    border: 1px solid #ffffff;
    padding: 10px 40px;
    border-radius: 50px;
    margin: 12px 0px 0px 7px;
}
.btn-more:hover{
    cursor: pointer;
    border: 1px solid #b6b4b4;
    transition: all .4s linear;
    animation-direction: alternate-reverse;
}
/* +----------------+
|    otra seccion   |
+-----------------+ */
.features{
    background-color: #e4e4e4;
    padding: 5em 0em;
}
.feature{
    width: 250px;
    height: auto;
    margin: 20px;
}
.feature h3{
    color: #000000;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
}
.feature-img{
    width: 250px;
    height: 150px;
    background-color: #000000;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px 15px 15px 0px;
}
.feature-img img{
    width: 100%;
    height: auto;
    scale: 1;
}
.feature-img img:hover{
    transform: scale(1.5);
    transition: all .6s linear;
    animation-direction: alternate-reverse;
}
.feature p{
    color: #707070;
    text-align: center;
    font-weight: 400;
    margin-top: 15px;
}
/* +----------------+
|       Tabla       |
+-----------------+ */
.table{
    overflow: scroll;
}
.tabla{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;
}
.fila{
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    border-bottom: 1px solid #c3c3c3;
    padding: 20px 0px;
}
.fila:hover{
    cursor: pointer;
    background-color: #e9e9e9;
    transition: all .6s linear;
}
.columna{
    width: 33%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 15px;
}
.columna p{
    font-size: 14px;
    text-align: left;
    color: #707070;
}
/* >>>>>>>>>> Responsive <<<<<<<<<<<< */
@media only screen and (max-width: 768px) {
    .fila{
        width: 70%;
    }
}
@media only screen and (max-width: 414px) {
    .fila{
        width: 90%;
    }
}
/* +----------------+
|     Formulario    |
+-----------------+ */
.form{
    width: 100%;
    background-color: #000000;
}
.formulario{
    width: 50%;
    height: auto;.form{
    width: 100%;
    background-color: #000000;
}
.formulario{
    width: 50%;
    height: auto;
    margin: 0 auto;
    margin: 0 auto;
}
@media only screen and (max-width: 414px) {
    .formulario{
        width: 90%;
        height: auto;
    }
}
/* +----------------+
|      footer       |
+-----------------+ */
footer{
    width: 100%;
    height: 100px;
    background-color: #c3c3c3;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}