@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    position: relative;
    width: 100%;
    height: auto;
    min-height: 100vh;
    background-image: radial-gradient(circle,#0A090A, #000000 70%);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    padding: 4em 0em;
}
.main-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 6em;
    z-index: 2;
}
.logo{
    width: 250px;
}

@media only screen and (max-width: 414px) {
    .logo{
        width: 80%;
    }
}

.medio{
    width: 100%;
    max-width: 900px;
}

.main-container h1{
    color: #fff;
    margin-bottom: 2em;
    font-size: 1em;
    letter-spacing: 2px;
    font-weight: 300;
}
.main-sellers{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    z-index: 2;
}
.main-sellers-title h1{
    color: #fff;
    text-transform: uppercase;
    text-shadow: 0px 0px 25px #c7c9cc;
    animation: text_shadow .4s alternate-reverse infinite;
    text-align: center;
    border: 2px solid #515253;
    padding: 1em;
    border-radius: 25px;
    margin: 0 1em 1em 1em;
    background-color: rgba(0, 0, 0, 0.482);
}
.main-sellers-title h1 span{
    color: rgb(255, 243, 178);
}

.main-sellers-title h4{
    color: #fff;
    margin-bottom: 1em;
    font-size: 1.5em;
    
    text-transform: uppercase;
    text-shadow: 0px 0px 25px #c7c9cc;
    animation: text_shadow .4s alternate-reverse infinite;
    text-align: center;
}


@keyframes text_shadow{
  from{
    text-shadow: 0px 0px 25px #c7c9cc;
  }
  to{
    text-shadow: 0px 0px 35px #2d3034;
  }
}

/* Ventas
================*/

.seller-img-cont{
    width: 75px;
    height: 75px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.seller-img-cont img{
    width: 80px;
}

a{
  text-decoration: none;
}
.seller-contact h3{
  color: #000;
}
.seller-contact p{
    color: #004faa;
  }
.main-sellers-thumbs{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.seller{
    width: 300px;
    height: auto;
    padding: 10px;
    border-radius: 10px;
    background-color: #fff;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: all .4s linear;
}
.seller:hover{
    transform: translateY(-10px);
    box-shadow: 0px 25px 25px #004faa79;
}
.seller .seller-img-cont{
    margin-right: 15px;
}

.seller-top{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.seller button{
    background-color: #0e830e;
    color: #FFF;
    border: none;
    border-radius: 5px;
    padding: 7px 25px;
    margin-top: 20px;
    transition: all .4s linear;
}
.seller button:hover{
    background-color: #056205;
    box-shadow: 0px 0px 20px #2cbd2ca0;
    cursor: pointer;
}

.porcentaje{
    position: absolute;
}
.porcentaje-1{
    width: 100px;
    top: 10%;
    left: 20%;
    animation: bounce 1s alternate-reverse infinite;
}
.porcentaje-2{
    width: 120px;
    top: 10%;
    right: 20%;
    animation: bounce 1s .4s alternate-reverse infinite;
}
.porcentaje-3{
    width: 200px;
    bottom: 10%;
    left: 20%;
    animation: bounce 1s 1s alternate-reverse infinite;
}
.porcentaje-4{
    width: 300px;
    bottom: -10%;
    right: 7%;
    filter: blur(3px);
    transition: all .4s linear;
    animation: bounce 1s .4s alternate-reverse infinite;
}

.porcentaje-4:hover{
    filter: none;
}

video{
    z-index: 9999;
    margin: 3em 0em;
}

@keyframes bounce{
    from{
        transform: translateY(20px);
    }
    to{
        transform: translateY(5px);
    }
}

/* »»» Responsive «««  */
@media only screen and (max-width: 600px) {
    main{
        height: auto;
       padding: 4em 0em;
    }
    .main-container {
        margin-bottom: 2em;
        height: auto;
    }
    /* .seller{
        width: 95%;
    } */
    .logo {
        width: 230px;
    }
    .porcentaje-1{
        display: none;
    }
    .porcentaje-2{
        display: none;
    }
    .lineas{
        width: 250%;
        height: 150%;
        animation: none;
        filter: blur(10px);
    }
    /* ------------------  */
}
@media only screen and (max-width: 420px) {
    .main-sellers-title h1{
        font-size: 1.3em;
    }
}