*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #FFC915 !important;
}
main{
    width: 100%;
    height: auto;
    background-color: #FFC915;
    color: #000;
}
