*,
*:before,
*:after {
  box-sizing: border-box;
}

#container {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: #d3dbe7;
  overflow: hidden;
}

#background-image {
    position: relative;
    top: 0;
    left: 0;
    width: 70%;
    height: auto;
    margin: 0 auto;
}

#product-svg {
  position: absolute;
  z-index: 2;
  /* background-size: 200%; */
  /* background-repeat: no-repeat; */
  /* background-position: 50%; */
  mix-blend-mode: multiply;
  top: calc(0% - 6px);
  left: 15%;
  width: 117%;
}


#product-shape {
  fill: #349de9;
}


.jscolor {
  position: absolute;
  bottom: 1em;
  left: 50%;
  z-index: 3;
  padding: 1em;
  box-shadow: 0px 5px 10px rgb(0 0 0 / 50%);
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  transform: translateX(-50%);
  margin: 2em 0em;
}

.change-toltip{
  position: absolute;
  z-index: 3;
  bottom: 7em;
  left: 56%;
  padding: 10px 33px;
  border-radius: 15px;
  background-color: #fff;
  box-shadow: 0px 4px 15px #79c7ff96;
  animation: bounce .9s alternate-reverse infinite;
}
.change-toltip::before{
  content: "";
  position: absolute;
  bottom: -2px;
  left: 3px;
  width: 30px;
  height: 30px;
  background-color: #fff;
  transform: rotate(80deg);
  z-index: 1;
}
.change-toltip small{
  font-size: 14px;
  color: #222020;
  font-weight: 600;
  z-index: 5;
}
@keyframes bounce {
  to{
    bottom: 7em;
  }
  from{
    bottom: 6em;
  }
}
.change-h2{
  position: absolute;
  top: 3em;
  left: 50%;
  transform: translateX(-50%);
  font-size: 4em;
  font-weight: 700;
  text-transform: uppercase;
  
  background: linear-gradient(to right, #FD0001, #FFA901, #FFFE3B, #6BFE50, #33FFFB, #3356FD, #0001C5, #BA34FE, #FF32F3, #F81B43);
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
  animation: textclip 2s linear infinite;
  display: inline-block;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
.change-h2:hover{
        -o-text-shadow: 0px 0px 25px #3356FD;
      -moz-text-shadow: 0px 0px 25px #3356FD;
    -webkit-text-shadow: 0px 0px 25px #3356FD;
  text-shadow: 0px 0px 25px #3356FD;
  cursor: pointer;
}

/* ============= Responsive ============ */
@media screen and (max-width: 1366px) {
  .change-h2{
    top: 2em;
    font-size: 3em;
}
}
@media screen and (max-width: 1024px) {
  .change-h2{
    top: 2em;
    font-size: 3em;
  }
}
@media screen and (max-width: 768px) {
  .change-h2{
    top: 2em;
    font-size: 2em;
  }
  .change-toltip{
    display: none;
  }
  .jscolor{
    margin: 0em 0em;
    width: 148px;
    height: 34px;
  }
}
@media screen and (max-width: 414px) {
  .change-h2{
    top: 2em;
    font-size: 1em;
  }
  #product-svg {
    top: calc(0% - 2px);
  }
}