.lightslide {
    background:url(../image/habitacion.jpg) no-repeat center;
    background-size:cover;
    min-height:100vh;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction: column;
}

.brightness-box {
    position: relative;
    width: 400px;
    height: 60px;
    background: #f9f9f9;
    border-radius: 8px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.brightness-box i {
    margin:0 10px;
}

#range {
    width:100%;
    height:3px;
    /*tira a barra do input range*/
    -webkit-appearance:none;
    background:#0a85ff;
    outline:none;
}

#range::-webkit-slider-thumb {
    -webkit-appearance:none;
    background:#0a85ff;
    width:22px;
    height:22px;
    border-radius:50%;
    cursor:pointer;
}

.light-h3{
    color: #f9f9f9;
    font-size: 2em;
    margin-bottom: 20px;
    /* text-shadow: 1px 1px 15px #fbff11; */
    animation: light .8s alternate-reverse infinite;
}
@keyframes light{
    from{
        text-shadow: 1px 1px 18px #fbff11;
    }
    to{
        text-shadow: 1px 1px 8px #fbff11;
    }
}
.handcito{
    position: absolute;
    animation: handcito 1s alternate-reverse infinite;
    color: #fffbca;
    font-size: 30px;
    left: 75%;
    bottom: -40px;
    text-shadow: 1px 1px 10px #c58917;
}
@keyframes handcito{
    0%{
        left: 25%;
    }
    100%{
        left: 75%;
    }
}
/* ============= Responsive ============ */
@media screen and (max-width: 414px) {
	.brightness-box {
        width: 250px;
        height: 40px;
    }
}