@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html{
	scroll-behavior: smooth;
}
body { 
	font-family: 'Manrope', sans-serif;
}
::-webkit-scrollbar {
	width: 13px;
	height: 13px;
}
::-webkit-scrollbar-thumb {
	background: linear-gradient(13deg, #000000 14%,#525252 64%);
	border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover{
	background: linear-gradient(13deg, #525252 14%,#000000 64%);
}
::-webkit-scrollbar-track{
	background: #ffffff;
	border-radius: 10px;
}
/* **********************************+
|               nav                 |
********************************* */
/* header{
	width: 100%;
	height: auto;
	padding: 5px;
	background-color: #000;
} */
/* **********************************+
|        Elegi tu Producto          |
********************************* */
main{
	width: 100%;
	height: 100vh;

	background-color: #d3dbe7;
	background-image: url(../image/main-bg.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position-y: -10em;

	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;

	margin-top: 7vh;
    padding: 4em 0em;
}

.main-content{
	width: 75%;
	height: auto;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
}
.main-txt{
	width: 35%;
	height: auto;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-direction: column;
}
	.main-txt h1{
		font-weight: 700;
	}
	.main-txt p{
		color: #707070;
		margin: 1em 0em;
	}
	.main-a{
		padding: 5px 55px;
		background-color: #5555B8;
		color: #fff;
		border: 0px;
		border-radius: 25px;
	}
	.main-a:hover{
		text-decoration: none;
		color: #fff;
		background-color: #3636af;
		transition: all .4s linear;
	}

.main-img{
	width: 45%;
	height: auto;
	display: flex;
	justify-content: center;
	align-items: center;
}
/* ============= Responsive ============ */
@media screen and (max-width: 1024px) {
	main{
		height: auto;
	}
}
@media screen and (max-width: 414px) {
	main{
		height: auto;
		overflow: auto;
		padding: 4em 0em;
	}
	.main-content{
		width: 95%;
	}
	.main-content{
		flex-direction: column;
	}
	.main-txt{
		width: 100%;
	}
	.main-img{
		width: 100%;
	}
}
/* **********************************+
|            Features              |
********************************* */
.feature-section{
	/* padding: 4em 0em;
	margin: 2em 0em; */
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.feature-h2{
	font-weight: 700;
	line-height: 1em;
}
.feature-p{
	color: #707070;
	margin: 3em 0em;
}
.feature-icons{
	width: 450px;
	height: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	flex-wrap: wrap;
}
.feature-icon{
	width: 220px;
	height: auto;
	margin: 5px 3px 5px 0px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: row;
}
.feature-icon img{
	width: 30px;
	height: auto;
	margin-right: 10px;
}
.feature-icon h5{
	font-size: 15px;
}

/* ============= Responsive ============ */
@media screen and (max-width: 1024px) {
	.feature-section{
		height: auto;
		padding: 4em 0em;
	}
}
@media screen and (max-width: 768px) {
	.feature-icons {
		width: 360px;
		justify-content: center;
	}
	.feature-icon {
		width: 170px;
		margin: 15px 0px;
	}
	.feature-h2{
		margin-top: 1em;
	}
	.feature-p{
		margin: 1em 0em;
	}
	.feature-icon {
		margin: 7px 0px;
	}
	.feature-icon img{
		width: 25px;
		height: auto;
		margin-right: 10px;
	}
	.feature-icon h5{
		font-size: 13px;
	}
}

/* **********************************+
|        Elegi tu Producto          |
********************************* */
.titulo h2{
	font-size: 2.5em;
	margin-bottom: 1.2em;
}
.product-section{
	width: 100%;
	height: 100vh;
	/* padding: 5em 0em; */
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.producto-content{
	width: 80%;
	height: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	flex-wrap: wrap;
}
.product{
	width: 300px;
    height: 400px;
    position: relative;
    overflow: hidden;
    background-color: #37393C;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 15px;
    border-radius: 5px;
}
.product:hover{
	cursor: pointer;
	box-shadow: 0px 7px 25px #cecee6;
}
.product-h4{
	width: 80%;
	height: auto;
	margin: 2em auto;
	text-align: center;
	font-size: 25px;
	color: #ffffff;
}
.product img{
	width: 170px;
	height: auto;
	display: flex;
	justify-content: center;
	margin: 25px;
	align-items: center;
}
.product-a{
	position: absolute;
	bottom: -23%;
    transform: translate(-50%, -50%);
    left: 50%;
}
.product-a button{
	border: 1px solid #2DAA56;
	background-color: #2DAA56;
	color: #ffffff;
	font-size: 15px;
	border-radius: 25px;
	padding: 5px 55px;
}
.product-a button:hover{
	background-color: #1c8f42;
	cursor: pointer;
}
.product:hover .product-a{
	cursor: pointer;
	bottom: 15%;
    transform: translate(-50%, -50%);
	transition: all .6s linear;
	animation-direction: alternate-reverse;
}
/* ============= Responsive ============ */
@media screen and (max-width: 1024px) {
	.product-section{
		height: auto;
		padding: 4em 0em;
	}
}
@media screen and (max-width: 768px) {
	.producto-content {
		width: 100%;
	}
	.product {
		width: 180px;
		height: 330px;
		margin: 5px;
		border-radius: 15px;
	}
	.product-h4 {
		margin: 0em auto;
	}
	.product-a button{
		padding: 5px 35px;
	}
	.titulo h2{
		font-size: 1.8em;
		margin-bottom: 1.2em;
	}
}
/* **********************************+
|    Luces encendidas/apagadas      |
********************************* */
.img-cont {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-cont .img-sala{
	width: 100%;
}
.luz{
    height: auto;
    opacity: 0;
    position: absolute;
    left: 0%;
    top: 0;
}
.celu-btn{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 250px;
	height: auto;
}
.btn-luz {
    position: absolute;
	top: calc(52% - 2px);
	left: 50%;
	transform: translate(-50%, -50%);
    width: 60px;
    height: 60px;
    background-image: radial-gradient(#fff, #dadada);
    border: 0;
    border-radius: 20px;
    font-weight: 500;
	font-size: 12px;
    cursor: pointer;
	color: #111111;
}
.btn-luz:hover {
	background-image: radial-gradient(#fcfcfc, #b7c4ca);
	transition: all .4s linear;
}

/* ============= Responsive ============ */
@media screen and (max-width: 768px) {
	.celu-btn{
		display: none;
	}
	.btn-luz {
		top: 50%;
		transform: translate(-50%, -50%);
		width: 70px;
		height: 70px;
		background-image: radial-gradient(#fff, #dadada);
		border: 4px solid #ffffff;
	}
}
/* **********************************+
|              Apps                 |
********************************* */
.app-section{
	width: 100%;
	height: auto;
	background-color: #d3dbe7;
}
.compatible ,.descargalo{
	width: 100%;
	height: 250px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.compatible h3,.descargalo h3{
	font-size: 20px;
	text-transform: uppercase;
	margin-bottom: 20px;
	color: #707070;
}
.compatible img, .descargalo img{
	width: 300px;
}

/* **********************************+
|              Form                 |
********************************* */
.section-form{
	width: 100%;
	height: auto;
	background-color: #000;
	padding: 4em 0em;
}
.form{
	width: 60%;
	height: auto;
	margin: 0 auto;
}
.form_text{
	width: 100%;
	height: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.form_text h2, .form_text small{
	color: #fff;
}

/* **********************************+
|             Footer                |
********************************* */
footer{
    width: 100%;
    height: auto;
	padding: 10px;
    background-color: #000;
	color: #ffffff;
	font-size: 14px;
    display: flex;
	flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
footer div img{
	margin: 20px 0px;
	display: initial;
}