  [class|=confetti] {
    position: absolute;
  }
  
  .confetti-0 {
    width: 4px;
    height: 2px;
    background-color: #fffc3a;
    top: -10%;
    left: 4%;
    opacity: 0.9120870038;
    transform: rotate(60.0116472449deg);
    -webkit-animation: drop-0 .8s .4380662253s infinite;
            animation: drop-0 .8s .4380662253s infinite;
  }
  
  @-webkit-keyframes drop-0 {
    100% {
      top: 110%;
      left: 5%;
    }
  }
  
  @keyframes drop-0 {
    100% {
      top: 110%;
      left: 5%;
    }
  }
  .confetti-1 {
    width: 4px;
    height: 1.6px;
    background-color: #263672;
    top: -10%;
    left: 24%;
    opacity: 0.8343280369;
    transform: rotate(42.4560205212deg);
    -webkit-animation: drop-1 4.0748837407s 0.0257376486s infinite;
            animation: drop-1 4.0748837407s 0.0257376486s infinite;
  }
  
  @-webkit-keyframes drop-1 {
    100% {
      top: 110%;
      left: 33%;
    }
  }
  
  @keyframes drop-1 {
    100% {
      top: 110%;
      left: 33%;
    }
  }
  .confetti-2 {
    width: 1px;
    height: 0.4px;
    background-color: #d13447;
    top: -10%;
    left: 55%;
    opacity: 0.6142443965;
    transform: rotate(131.0039111099deg);
    -webkit-animation: drop-2 4.4946278625s 0.8204582863s infinite;
            animation: drop-2 4.4946278625s 0.8204582863s infinite;
  }
  
  @-webkit-keyframes drop-2 {
    100% {
      top: 110%;
      left: 68%;
    }
  }
  
  @keyframes drop-2 {
    100% {
      top: 110%;
      left: 68%;
    }
  }
  .confetti-3 {
    width: 5px;
    height: 2px;
    background-color: #d13447;
    top: -10%;
    left: 44%;
    opacity: 0.7587777498;
    transform: rotate(253.6347412253deg);
    -webkit-animation: drop-3 4.3226792388s 0.6967950261s infinite;
            animation: drop-3 4.3226792388s 0.6967950261s infinite;
  }
  
  @-webkit-keyframes drop-3 {
    100% {
      top: 110%;
      left: 58%;
    }
  }
  
  @keyframes drop-3 {
    100% {
      top: 110%;
      left: 58%;
    }
  }
  .confetti-4 {
    width: 3px;
    height: 1.2px;
    background-color: #fffc3a;
    top: -10%;
    left: 26%;
    opacity: 1.2839229064;
    transform: rotate(317.5428175439deg);
    -webkit-animation: drop-4 4.2184488916s 0.9659221328s infinite;
            animation: drop-4 4.2184488916s 0.9659221328s infinite;
  }
  
  @-webkit-keyframes drop-4 {
    100% {
      top: 110%;
      left: 41%;
    }
  }
  
  @keyframes drop-4 {
    100% {
      top: 110%;
      left: 41%;
    }
  }
  .confetti-5 {
    width: 2px;
    height: 0.8px;
    background-color: #ffbf00;
    top: -10%;
    left: 1%;
    opacity: 1.2415633321;
    transform: rotate(279.4856668102deg);
    -webkit-animation: drop-5 4.2508989849s 0.1307720728s infinite;
            animation: drop-5 4.2508989849s 0.1307720728s infinite;
  }
  
  @-webkit-keyframes drop-5 {
    100% {
      top: 110%;
      left: 3%;
    }
  }
  
  @keyframes drop-5 {
    100% {
      top: 110%;
      left: 3%;
    }
  }
  .confetti-6 {
    width: 1px;
    height: 0.4px;
    background-color: #263672;
    top: -10%;
    left: 26%;
    opacity: 1.1602491847;
    transform: rotate(74.9729947186deg);
    -webkit-animation: drop-6 4.3828885547s 0.4437837781s infinite;
            animation: drop-6 4.3828885547s 0.4437837781s infinite;
  }
  
  @-webkit-keyframes drop-6 {
    100% {
      top: 110%;
      left: 27%;
    }
  }
  
  @keyframes drop-6 {
    100% {
      top: 110%;
      left: 27%;
    }
  }
  .confetti-7 {
    width: 2px;
    height: 0.8px;
    background-color: #ffbf00;
    top: -10%;
    left: 8%;
    opacity: 0.9587409381;
    transform: rotate(332.2598730213deg);
    -webkit-animation: drop-7 4.3799897397s 0.003856129s infinite;
            animation: drop-7 4.3799897397s 0.003856129s infinite;
  }
  
  @-webkit-keyframes drop-7 {
    100% {
      top: 110%;
      left: 18%;
    }
  }
  
  @keyframes drop-7 {
    100% {
      top: 110%;
      left: 18%;
    }
  }
  .confetti-8 {
    width: 8px;
    height: 3.2px;
    background-color: #ffbf00;
    top: -10%;
    left: 86%;
    opacity: 1.0492684916;
    transform: rotate(258.4960559068deg);
    -webkit-animation: drop-8 4.4428879368s 0.4490149861s infinite;
            animation: drop-8 4.4428879368s 0.4490149861s infinite;
  }
  
  @-webkit-keyframes drop-8 {
    100% {
      top: 110%;
      left: 97%;
    }
  }
  
  @keyframes drop-8 {
    100% {
      top: 110%;
      left: 97%;
    }
  }
  .confetti-9 {
    width: 1px;
    height: 0.4px;
    background-color: #263672;
    top: -10%;
    left: 11%;
    opacity: 1.4387358888;
    transform: rotate(14.0124674734deg);
    -webkit-animation: drop-9 4.3177238297s 0.1057210284s infinite;
            animation: drop-9 4.3177238297s 0.1057210284s infinite;
  }
  
  @-webkit-keyframes drop-9 {
    100% {
      top: 110%;
      left: 22%;
    }
  }
  
  @keyframes drop-9 {
    100% {
      top: 110%;
      left: 22%;
    }
  }
  .confetti-10 {
    width: 3px;
    height: 1.2px;
    background-color: #d13447;
    top: -10%;
    left: 55%;
    opacity: 1.444251298;
    transform: rotate(293.1897819082deg);
    -webkit-animation: drop-10 4.5937932403s 0.0505003056s infinite;
            animation: drop-10 4.5937932403s 0.0505003056s infinite;
  }
  
  @-webkit-keyframes drop-10 {
    100% {
      top: 110%;
      left: 58%;
    }
  }
  
  @keyframes drop-10 {
    100% {
      top: 110%;
      left: 58%;
    }
  }
  .confetti-11 {
    width: 3px;
    height: 1.2px;
    background-color: #d13447;
    top: -10%;
    left: 95%;
    opacity: 1.3137159761;
    transform: rotate(264.1099262626deg);
    -webkit-animation: drop-11 4.1094503622s 0.2664926882s infinite;
            animation: drop-11 4.1094503622s 0.2664926882s infinite;
  }
  
  @-webkit-keyframes drop-11 {
    100% {
      top: 110%;
      left: 101%;
    }
  }
  
  @keyframes drop-11 {
    100% {
      top: 110%;
      left: 101%;
    }
  }
  .confetti-12 {
    width: 5px;
    height: 2px;
    background-color: #ffbf00;
    top: -10%;
    left: 35%;
    opacity: 1.0037941425;
    transform: rotate(273.7823356549deg);
    -webkit-animation: drop-12 4.1693819059s 0.0024627341s infinite;
            animation: drop-12 4.1693819059s 0.0024627341s infinite;
  }
  
  @-webkit-keyframes drop-12 {
    100% {
      top: 110%;
      left: 40%;
    }
  }
  
  @keyframes drop-12 {
    100% {
      top: 110%;
      left: 40%;
    }
  }
  .confetti-13 {
    width: 1px;
    height: 0.4px;
    background-color: #d13447;
    top: -10%;
    left: 35%;
    opacity: 0.8225547705;
    transform: rotate(308.0326323927deg);
    -webkit-animation: drop-13 4.5524424338s 0.6994222279s infinite;
            animation: drop-13 4.5524424338s 0.6994222279s infinite;
  }
  
  @-webkit-keyframes drop-13 {
    100% {
      top: 110%;
      left: 43%;
    }
  }
  
  @keyframes drop-13 {
    100% {
      top: 110%;
      left: 43%;
    }
  }
  .confetti-14 {
    width: 7px;
    height: 2.8px;
    background-color: #d13447;
    top: -10%;
    left: 69%;
    opacity: 1.0728447739;
    transform: rotate(19.6020389427deg);
    -webkit-animation: drop-14 4.0148634448s 0.2851394744s infinite;
            animation: drop-14 4.0148634448s 0.2851394744s infinite;
  }
  
  @-webkit-keyframes drop-14 {
    100% {
      top: 110%;
      left: 81%;
    }
  }
  
  @keyframes drop-14 {
    100% {
      top: 110%;
      left: 81%;
    }
  }
  .confetti-15 {
    width: 3px;
    height: 1.2px;
    background-color: #d13447;
    top: -10%;
    left: 90%;
    opacity: 1.327931982;
    transform: rotate(13.2974040703deg);
    -webkit-animation: drop-15 4.6497579202s 0.9393997636s infinite;
            animation: drop-15 4.6497579202s 0.9393997636s infinite;
  }
  
  @-webkit-keyframes drop-15 {
    100% {
      top: 110%;
      left: 103%;
    }
  }
  
  @keyframes drop-15 {
    100% {
      top: 110%;
      left: 103%;
    }
  }
  .confetti-16 {
    width: 7px;
    height: 2.8px;
    background-color: #ffbf00;
    top: -10%;
    left: 61%;
    opacity: 1.3340603297;
    transform: rotate(158.8913237404deg);
    -webkit-animation: drop-16 4.9011533576s 0.4336892335s infinite;
            animation: drop-16 4.9011533576s 0.4336892335s infinite;
  }
  
  @-webkit-keyframes drop-16 {
    100% {
      top: 110%;
      left: 75%;
    }
  }
  
  @keyframes drop-16 {
    100% {
      top: 110%;
      left: 75%;
    }
  }
  .confetti-17 {
    width: 3px;
    height: 1.2px;
    background-color: #d13447;
    top: -10%;
    left: 28%;
    opacity: 1.2515882392;
    transform: rotate(340.0836495229deg);
    -webkit-animation: drop-17 4.8128383018s 0.5194984252s infinite;
            animation: drop-17 4.8128383018s 0.5194984252s infinite;
  }
  
  @-webkit-keyframes drop-17 {
    100% {
      top: 110%;
      left: 39%;
    }
  }
  
  @keyframes drop-17 {
    100% {
      top: 110%;
      left: 39%;
    }
  }
  .confetti-18 {
    width: 8px;
    height: 3.2px;
    background-color: #d13447;
    top: -10%;
    left: 51%;
    opacity: 1.3653189492;
    transform: rotate(22.1931964861deg);
    -webkit-animation: drop-18 4.0796036451s 0.3345774776s infinite;
            animation: drop-18 4.0796036451s 0.3345774776s infinite;
  }
  
  @-webkit-keyframes drop-18 {
    100% {
      top: 110%;
      left: 65%;
    }
  }
  
  @keyframes drop-18 {
    100% {
      top: 110%;
      left: 65%;
    }
  }
  .confetti-19 {
    width: 6px;
    height: 2.4px;
    background-color: #d13447;
    top: -10%;
    left: 69%;
    opacity: 1.3790661611;
    transform: rotate(25.3279479301deg);
    -webkit-animation: drop-19 4.3249634058s 0.3328770492s infinite;
            animation: drop-19 4.3249634058s 0.3328770492s infinite;
  }
  
  @-webkit-keyframes drop-19 {
    100% {
      top: 110%;
      left: 84%;
    }
  }
  
  @keyframes drop-19 {
    100% {
      top: 110%;
      left: 84%;
    }
  }
  .confetti-20 {
    width: 5px;
    height: 2px;
    background-color: #ffbf00;
    top: -10%;
    left: 36%;
    opacity: 0.9037947389;
    transform: rotate(111.5042124057deg);
    -webkit-animation: drop-20 4.5720691357s 0.6162029805s infinite;
            animation: drop-20 4.5720691357s 0.6162029805s infinite;
  }
  
  @-webkit-keyframes drop-20 {
    100% {
      top: 110%;
      left: 51%;
    }
  }
  
  @keyframes drop-20 {
    100% {
      top: 110%;
      left: 51%;
    }
  }
  .confetti-21 {
    width: 8px;
    height: 3.2px;
    background-color: #263672;
    top: -10%;
    left: 46%;
    opacity: 1.2844900631;
    transform: rotate(88.4408443013deg);
    -webkit-animation: drop-21 4.0740008227s 0.1745624545s infinite;
            animation: drop-21 4.0740008227s 0.1745624545s infinite;
  }
  
  @-webkit-keyframes drop-21 {
    100% {
      top: 110%;
      left: 50%;
    }
  }
  
  @keyframes drop-21 {
    100% {
      top: 110%;
      left: 50%;
    }
  }
  .confetti-22 {
    width: 2px;
    height: 0.8px;
    background-color: #d13447;
    top: -10%;
    left: 38%;
    opacity: 0.807980835;
    transform: rotate(273.7015158618deg);
    -webkit-animation: drop-22 4.8719406516s 0.4343917904s infinite;
            animation: drop-22 4.8719406516s 0.4343917904s infinite;
  }
  
  @-webkit-keyframes drop-22 {
    100% {
      top: 110%;
      left: 40%;
    }
  }
  
  @keyframes drop-22 {
    100% {
      top: 110%;
      left: 40%;
    }
  }
  .confetti-23 {
    width: 4px;
    height: 1.6px;
    background-color: #d13447;
    top: -10%;
    left: 67%;
    opacity: 0.9270828435;
    transform: rotate(270.17139deg);
    -webkit-animation: drop-23 4.1290107427s 0.4685224997s infinite;
            animation: drop-23 4.1290107427s 0.4685224997s infinite;
  }
  
  @-webkit-keyframes drop-23 {
    100% {
      top: 110%;
      left: 82%;
    }
  }
  
  @keyframes drop-23 {
    100% {
      top: 110%;
      left: 82%;
    }
  }
  .confetti-24 {
    width: 3px;
    height: 1.2px;
    background-color: #263672;
    top: -10%;
    left: 6%;
    opacity: 0.9160697394;
    transform: rotate(59.435265879deg);
    -webkit-animation: drop-24 4.7538097502s 0.2652792527s infinite;
            animation: drop-24 4.7538097502s 0.2652792527s infinite;
  }
  
  @-webkit-keyframes drop-24 {
    100% {
      top: 110%;
      left: 14%;
    }
  }
  
  @keyframes drop-24 {
    100% {
      top: 110%;
      left: 14%;
    }
  }
  .confetti-25 {
    width: 5px;
    height: 2px;
    background-color: #263672;
    top: -10%;
    left: 60%;
    opacity: 0.5077313885;
    transform: rotate(237.604250112deg);
    -webkit-animation: drop-25 4.1800053749s 0.7199406916s infinite;
            animation: drop-25 4.1800053749s 0.7199406916s infinite;
  }
  
  @-webkit-keyframes drop-25 {
    100% {
      top: 110%;
      left: 67%;
    }
  }
  
  @keyframes drop-25 {
    100% {
      top: 110%;
      left: 67%;
    }
  }
  .confetti-26 {
    width: 7px;
    height: 2.8px;
    background-color: #d13447;
    top: -10%;
    left: 59%;
    opacity: 1.0758712848;
    transform: rotate(156.9363920884deg);
    -webkit-animation: drop-26 4.3948722602s 0.7355342762s infinite;
            animation: drop-26 4.3948722602s 0.7355342762s infinite;
  }
  
  @-webkit-keyframes drop-26 {
    100% {
      top: 110%;
      left: 68%;
    }
  }
  
  @keyframes drop-26 {
    100% {
      top: 110%;
      left: 68%;
    }
  }
  .confetti-27 {
    width: 4px;
    height: 1.6px;
    background-color: #ffbf00;
    top: -10%;
    left: 33%;
    opacity: 1.1828083883;
    transform: rotate(310.2263071073deg);
    -webkit-animation: drop-27 4.7685989992s 0.6289618878s infinite;
            animation: drop-27 4.7685989992s 0.6289618878s infinite;
  }
  
  @-webkit-keyframes drop-27 {
    100% {
      top: 110%;
      left: 39%;
    }
  }
  
  @keyframes drop-27 {
    100% {
      top: 110%;
      left: 39%;
    }
  }
  .confetti-28 {
    width: 4px;
    height: 1.6px;
    background-color: #263672;
    top: -10%;
    left: 63%;
    opacity: 0.8402281726;
    transform: rotate(31.3021495019deg);
    -webkit-animation: drop-28 4.748243093s 0.9835774088s infinite;
            animation: drop-28 4.748243093s 0.9835774088s infinite;
  }
  
  @-webkit-keyframes drop-28 {
    100% {
      top: 110%;
      left: 70%;
    }
  }
  
  @keyframes drop-28 {
    100% {
      top: 110%;
      left: 70%;
    }
  }
  .confetti-29 {
    width: 7px;
    height: 2.8px;
    background-color: #263672;
    top: -10%;
    left: 67%;
    opacity: 1.0460814519;
    transform: rotate(184.8452676394deg);
    -webkit-animation: drop-29 4.4151320918s 0.7717652529s infinite;
            animation: drop-29 4.4151320918s 0.7717652529s infinite;
  }
  
  @-webkit-keyframes drop-29 {
    100% {
      top: 110%;
      left: 69%;
    }
  }
  
  @keyframes drop-29 {
    100% {
      top: 110%;
      left: 69%;
    }
  }
  .confetti-30 {
    width: 4px;
    height: 1.6px;
    background-color: #d13447;
    top: -10%;
    left: 35%;
    opacity: 0.6498313981;
    transform: rotate(143.8239208578deg);
    -webkit-animation: drop-30 4.9906527687s 0.100063027s infinite;
            animation: drop-30 4.9906527687s 0.100063027s infinite;
  }
  
  @-webkit-keyframes drop-30 {
    100% {
      top: 110%;
      left: 38%;
    }
  }
  
  @keyframes drop-30 {
    100% {
      top: 110%;
      left: 38%;
    }
  }
  .confetti-31 {
    width: 3px;
    height: 1.2px;
    background-color: #d13447;
    top: -10%;
    left: 78%;
    opacity: 1.4761167889;
    transform: rotate(187.7003514577deg);
    -webkit-animation: drop-31 4.4917839773s 0.9276514155s infinite;
            animation: drop-31 4.4917839773s 0.9276514155s infinite;
  }
  
  @-webkit-keyframes drop-31 {
    100% {
      top: 110%;
      left: 80%;
    }
  }
  
  @keyframes drop-31 {
    100% {
      top: 110%;
      left: 80%;
    }
  }
  .confetti-32 {
    width: 4px;
    height: 1.6px;
    background-color: #d13447;
    top: -10%;
    left: 75%;
    opacity: 1.0326152739;
    transform: rotate(1.6409398438deg);
    -webkit-animation: drop-32 4.5931126022s 0.388074274s infinite;
            animation: drop-32 4.5931126022s 0.388074274s infinite;
  }
  
  @-webkit-keyframes drop-32 {
    100% {
      top: 110%;
      left: 89%;
    }
  }
  
  @keyframes drop-32 {
    100% {
      top: 110%;
      left: 89%;
    }
  }
  .confetti-33 {
    width: 1px;
    height: 0.4px;
    background-color: #d13447;
    top: -10%;
    left: 2%;
    opacity: 0.5885006875;
    transform: rotate(167.1934370023deg);
    -webkit-animation: drop-33 4.2948867284s 0.6681650386s infinite;
            animation: drop-33 4.2948867284s 0.6681650386s infinite;
  }
  
  @-webkit-keyframes drop-33 {
    100% {
      top: 110%;
      left: 15%;
    }
  }
  
  @keyframes drop-33 {
    100% {
      top: 110%;
      left: 15%;
    }
  }
  .confetti-34 {
    width: 7px;
    height: 2.8px;
    background-color: #ffbf00;
    top: -10%;
    left: 84%;
    opacity: 0.684848962;
    transform: rotate(351.1807101469deg);
    -webkit-animation: drop-34 4.6804751721s 0.9518938829s infinite;
            animation: drop-34 4.6804751721s 0.9518938829s infinite;
  }
  
  @-webkit-keyframes drop-34 {
    100% {
      top: 110%;
      left: 85%;
    }
  }
  
  @keyframes drop-34 {
    100% {
      top: 110%;
      left: 85%;
    }
  }
  .confetti-35 {
    width: 2px;
    height: 0.8px;
    background-color: #263672;
    top: -10%;
    left: 30%;
    opacity: 0.618333614;
    transform: rotate(40.8084999622deg);
    -webkit-animation: drop-35 4.1386572272s 0.2843320922s infinite;
            animation: drop-35 4.1386572272s 0.2843320922s infinite;
  }
  
  @-webkit-keyframes drop-35 {
    100% {
      top: 110%;
      left: 44%;
    }
  }
  
  @keyframes drop-35 {
    100% {
      top: 110%;
      left: 44%;
    }
  }
  .confetti-36 {
    width: 4px;
    height: 1.6px;
    background-color: #263672;
    top: -10%;
    left: 10%;
    opacity: 1.4921603333;
    transform: rotate(103.8046657214deg);
    -webkit-animation: drop-36 4.8999352838s 0.4763387247s infinite;
            animation: drop-36 4.8999352838s 0.4763387247s infinite;
  }
  
  @-webkit-keyframes drop-36 {
    100% {
      top: 110%;
      left: 17%;
    }
  }
  
  @keyframes drop-36 {
    100% {
      top: 110%;
      left: 17%;
    }
  }
  .confetti-37 {
    width: 3px;
    height: 1.2px;
    background-color: #263672;
    top: -10%;
    left: 79%;
    opacity: 1.0512918885;
    transform: rotate(243.5709617281deg);
    -webkit-animation: drop-37 4.4956795419s 0.8389552855s infinite;
            animation: drop-37 4.4956795419s 0.8389552855s infinite;
  }
  
  @-webkit-keyframes drop-37 {
    100% {
      top: 110%;
      left: 91%;
    }
  }
  
  @keyframes drop-37 {
    100% {
      top: 110%;
      left: 91%;
    }
  }
  .confetti-38 {
    width: 4px;
    height: 1.6px;
    background-color: #ffbf00;
    top: -10%;
    left: 3%;
    opacity: 0.9766338453;
    transform: rotate(248.1612125152deg);
    -webkit-animation: drop-38 4.9616697115s 0.4116361361s infinite;
            animation: drop-38 4.9616697115s 0.4116361361s infinite;
  }
  
  @-webkit-keyframes drop-38 {
    100% {
      top: 110%;
      left: 13%;
    }
  }
  
  @keyframes drop-38 {
    100% {
      top: 110%;
      left: 13%;
    }
  }
  .confetti-39 {
    width: 5px;
    height: 2px;
    background-color: #ffbf00;
    top: -10%;
    left: 87%;
    opacity: 1.3200628093;
    transform: rotate(77.0583436625deg);
    -webkit-animation: drop-39 4.3002659883s 0.3436721777s infinite;
            animation: drop-39 4.3002659883s 0.3436721777s infinite;
  }
  
  @-webkit-keyframes drop-39 {
    100% {
      top: 110%;
      left: 92%;
    }
  }
  
  @keyframes drop-39 {
    100% {
      top: 110%;
      left: 92%;
    }
  }
  .confetti-40 {
    width: 5px;
    height: 2px;
    background-color: #d13447;
    top: -10%;
    left: 72%;
    opacity: 1.3038270138;
    transform: rotate(2.9858777665deg);
    -webkit-animation: drop-40 4.9419020708s 0.9213805315s infinite;
            animation: drop-40 4.9419020708s 0.9213805315s infinite;
  }
  
  @-webkit-keyframes drop-40 {
    100% {
      top: 110%;
      left: 83%;
    }
  }
  
  @keyframes drop-40 {
    100% {
      top: 110%;
      left: 83%;
    }
  }
  .confetti-41 {
    width: 8px;
    height: 3.2px;
    background-color: #263672;
    top: -10%;
    left: 41%;
    opacity: 1.013588241;
    transform: rotate(160.3685568769deg);
    -webkit-animation: drop-41 4.5961504476s 0.0689713933s infinite;
            animation: drop-41 4.5961504476s 0.0689713933s infinite;
  }
  
  @-webkit-keyframes drop-41 {
    100% {
      top: 110%;
      left: 56%;
    }
  }
  
  @keyframes drop-41 {
    100% {
      top: 110%;
      left: 56%;
    }
  }
  .confetti-42 {
    width: 5px;
    height: 2px;
    background-color: #ffbf00;
    top: -10%;
    left: 91%;
    opacity: 0.8084686426;
    transform: rotate(161.343043269deg);
    -webkit-animation: drop-42 4.9834588503s 0.945896683s infinite;
            animation: drop-42 4.9834588503s 0.945896683s infinite;
  }
  
  @-webkit-keyframes drop-42 {
    100% {
      top: 110%;
      left: 92%;
    }
  }
  
  @keyframes drop-42 {
    100% {
      top: 110%;
      left: 92%;
    }
  }
  .confetti-43 {
    width: 3px;
    height: 1.2px;
    background-color: #d13447;
    top: -10%;
    left: 71%;
    opacity: 0.5750356377;
    transform: rotate(313.8421408727deg);
    -webkit-animation: drop-43 4.6432770145s 0.0698293944s infinite;
            animation: drop-43 4.6432770145s 0.0698293944s infinite;
  }
  
  @-webkit-keyframes drop-43 {
    100% {
      top: 110%;
      left: 73%;
    }
  }
  
  @keyframes drop-43 {
    100% {
      top: 110%;
      left: 73%;
    }
  }
  .confetti-44 {
    width: 2px;
    height: 0.8px;
    background-color: #263672;
    top: -10%;
    left: 57%;
    opacity: 0.5089612881;
    transform: rotate(234.8889438924deg);
    -webkit-animation: drop-44 4.94334046s 0.8823043963s infinite;
            animation: drop-44 4.94334046s 0.8823043963s infinite;
  }
  
  @-webkit-keyframes drop-44 {
    100% {
      top: 110%;
      left: 70%;
    }
  }
  
  @keyframes drop-44 {
    100% {
      top: 110%;
      left: 70%;
    }
  }
  .confetti-45 {
    width: 6px;
    height: 2.4px;
    background-color: #ffbf00;
    top: -10%;
    left: 86%;
    opacity: 1.1442480911;
    transform: rotate(271.4141904521deg);
    -webkit-animation: drop-45 4.3262478367s 0.1376855009s infinite;
            animation: drop-45 4.3262478367s 0.1376855009s infinite;
  }
  
  @-webkit-keyframes drop-45 {
    100% {
      top: 110%;
      left: 101%;
    }
  }
  
  @keyframes drop-45 {
    100% {
      top: 110%;
      left: 101%;
    }
  }
  .confetti-46 {
    width: 7px;
    height: 2.8px;
    background-color: #263672;
    top: -10%;
    left: 14%;
    opacity: 1.2487976494;
    transform: rotate(25.6555235783deg);
    -webkit-animation: drop-46 4.117141329s 0.7717245567s infinite;
            animation: drop-46 4.117141329s 0.7717245567s infinite;
  }
  
  @-webkit-keyframes drop-46 {
    100% {
      top: 110%;
      left: 19%;
    }
  }
  
  @keyframes drop-46 {
    100% {
      top: 110%;
      left: 19%;
    }
  }
  .confetti-47 {
    width: 7px;
    height: 2.8px;
    background-color: #263672;
    top: -10%;
    left: 14%;
    opacity: 1.201424023;
    transform: rotate(248.3147777385deg);
    -webkit-animation: drop-47 4.3743409351s 0.2557137824s infinite;
            animation: drop-47 4.3743409351s 0.2557137824s infinite;
  }
  
  @-webkit-keyframes drop-47 {
    100% {
      top: 110%;
      left: 15%;
    }
  }
  
  @keyframes drop-47 {
    100% {
      top: 110%;
      left: 15%;
    }
  }
  .confetti-48 {
    width: 2px;
    height: 0.8px;
    background-color: #263672;
    top: -10%;
    left: 97%;
    opacity: 1.2900908944;
    transform: rotate(75.5351333024deg);
    -webkit-animation: drop-48 4.3373084858s 0.2492565346s infinite;
            animation: drop-48 4.3373084858s 0.2492565346s infinite;
  }
  
  @-webkit-keyframes drop-48 {
    100% {
      top: 110%;
      left: 112%;
    }
  }
  
  @keyframes drop-48 {
    100% {
      top: 110%;
      left: 112%;
    }
  }
  .confetti-49 {
    width: 3px;
    height: 1.2px;
    background-color: #ffbf00;
    top: -10%;
    left: 71%;
    opacity: 0.5166717282;
    transform: rotate(112.6118430835deg);
    -webkit-animation: drop-49 4.2088641381s 0.6881761352s infinite;
            animation: drop-49 4.2088641381s 0.6881761352s infinite;
  }
  
  @-webkit-keyframes drop-49 {
    100% {
      top: 110%;
      left: 76%;
    }
  }
  
  @keyframes drop-49 {
    100% {
      top: 110%;
      left: 76%;
    }
  }
  .confetti-50 {
    width: 5px;
    height: 2px;
    background-color: #d13447;
    top: -10%;
    left: 34%;
    opacity: 1.4285320569;
    transform: rotate(90.071480375deg);
    -webkit-animation: drop-50 4.7568095233s 0.6612992477s infinite;
            animation: drop-50 4.7568095233s 0.6612992477s infinite;
  }
  
  @-webkit-keyframes drop-50 {
    100% {
      top: 110%;
      left: 49%;
    }
  }
  
  @keyframes drop-50 {
    100% {
      top: 110%;
      left: 49%;
    }
  }
  .confetti-51 {
    width: 5px;
    height: 2px;
    background-color: #ffbf00;
    top: -10%;
    left: 68%;
    opacity: 1.1601963371;
    transform: rotate(292.8000600852deg);
    -webkit-animation: drop-51 4.1809194495s 0.8003971812s infinite;
            animation: drop-51 4.1809194495s 0.8003971812s infinite;
  }
  
  @-webkit-keyframes drop-51 {
    100% {
      top: 110%;
      left: 79%;
    }
  }
  
  @keyframes drop-51 {
    100% {
      top: 110%;
      left: 79%;
    }
  }
  .confetti-52 {
    width: 6px;
    height: 2.4px;
    background-color: #263672;
    top: -10%;
    left: 67%;
    opacity: 1.0593778262;
    transform: rotate(51.6207757604deg);
    -webkit-animation: drop-52 4.3179190135s 0.1740974604s infinite;
            animation: drop-52 4.3179190135s 0.1740974604s infinite;
  }
  
  @-webkit-keyframes drop-52 {
    100% {
      top: 110%;
      left: 81%;
    }
  }
  
  @keyframes drop-52 {
    100% {
      top: 110%;
      left: 81%;
    }
  }
  .confetti-53 {
    width: 2px;
    height: 0.8px;
    background-color: #263672;
    top: -10%;
    left: 51%;
    opacity: 0.6994807875;
    transform: rotate(176.8168645803deg);
    -webkit-animation: drop-53 4.7681661295s 0.5374949204s infinite;
            animation: drop-53 4.7681661295s 0.5374949204s infinite;
  }
  
  @-webkit-keyframes drop-53 {
    100% {
      top: 110%;
      left: 53%;
    }
  }
  
  @keyframes drop-53 {
    100% {
      top: 110%;
      left: 53%;
    }
  }
  .confetti-54 {
    width: 2px;
    height: 0.8px;
    background-color: #263672;
    top: -10%;
    left: 62%;
    opacity: 1.1699325928;
    transform: rotate(137.985937377deg);
    -webkit-animation: drop-54 4.997805621s 0.8328382114s infinite;
            animation: drop-54 4.997805621s 0.8328382114s infinite;
  }
  
  @-webkit-keyframes drop-54 {
    100% {
      top: 110%;
      left: 65%;
    }
  }
  
  @keyframes drop-54 {
    100% {
      top: 110%;
      left: 65%;
    }
  }
  .confetti-55 {
    width: 5px;
    height: 2px;
    background-color: #d13447;
    top: -10%;
    left: 13%;
    opacity: 0.6631486593;
    transform: rotate(313.4909624393deg);
    -webkit-animation: drop-55 4.8273387127s 0.1891492891s infinite;
            animation: drop-55 4.8273387127s 0.1891492891s infinite;
  }
  
  @-webkit-keyframes drop-55 {
    100% {
      top: 110%;
      left: 14%;
    }
  }
  
  @keyframes drop-55 {
    100% {
      top: 110%;
      left: 14%;
    }
  }
  .confetti-56 {
    width: 4px;
    height: 1.6px;
    background-color: #263672;
    top: -10%;
    left: 65%;
    opacity: 0.7277767724;
    transform: rotate(243.0131155323deg);
    -webkit-animation: drop-56 4.6022135078s 0.7365657736s infinite;
            animation: drop-56 4.6022135078s 0.7365657736s infinite;
  }
  
  @-webkit-keyframes drop-56 {
    100% {
      top: 110%;
      left: 76%;
    }
  }
  
  @keyframes drop-56 {
    100% {
      top: 110%;
      left: 76%;
    }
  }
  .confetti-57 {
    width: 1px;
    height: 0.4px;
    background-color: #263672;
    top: -10%;
    left: 17%;
    opacity: 0.5856557038;
    transform: rotate(257.8806677905deg);
    -webkit-animation: drop-57 4.4906221475s 0.9823111526s infinite;
            animation: drop-57 4.4906221475s 0.9823111526s infinite;
  }
  
  @-webkit-keyframes drop-57 {
    100% {
      top: 110%;
      left: 23%;
    }
  }
  
  @keyframes drop-57 {
    100% {
      top: 110%;
      left: 23%;
    }
  }
  .confetti-58 {
    width: 2px;
    height: 0.8px;
    background-color: #d13447;
    top: -10%;
    left: 19%;
    opacity: 0.9446544196;
    transform: rotate(164.4207524497deg);
    -webkit-animation: drop-58 4.9093549168s 0.267248016s infinite;
            animation: drop-58 4.9093549168s 0.267248016s infinite;
  }
  
  @-webkit-keyframes drop-58 {
    100% {
      top: 110%;
      left: 22%;
    }
  }
  
  @keyframes drop-58 {
    100% {
      top: 110%;
      left: 22%;
    }
  }
  .confetti-59 {
    width: 4px;
    height: 1.6px;
    background-color: #ffbf00;
    top: -10%;
    left: 96%;
    opacity: 1.115149522;
    transform: rotate(326.4907171372deg);
    -webkit-animation: drop-59 4.7291804328s 0.5223020125s infinite;
            animation: drop-59 4.7291804328s 0.5223020125s infinite;
  }
  
  @-webkit-keyframes drop-59 {
    100% {
      top: 110%;
      left: 101%;
    }
  }
  
  @keyframes drop-59 {
    100% {
      top: 110%;
      left: 101%;
    }
  }
  .confetti-60 {
    width: 7px;
    height: 2.8px;
    background-color: #d13447;
    top: -10%;
    left: 35%;
    opacity: 0.5047503215;
    transform: rotate(144.1597289403deg);
    -webkit-animation: drop-60 4.1803055152s 0.7389907788s infinite;
            animation: drop-60 4.1803055152s 0.7389907788s infinite;
  }
  
  @-webkit-keyframes drop-60 {
    100% {
      top: 110%;
      left: 38%;
    }
  }
  
  @keyframes drop-60 {
    100% {
      top: 110%;
      left: 38%;
    }
  }
  .confetti-61 {
    width: 8px;
    height: 3.2px;
    background-color: #ffbf00;
    top: -10%;
    left: 21%;
    opacity: 1.4703368502;
    transform: rotate(324.996763305deg);
    -webkit-animation: drop-61 4.4964416476s 0.078102177s infinite;
            animation: drop-61 4.4964416476s 0.078102177s infinite;
  }
  
  @-webkit-keyframes drop-61 {
    100% {
      top: 110%;
      left: 27%;
    }
  }
  
  @keyframes drop-61 {
    100% {
      top: 110%;
      left: 27%;
    }
  }
  .confetti-62 {
    width: 2px;
    height: 0.8px;
    background-color: #ffbf00;
    top: -10%;
    left: 67%;
    opacity: 1.092672443;
    transform: rotate(320.6618578461deg);
    -webkit-animation: drop-62 4.3998011453s 0.201223337s infinite;
            animation: drop-62 4.3998011453s 0.201223337s infinite;
  }
  
  @-webkit-keyframes drop-62 {
    100% {
      top: 110%;
      left: 71%;
    }
  }
  
  @keyframes drop-62 {
    100% {
      top: 110%;
      left: 71%;
    }
  }
  .confetti-63 {
    width: 8px;
    height: 3.2px;
    background-color: #263672;
    top: -10%;
    left: 35%;
    opacity: 0.7512636008;
    transform: rotate(169.6842488237deg);
    -webkit-animation: drop-63 4.9885879485s 0.1249070886s infinite;
            animation: drop-63 4.9885879485s 0.1249070886s infinite;
  }
  
  @-webkit-keyframes drop-63 {
    100% {
      top: 110%;
      left: 41%;
    }
  }
  
  @keyframes drop-63 {
    100% {
      top: 110%;
      left: 41%;
    }
  }
  .confetti-64 {
    width: 7px;
    height: 2.8px;
    background-color: #263672;
    top: -10%;
    left: 33%;
    opacity: 1.1382953779;
    transform: rotate(243.859618887deg);
    -webkit-animation: drop-64 4.4442480205s 0.2436131102s infinite;
            animation: drop-64 4.4442480205s 0.2436131102s infinite;
  }
  
  @-webkit-keyframes drop-64 {
    100% {
      top: 110%;
      left: 45%;
    }
  }
  
  @keyframes drop-64 {
    100% {
      top: 110%;
      left: 45%;
    }
  }
  .confetti-65 {
    width: 6px;
    height: 2.4px;
    background-color: #ffbf00;
    top: -10%;
    left: 28%;
    opacity: 1.384706362;
    transform: rotate(51.699674657deg);
    -webkit-animation: drop-65 4.3481080083s 0.8103876946s infinite;
            animation: drop-65 4.3481080083s 0.8103876946s infinite;
  }
  
  @-webkit-keyframes drop-65 {
    100% {
      top: 110%;
      left: 31%;
    }
  }
  
  @keyframes drop-65 {
    100% {
      top: 110%;
      left: 31%;
    }
  }
  .confetti-66 {
    width: 1px;
    height: 0.4px;
    background-color: #ffbf00;
    top: -10%;
    left: 77%;
    opacity: 0.7752997187;
    transform: rotate(277.4793687409deg);
    -webkit-animation: drop-66 4.0373497655s 0.4486428192s infinite;
            animation: drop-66 4.0373497655s 0.4486428192s infinite;
  }
  
  @-webkit-keyframes drop-66 {
    100% {
      top: 110%;
      left: 82%;
    }
  }
  
  @keyframes drop-66 {
    100% {
      top: 110%;
      left: 82%;
    }
  }
  .confetti-67 {
    width: 6px;
    height: 2.4px;
    background-color: #ffbf00;
    top: -10%;
    left: 46%;
    opacity: 0.6490873821;
    transform: rotate(160.4362313432deg);
    -webkit-animation: drop-67 4.4145790628s 0.1667593953s infinite;
            animation: drop-67 4.4145790628s 0.1667593953s infinite;
  }
  
  @-webkit-keyframes drop-67 {
    100% {
      top: 110%;
      left: 51%;
    }
  }
  
  @keyframes drop-67 {
    100% {
      top: 110%;
      left: 51%;
    }
  }
  .confetti-68 {
    width: 2px;
    height: 0.8px;
    background-color: #ffbf00;
    top: -10%;
    left: 45%;
    opacity: 0.5567884287;
    transform: rotate(180.5538176835deg);
    -webkit-animation: drop-68 4.112955519s 0.5944139979s infinite;
            animation: drop-68 4.112955519s 0.5944139979s infinite;
  }
  
  @-webkit-keyframes drop-68 {
    100% {
      top: 110%;
      left: 51%;
    }
  }
  
  @keyframes drop-68 {
    100% {
      top: 110%;
      left: 51%;
    }
  }
  .confetti-69 {
    width: 5px;
    height: 2px;
    background-color: #d13447;
    top: -10%;
    left: 64%;
    opacity: 1.1461022102;
    transform: rotate(181.3676773358deg);
    -webkit-animation: drop-69 4.0374487844s 0.3849568273s infinite;
            animation: drop-69 4.0374487844s 0.3849568273s infinite;
  }
  
  @-webkit-keyframes drop-69 {
    100% {
      top: 110%;
      left: 75%;
    }
  }
  
  @keyframes drop-69 {
    100% {
      top: 110%;
      left: 75%;
    }
  }
  .confetti-70 {
    width: 1px;
    height: 0.4px;
    background-color: #d13447;
    top: -10%;
    left: 8%;
    opacity: 0.9375118001;
    transform: rotate(358.821230278deg);
    -webkit-animation: drop-70 4.5185610111s 0.8849855184s infinite;
            animation: drop-70 4.5185610111s 0.8849855184s infinite;
  }
  
  @-webkit-keyframes drop-70 {
    100% {
      top: 110%;
      left: 22%;
    }
  }
  
  @keyframes drop-70 {
    100% {
      top: 110%;
      left: 22%;
    }
  }
  .confetti-71 {
    width: 7px;
    height: 2.8px;
    background-color: #d13447;
    top: -10%;
    left: 63%;
    opacity: 1.0322239794;
    transform: rotate(264.2099251637deg);
    -webkit-animation: drop-71 4.258761459s 0.524246633s infinite;
            animation: drop-71 4.258761459s 0.524246633s infinite;
  }
  
  @-webkit-keyframes drop-71 {
    100% {
      top: 110%;
      left: 64%;
    }
  }
  
  @keyframes drop-71 {
    100% {
      top: 110%;
      left: 64%;
    }
  }
  .confetti-72 {
    width: 1px;
    height: 0.4px;
    background-color: #263672;
    top: -10%;
    left: 60%;
    opacity: 1.0227380812;
    transform: rotate(357.9379423878deg);
    -webkit-animation: drop-72 4.1384332591s 0.4455775842s infinite;
            animation: drop-72 4.1384332591s 0.4455775842s infinite;
  }
  
  @-webkit-keyframes drop-72 {
    100% {
      top: 110%;
      left: 71%;
    }
  }
  
  @keyframes drop-72 {
    100% {
      top: 110%;
      left: 71%;
    }
  }
  .confetti-73 {
    width: 6px;
    height: 2.4px;
    background-color: #ffbf00;
    top: -10%;
    left: 76%;
    opacity: 0.8251259085;
    transform: rotate(166.4371765927deg);
    -webkit-animation: drop-73 4.0476097061s 0.1197673552s infinite;
            animation: drop-73 4.0476097061s 0.1197673552s infinite;
  }
  
  @-webkit-keyframes drop-73 {
    100% {
      top: 110%;
      left: 87%;
    }
  }
  
  @keyframes drop-73 {
    100% {
      top: 110%;
      left: 87%;
    }
  }
  .confetti-74 {
    width: 2px;
    height: 0.8px;
    background-color: #d13447;
    top: -10%;
    left: 26%;
    opacity: 0.8925452288;
    transform: rotate(343.3320913722deg);
    -webkit-animation: drop-74 4.2148019851s 0.6378055073s infinite;
            animation: drop-74 4.2148019851s 0.6378055073s infinite;
  }
  
  @-webkit-keyframes drop-74 {
    100% {
      top: 110%;
      left: 27%;
    }
  }
  
  @keyframes drop-74 {
    100% {
      top: 110%;
      left: 27%;
    }
  }
  .confetti-75 {
    width: 2px;
    height: 0.8px;
    background-color: #263672;
    top: -10%;
    left: 50%;
    opacity: 0.5004570826;
    transform: rotate(3.1674455986deg);
    -webkit-animation: drop-75 4.910323867s 0.3518927604s infinite;
            animation: drop-75 4.910323867s 0.3518927604s infinite;
  }
  
  @-webkit-keyframes drop-75 {
    100% {
      top: 110%;
      left: 60%;
    }
  }
  
  @keyframes drop-75 {
    100% {
      top: 110%;
      left: 60%;
    }
  }
  .confetti-76 {
    width: 8px;
    height: 3.2px;
    background-color: #d13447;
    top: -10%;
    left: 6%;
    opacity: 1.3949821144;
    transform: rotate(149.1099941356deg);
    -webkit-animation: drop-76 4.2002592964s 0.4363614577s infinite;
            animation: drop-76 4.2002592964s 0.4363614577s infinite;
  }
  
  @-webkit-keyframes drop-76 {
    100% {
      top: 110%;
      left: 17%;
    }
  }
  
  @keyframes drop-76 {
    100% {
      top: 110%;
      left: 17%;
    }
  }
  .confetti-77 {
    width: 3px;
    height: 1.2px;
    background-color: #d13447;
    top: -10%;
    left: 28%;
    opacity: 0.9194177454;
    transform: rotate(244.7975264541deg);
    -webkit-animation: drop-77 4.2230563147s 0.072320285s infinite;
            animation: drop-77 4.2230563147s 0.072320285s infinite;
  }
  
  @-webkit-keyframes drop-77 {
    100% {
      top: 110%;
      left: 37%;
    }
  }
  
  @keyframes drop-77 {
    100% {
      top: 110%;
      left: 37%;
    }
  }
  .confetti-78 {
    width: 3px;
    height: 1.2px;
    background-color: #d13447;
    top: -10%;
    left: 76%;
    opacity: 0.6925884628;
    transform: rotate(197.9221756022deg);
    -webkit-animation: drop-78 4.2913576324s 0.3157610404s infinite;
            animation: drop-78 4.2913576324s 0.3157610404s infinite;
  }
  
  @-webkit-keyframes drop-78 {
    100% {
      top: 110%;
      left: 79%;
    }
  }
  
  @keyframes drop-78 {
    100% {
      top: 110%;
      left: 79%;
    }
  }
  .confetti-79 {
    width: 4px;
    height: 1.6px;
    background-color: #263672;
    top: -10%;
    left: 92%;
    opacity: 0.9562687743;
    transform: rotate(189.9035366415deg);
    -webkit-animation: drop-79 4.6839083865s 0.6352605274s infinite;
            animation: drop-79 4.6839083865s 0.6352605274s infinite;
  }
  
  @-webkit-keyframes drop-79 {
    100% {
      top: 110%;
      left: 93%;
    }
  }
  
  @keyframes drop-79 {
    100% {
      top: 110%;
      left: 93%;
    }
  }
  .confetti-80 {
    width: 3px;
    height: 1.2px;
    background-color: #ffbf00;
    top: -10%;
    left: 39%;
    opacity: 1.2710158212;
    transform: rotate(73.1654876311deg);
    -webkit-animation: drop-80 4.8009635491s 0.5349636609s infinite;
            animation: drop-80 4.8009635491s 0.5349636609s infinite;
  }
  
  @-webkit-keyframes drop-80 {
    100% {
      top: 110%;
      left: 51%;
    }
  }
  
  @keyframes drop-80 {
    100% {
      top: 110%;
      left: 51%;
    }
  }
  .confetti-81 {
    width: 2px;
    height: 0.8px;
    background-color: #ffbf00;
    top: -10%;
    left: 43%;
    opacity: 0.5767867549;
    transform: rotate(56.491042523deg);
    -webkit-animation: drop-81 4.1188854156s 0.0945751883s infinite;
            animation: drop-81 4.1188854156s 0.0945751883s infinite;
  }
  
  @-webkit-keyframes drop-81 {
    100% {
      top: 110%;
      left: 55%;
    }
  }
  
  @keyframes drop-81 {
    100% {
      top: 110%;
      left: 55%;
    }
  }
  .confetti-82 {
    width: 1px;
    height: 0.4px;
    background-color: #263672;
    top: -10%;
    left: 7%;
    opacity: 1.1568982604;
    transform: rotate(41.2606751107deg);
    -webkit-animation: drop-82 4.852142505s 0.6994485205s infinite;
            animation: drop-82 4.852142505s 0.6994485205s infinite;
  }
  
  @-webkit-keyframes drop-82 {
    100% {
      top: 110%;
      left: 21%;
    }
  }
  
  @keyframes drop-82 {
    100% {
      top: 110%;
      left: 21%;
    }
  }
  .confetti-83 {
    width: 6px;
    height: 2.4px;
    background-color: #263672;
    top: -10%;
    left: 65%;
    opacity: 0.7290716327;
    transform: rotate(156.8698141703deg);
    -webkit-animation: drop-83 4.3574538299s 0.8116015176s infinite;
            animation: drop-83 4.3574538299s 0.8116015176s infinite;
  }
  
  @-webkit-keyframes drop-83 {
    100% {
      top: 110%;
      left: 72%;
    }
  }
  
  @keyframes drop-83 {
    100% {
      top: 110%;
      left: 72%;
    }
  }
  .confetti-84 {
    width: 8px;
    height: 3.2px;
    background-color: #263672;
    top: -10%;
    left: 49%;
    opacity: 0.7484271761;
    transform: rotate(240.2769344963deg);
    -webkit-animation: drop-84 4.971784285s 0.4416347905s infinite;
            animation: drop-84 4.971784285s 0.4416347905s infinite;
  }
  
  @-webkit-keyframes drop-84 {
    100% {
      top: 110%;
      left: 57%;
    }
  }
  
  @keyframes drop-84 {
    100% {
      top: 110%;
      left: 57%;
    }
  }
  .confetti-85 {
    width: 1px;
    height: 0.4px;
    background-color: #ffbf00;
    top: -10%;
    left: 20%;
    opacity: 0.8450357784;
    transform: rotate(211.0288087523deg);
    -webkit-animation: drop-85 4.1022373235s 0.752928531s infinite;
            animation: drop-85 4.1022373235s 0.752928531s infinite;
  }
  
  @-webkit-keyframes drop-85 {
    100% {
      top: 110%;
      left: 22%;
    }
  }
  
  @keyframes drop-85 {
    100% {
      top: 110%;
      left: 22%;
    }
  }
  .confetti-86 {
    width: 7px;
    height: 2.8px;
    background-color: #ffbf00;
    top: -10%;
    left: 45%;
    opacity: 1.3787533431;
    transform: rotate(249.0447298946deg);
    -webkit-animation: drop-86 4.9355809383s 0.9733861274s infinite;
            animation: drop-86 4.9355809383s 0.9733861274s infinite;
  }
  
  @-webkit-keyframes drop-86 {
    100% {
      top: 110%;
      left: 56%;
    }
  }
  
  @keyframes drop-86 {
    100% {
      top: 110%;
      left: 56%;
    }
  }
  .confetti-87 {
    width: 8px;
    height: 3.2px;
    background-color: #d13447;
    top: -10%;
    left: 5%;
    opacity: 0.5985502941;
    transform: rotate(76.164529664deg);
    -webkit-animation: drop-87 4.9791068834s 0.9493890104s infinite;
            animation: drop-87 4.9791068834s 0.9493890104s infinite;
  }
  
  @-webkit-keyframes drop-87 {
    100% {
      top: 110%;
      left: 18%;
    }
  }
  
  @keyframes drop-87 {
    100% {
      top: 110%;
      left: 18%;
    }
  }
  .confetti-88 {
    width: 7px;
    height: 2.8px;
    background-color: #263672;
    top: -10%;
    left: 10%;
    opacity: 0.9869364281;
    transform: rotate(96.8366041815deg);
    -webkit-animation: drop-88 4.85010551s 0.5014212267s infinite;
            animation: drop-88 4.85010551s 0.5014212267s infinite;
  }
  
  @-webkit-keyframes drop-88 {
    100% {
      top: 110%;
      left: 25%;
    }
  }
  
  @keyframes drop-88 {
    100% {
      top: 110%;
      left: 25%;
    }
  }
  .confetti-89 {
    width: 4px;
    height: 1.6px;
    background-color: #263672;
    top: -10%;
    left: 100%;
    opacity: 0.8526831726;
    transform: rotate(220.290817088deg);
    -webkit-animation: drop-89 4.2827060887s 0.0267739082s infinite;
            animation: drop-89 4.2827060887s 0.0267739082s infinite;
  }
  
  @-webkit-keyframes drop-89 {
    100% {
      top: 110%;
      left: 103%;
    }
  }
  
  @keyframes drop-89 {
    100% {
      top: 110%;
      left: 103%;
    }
  }
  .confetti-90 {
    width: 1px;
    height: 0.4px;
    background-color: #d13447;
    top: -10%;
    left: 93%;
    opacity: 1.4798051235;
    transform: rotate(264.0513924447deg);
    -webkit-animation: drop-90 4.9474984052s 0.8484261709s infinite;
            animation: drop-90 4.9474984052s 0.8484261709s infinite;
  }
  
  @-webkit-keyframes drop-90 {
    100% {
      top: 110%;
      left: 106%;
    }
  }
  
  @keyframes drop-90 {
    100% {
      top: 110%;
      left: 106%;
    }
  }
  .confetti-91 {
    width: 8px;
    height: 3.2px;
    background-color: #263672;
    top: -10%;
    left: 17%;
    opacity: 0.6438657388;
    transform: rotate(253.3901389553deg);
    -webkit-animation: drop-91 4.9314283722s 0.2715057283s infinite;
            animation: drop-91 4.9314283722s 0.2715057283s infinite;
  }
  
  @-webkit-keyframes drop-91 {
    100% {
      top: 110%;
      left: 31%;
    }
  }
  
  @keyframes drop-91 {
    100% {
      top: 110%;
      left: 31%;
    }
  }
  .confetti-92 {
    width: 2px;
    height: 0.8px;
    background-color: #263672;
    top: -10%;
    left: 43%;
    opacity: 1.0098255669;
    transform: rotate(329.3870187361deg);
    -webkit-animation: drop-92 4.8791666672s 0.0273495969s infinite;
            animation: drop-92 4.8791666672s 0.0273495969s infinite;
  }
  
  @-webkit-keyframes drop-92 {
    100% {
      top: 110%;
      left: 54%;
    }
  }
  
  @keyframes drop-92 {
    100% {
      top: 110%;
      left: 54%;
    }
  }
  .confetti-93 {
    width: 2px;
    height: 0.8px;
    background-color: #d13447;
    top: -10%;
    left: 19%;
    opacity: 1.1565687467;
    transform: rotate(268.4506859384deg);
    -webkit-animation: drop-93 4.8162097661s 0.9169968985s infinite;
            animation: drop-93 4.8162097661s 0.9169968985s infinite;
  }
  
  @-webkit-keyframes drop-93 {
    100% {
      top: 110%;
      left: 29%;
    }
  }
  
  @keyframes drop-93 {
    100% {
      top: 110%;
      left: 29%;
    }
  }
  .confetti-94 {
    width: 3px;
    height: 1.2px;
    background-color: #ffbf00;
    top: -10%;
    left: 26%;
    opacity: 1.075157071;
    transform: rotate(81.3792439257deg);
    -webkit-animation: drop-94 4.516382716s 0.797817164s infinite;
            animation: drop-94 4.516382716s 0.797817164s infinite;
  }
  
  @-webkit-keyframes drop-94 {
    100% {
      top: 110%;
      left: 36%;
    }
  }
  
  @keyframes drop-94 {
    100% {
      top: 110%;
      left: 36%;
    }
  }
  .confetti-95 {
    width: 2px;
    height: 0.8px;
    background-color: #ffbf00;
    top: -10%;
    left: 69%;
    opacity: 1.2766908217;
    transform: rotate(348.902191254deg);
    -webkit-animation: drop-95 4.71700031s 0.4739247816s infinite;
            animation: drop-95 4.71700031s 0.4739247816s infinite;
  }
  
  @-webkit-keyframes drop-95 {
    100% {
      top: 110%;
      left: 79%;
    }
  }
  
  @keyframes drop-95 {
    100% {
      top: 110%;
      left: 79%;
    }
  }
  .confetti-96 {
    width: 6px;
    height: 2.4px;
    background-color: #263672;
    top: -10%;
    left: 66%;
    opacity: 1.1249049353;
    transform: rotate(258.8106798969deg);
    -webkit-animation: drop-96 4.3472780581s 0.7038408913s infinite;
            animation: drop-96 4.3472780581s 0.7038408913s infinite;
  }
  
  @-webkit-keyframes drop-96 {
    100% {
      top: 110%;
      left: 74%;
    }
  }
  
  @keyframes drop-96 {
    100% {
      top: 110%;
      left: 74%;
    }
  }
  .confetti-97 {
    width: 6px;
    height: 2.4px;
    background-color: #ffbf00;
    top: -10%;
    left: 61%;
    opacity: 1.1085990004;
    transform: rotate(73.7401928294deg);
    -webkit-animation: drop-97 4.4731689498s 0.1030184436s infinite;
            animation: drop-97 4.4731689498s 0.1030184436s infinite;
  }
  
  @-webkit-keyframes drop-97 {
    100% {
      top: 110%;
      left: 67%;
    }
  }
  
  @keyframes drop-97 {
    100% {
      top: 110%;
      left: 67%;
    }
  }
  .confetti-98 {
    width: 6px;
    height: 2.4px;
    background-color: #ffbf00;
    top: -10%;
    left: 69%;
    opacity: 1.1098413335;
    transform: rotate(45.6438648818deg);
    -webkit-animation: drop-98 4.7801052909s 0.2160950678s infinite;
            animation: drop-98 4.7801052909s 0.2160950678s infinite;
  }
  
  @-webkit-keyframes drop-98 {
    100% {
      top: 110%;
      left: 80%;
    }
  }
  
  @keyframes drop-98 {
    100% {
      top: 110%;
      left: 80%;
    }
  }
  .confetti-99 {
    width: 3px;
    height: 1.2px;
    background-color: #263672;
    top: -10%;
    left: 59%;
    opacity: 1.0085280451;
    transform: rotate(339.9793734209deg);
    -webkit-animation: drop-99 4.0821770909s 0.1165727345s infinite;
            animation: drop-99 4.0821770909s 0.1165727345s infinite;
  }
  
  @-webkit-keyframes drop-99 {
    100% {
      top: 110%;
      left: 64%;
    }
  }
  
  @keyframes drop-99 {
    100% {
      top: 110%;
      left: 64%;
    }
  }
  .confetti-100 {
    width: 2px;
    height: 0.8px;
    background-color: #d13447;
    top: -10%;
    left: 62%;
    opacity: 0.7474719611;
    transform: rotate(335.9028462708deg);
    -webkit-animation: drop-100 4.0439284866s 0.9478652586s infinite;
            animation: drop-100 4.0439284866s 0.9478652586s infinite;
  }
  
  @-webkit-keyframes drop-100 {
    100% {
      top: 110%;
      left: 73%;
    }
  }
  
  @keyframes drop-100 {
    100% {
      top: 110%;
      left: 73%;
    }
  }
  .confetti-101 {
    width: 8px;
    height: 3.2px;
    background-color: #d13447;
    top: -10%;
    left: 98%;
    opacity: 0.6979790257;
    transform: rotate(151.731466921deg);
    -webkit-animation: drop-101 4.3090392455s 0.3261641821s infinite;
            animation: drop-101 4.3090392455s 0.3261641821s infinite;
  }
  
  @-webkit-keyframes drop-101 {
    100% {
      top: 110%;
      left: 101%;
    }
  }
  
  @keyframes drop-101 {
    100% {
      top: 110%;
      left: 101%;
    }
  }
  .confetti-102 {
    width: 5px;
    height: 2px;
    background-color: #d13447;
    top: -10%;
    left: 35%;
    opacity: 1.0728149883;
    transform: rotate(181.6726791077deg);
    -webkit-animation: drop-102 4.9520647378s 0.8847727254s infinite;
            animation: drop-102 4.9520647378s 0.8847727254s infinite;
  }
  
  @-webkit-keyframes drop-102 {
    100% {
      top: 110%;
      left: 40%;
    }
  }
  
  @keyframes drop-102 {
    100% {
      top: 110%;
      left: 40%;
    }
  }
  .confetti-103 {
    width: 7px;
    height: 2.8px;
    background-color: #d13447;
    top: -10%;
    left: 75%;
    opacity: 0.6808151757;
    transform: rotate(263.2841290885deg);
    -webkit-animation: drop-103 4.9197362056s 0.2653071972s infinite;
            animation: drop-103 4.9197362056s 0.2653071972s infinite;
  }
  
  @-webkit-keyframes drop-103 {
    100% {
      top: 110%;
      left: 78%;
    }
  }
  
  @keyframes drop-103 {
    100% {
      top: 110%;
      left: 78%;
    }
  }
  .confetti-104 {
    width: 6px;
    height: 2.4px;
    background-color: #ffbf00;
    top: -10%;
    left: 79%;
    opacity: 0.5071263037;
    transform: rotate(59.7026958412deg);
    -webkit-animation: drop-104 4.6816641712s 0.1790572s infinite;
            animation: drop-104 4.6816641712s 0.1790572s infinite;
  }
  
  @-webkit-keyframes drop-104 {
    100% {
      top: 110%;
      left: 92%;
    }
  }
  
  @keyframes drop-104 {
    100% {
      top: 110%;
      left: 92%;
    }
  }
  .confetti-105 {
    width: 2px;
    height: 0.8px;
    background-color: #ffbf00;
    top: -10%;
    left: 8%;
    opacity: 0.5299633712;
    transform: rotate(348.1617755958deg);
    -webkit-animation: drop-105 4.7534201373s 0.9746761094s infinite;
            animation: drop-105 4.7534201373s 0.9746761094s infinite;
  }
  
  @-webkit-keyframes drop-105 {
    100% {
      top: 110%;
      left: 18%;
    }
  }
  
  @keyframes drop-105 {
    100% {
      top: 110%;
      left: 18%;
    }
  }
  .confetti-106 {
    width: 8px;
    height: 3.2px;
    background-color: #d13447;
    top: -10%;
    left: 30%;
    opacity: 0.9933868198;
    transform: rotate(66.5096104442deg);
    -webkit-animation: drop-106 4.4061975735s 0.8505541762s infinite;
            animation: drop-106 4.4061975735s 0.8505541762s infinite;
  }
  
  @-webkit-keyframes drop-106 {
    100% {
      top: 110%;
      left: 37%;
    }
  }
  
  @keyframes drop-106 {
    100% {
      top: 110%;
      left: 37%;
    }
  }
  .confetti-107 {
    width: 4px;
    height: 1.6px;
    background-color: #ffbf00;
    top: -10%;
    left: 11%;
    opacity: 0.624078;
    transform: rotate(17.3738235263deg);
    -webkit-animation: drop-107 4.3587592717s 0.2634426147s infinite;
            animation: drop-107 4.3587592717s 0.2634426147s infinite;
  }
  
  @-webkit-keyframes drop-107 {
    100% {
      top: 110%;
      left: 23%;
    }
  }
  
  @keyframes drop-107 {
    100% {
      top: 110%;
      left: 23%;
    }
  }
  .confetti-108 {
    width: 6px;
    height: 2.4px;
    background-color: #ffbf00;
    top: -10%;
    left: 16%;
    opacity: 1.0837843357;
    transform: rotate(154.7099660294deg);
    -webkit-animation: drop-108 4.3573866636s 0.5122142687s infinite;
            animation: drop-108 4.3573866636s 0.5122142687s infinite;
  }
  
  @-webkit-keyframes drop-108 {
    100% {
      top: 110%;
      left: 28%;
    }
  }
  
  @keyframes drop-108 {
    100% {
      top: 110%;
      left: 28%;
    }
  }
  .confetti-109 {
    width: 3px;
    height: 1.2px;
    background-color: #263672;
    top: -10%;
    left: 15%;
    opacity: 1.1019137278;
    transform: rotate(236.2907072238deg);
    -webkit-animation: drop-109 4.6528433064s 0.5035609677s infinite;
            animation: drop-109 4.6528433064s 0.5035609677s infinite;
  }
  
  @-webkit-keyframes drop-109 {
    100% {
      top: 110%;
      left: 23%;
    }
  }
  
  @keyframes drop-109 {
    100% {
      top: 110%;
      left: 23%;
    }
  }
  .confetti-110 {
    width: 5px;
    height: 2px;
    background-color: #d13447;
    top: -10%;
    left: 22%;
    opacity: 0.8244536825;
    transform: rotate(51.4176634813deg);
    -webkit-animation: drop-110 4.5087370824s 0.4942465835s infinite;
            animation: drop-110 4.5087370824s 0.4942465835s infinite;
  }
  
  @-webkit-keyframes drop-110 {
    100% {
      top: 110%;
      left: 32%;
    }
  }
  
  @keyframes drop-110 {
    100% {
      top: 110%;
      left: 32%;
    }
  }
  .confetti-111 {
    width: 5px;
    height: 2px;
    background-color: #263672;
    top: -10%;
    left: 84%;
    opacity: 1.1147256591;
    transform: rotate(203.1999017832deg);
    -webkit-animation: drop-111 4.1728902019s 0.9666376464s infinite;
            animation: drop-111 4.1728902019s 0.9666376464s infinite;
  }
  
  @-webkit-keyframes drop-111 {
    100% {
      top: 110%;
      left: 94%;
    }
  }
  
  @keyframes drop-111 {
    100% {
      top: 110%;
      left: 94%;
    }
  }
  .confetti-112 {
    width: 7px;
    height: 2.8px;
    background-color: #d13447;
    top: -10%;
    left: 65%;
    opacity: 0.9598940512;
    transform: rotate(210.2431700198deg);
    -webkit-animation: drop-112 4.4678987972s 0.07602083s infinite;
            animation: drop-112 4.4678987972s 0.07602083s infinite;
  }
  
  @-webkit-keyframes drop-112 {
    100% {
      top: 110%;
      left: 79%;
    }
  }
  
  @keyframes drop-112 {
    100% {
      top: 110%;
      left: 79%;
    }
  }
  .confetti-113 {
    width: 5px;
    height: 2px;
    background-color: #d13447;
    top: -10%;
    left: 24%;
    opacity: 0.5628285474;
    transform: rotate(338.1411493147deg);
    -webkit-animation: drop-113 4.4013163479s 0.1344033129s infinite;
            animation: drop-113 4.4013163479s 0.1344033129s infinite;
  }
  
  @-webkit-keyframes drop-113 {
    100% {
      top: 110%;
      left: 33%;
    }
  }
  
  @keyframes drop-113 {
    100% {
      top: 110%;
      left: 33%;
    }
  }
  .confetti-114 {
    width: 5px;
    height: 2px;
    background-color: #ffbf00;
    top: -10%;
    left: 25%;
    opacity: 1.0026233451;
    transform: rotate(155.1417885004deg);
    -webkit-animation: drop-114 4.1378117566s 0.9371075197s infinite;
            animation: drop-114 4.1378117566s 0.9371075197s infinite;
  }
  
  @-webkit-keyframes drop-114 {
    100% {
      top: 110%;
      left: 28%;
    }
  }
  
  @keyframes drop-114 {
    100% {
      top: 110%;
      left: 28%;
    }
  }
  .confetti-115 {
    width: 7px;
    height: 2.8px;
    background-color: #d13447;
    top: -10%;
    left: 33%;
    opacity: 0.6908559268;
    transform: rotate(206.671282725deg);
    -webkit-animation: drop-115 4.9529663705s 0.6412868226s infinite;
            animation: drop-115 4.9529663705s 0.6412868226s infinite;
  }
  
  @-webkit-keyframes drop-115 {
    100% {
      top: 110%;
      left: 43%;
    }
  }
  
  @keyframes drop-115 {
    100% {
      top: 110%;
      left: 43%;
    }
  }
  .confetti-116 {
    width: 5px;
    height: 2px;
    background-color: #ffbf00;
    top: -10%;
    left: 73%;
    opacity: 0.9267334453;
    transform: rotate(80.9637530257deg);
    -webkit-animation: drop-116 4.2030023818s 0.7458377725s infinite;
            animation: drop-116 4.2030023818s 0.7458377725s infinite;
  }
  
  @-webkit-keyframes drop-116 {
    100% {
      top: 110%;
      left: 81%;
    }
  }
  
  @keyframes drop-116 {
    100% {
      top: 110%;
      left: 81%;
    }
  }
  .confetti-117 {
    width: 3px;
    height: 1.2px;
    background-color: #ffbf00;
    top: -10%;
    left: 84%;
    opacity: 0.9720615785;
    transform: rotate(154.7233524473deg);
    -webkit-animation: drop-117 4.9657987216s 0.6535830788s infinite;
            animation: drop-117 4.9657987216s 0.6535830788s infinite;
  }
  
  @-webkit-keyframes drop-117 {
    100% {
      top: 110%;
      left: 92%;
    }
  }
  
  @keyframes drop-117 {
    100% {
      top: 110%;
      left: 92%;
    }
  }
  .confetti-118 {
    width: 1px;
    height: 0.4px;
    background-color: #d13447;
    top: -10%;
    left: 6%;
    opacity: 1.2157907981;
    transform: rotate(245.9230903771deg);
    -webkit-animation: drop-118 4.886073587s 0.574632391s infinite;
            animation: drop-118 4.886073587s 0.574632391s infinite;
  }
  
  @-webkit-keyframes drop-118 {
    100% {
      top: 110%;
      left: 9%;
    }
  }
  
  @keyframes drop-118 {
    100% {
      top: 110%;
      left: 9%;
    }
  }
  .confetti-119 {
    width: 2px;
    height: 0.8px;
    background-color: #d13447;
    top: -10%;
    left: 52%;
    opacity: 1.2104485144;
    transform: rotate(146.1431651177deg);
    -webkit-animation: drop-119 4.8270584352s 0.4180680361s infinite;
            animation: drop-119 4.8270584352s 0.4180680361s infinite;
  }
  
  @-webkit-keyframes drop-119 {
    100% {
      top: 110%;
      left: 56%;
    }
  }
  
  @keyframes drop-119 {
    100% {
      top: 110%;
      left: 56%;
    }
  }
  .confetti-120 {
    width: 8px;
    height: 3.2px;
    background-color: #263672;
    top: -10%;
    left: 10%;
    opacity: 0.9707737284;
    transform: rotate(29.545579291deg);
    -webkit-animation: drop-120 4.7267831376s 0.6713117384s infinite;
            animation: drop-120 4.7267831376s 0.6713117384s infinite;
  }
  
  @-webkit-keyframes drop-120 {
    100% {
      top: 110%;
      left: 24%;
    }
  }
  
  @keyframes drop-120 {
    100% {
      top: 110%;
      left: 24%;
    }
  }
  .confetti-121 {
    width: 8px;
    height: 3.2px;
    background-color: #d13447;
    top: -10%;
    left: 57%;
    opacity: 1.3678992664;
    transform: rotate(206.3374168591deg);
    -webkit-animation: drop-121 4.9063295892s 0.9576119853s infinite;
            animation: drop-121 4.9063295892s 0.9576119853s infinite;
  }
  
  @-webkit-keyframes drop-121 {
    100% {
      top: 110%;
      left: 65%;
    }
  }
  
  @keyframes drop-121 {
    100% {
      top: 110%;
      left: 65%;
    }
  }
  .confetti-122 {
    width: 6px;
    height: 2.4px;
    background-color: #263672;
    top: -10%;
    left: 89%;
    opacity: 1.1471897013;
    transform: rotate(67.9032445414deg);
    -webkit-animation: drop-122 4.0470067979s 0.2959589323s infinite;
            animation: drop-122 4.0470067979s 0.2959589323s infinite;
  }
  
  @-webkit-keyframes drop-122 {
    100% {
      top: 110%;
      left: 103%;
    }
  }
  
  @keyframes drop-122 {
    100% {
      top: 110%;
      left: 103%;
    }
  }
  .confetti-123 {
    width: 6px;
    height: 2.4px;
    background-color: #263672;
    top: -10%;
    left: 32%;
    opacity: 1.212645448;
    transform: rotate(273.446899449deg);
    -webkit-animation: drop-123 4.1181343096s 0.2291325214s infinite;
            animation: drop-123 4.1181343096s 0.2291325214s infinite;
  }
  
  @-webkit-keyframes drop-123 {
    100% {
      top: 110%;
      left: 39%;
    }
  }
  
  @keyframes drop-123 {
    100% {
      top: 110%;
      left: 39%;
    }
  }
  .confetti-124 {
    width: 6px;
    height: 2.4px;
    background-color: #ffbf00;
    top: -10%;
    left: 13%;
    opacity: 0.5062223399;
    transform: rotate(112.042274997deg);
    -webkit-animation: drop-124 4.740197891s 0.7629903785s infinite;
            animation: drop-124 4.740197891s 0.7629903785s infinite;
  }
  
  @-webkit-keyframes drop-124 {
    100% {
      top: 110%;
      left: 26%;
    }
  }
  
  @keyframes drop-124 {
    100% {
      top: 110%;
      left: 26%;
    }
  }
  .confetti-125 {
    width: 8px;
    height: 3.2px;
    background-color: #d13447;
    top: -10%;
    left: 100%;
    opacity: 0.5827251098;
    transform: rotate(97.6546972139deg);
    -webkit-animation: drop-125 4.9651100222s 0.67034961s infinite;
            animation: drop-125 4.9651100222s 0.67034961s infinite;
  }
  
  @-webkit-keyframes drop-125 {
    100% {
      top: 110%;
      left: 107%;
    }
  }
  
  @keyframes drop-125 {
    100% {
      top: 110%;
      left: 107%;
    }
  }
  .confetti-126 {
    width: 2px;
    height: 0.8px;
    background-color: #263672;
    top: -10%;
    left: 67%;
    opacity: 1.4252214327;
    transform: rotate(130.6706263645deg);
    -webkit-animation: drop-126 4.1542107571s 0.7165319682s infinite;
            animation: drop-126 4.1542107571s 0.7165319682s infinite;
  }
  
  @-webkit-keyframes drop-126 {
    100% {
      top: 110%;
      left: 73%;
    }
  }
  
  @keyframes drop-126 {
    100% {
      top: 110%;
      left: 73%;
    }
  }
  .confetti-127 {
    width: 8px;
    height: 3.2px;
    background-color: #ffbf00;
    top: -10%;
    left: 45%;
    opacity: 1.1766509677;
    transform: rotate(8.0964579326deg);
    -webkit-animation: drop-127 4.7523810158s 0.6607355384s infinite;
            animation: drop-127 4.7523810158s 0.6607355384s infinite;
  }
  
  @-webkit-keyframes drop-127 {
    100% {
      top: 110%;
      left: 46%;
    }
  }
  
  @keyframes drop-127 {
    100% {
      top: 110%;
      left: 46%;
    }
  }
  .confetti-128 {
    width: 4px;
    height: 1.6px;
    background-color: #263672;
    top: -10%;
    left: 58%;
    opacity: 0.8847776386;
    transform: rotate(248.63761688deg);
    -webkit-animation: drop-128 4.786438597s 0.2533161907s infinite;
            animation: drop-128 4.786438597s 0.2533161907s infinite;
  }
  
  @-webkit-keyframes drop-128 {
    100% {
      top: 110%;
      left: 70%;
    }
  }
  
  @keyframes drop-128 {
    100% {
      top: 110%;
      left: 70%;
    }
  }
  .confetti-129 {
    width: 3px;
    height: 1.2px;
    background-color: #d13447;
    top: -10%;
    left: 56%;
    opacity: 0.8775191555;
    transform: rotate(236.5609587518deg);
    -webkit-animation: drop-129 4.3354043501s 0.2497610758s infinite;
            animation: drop-129 4.3354043501s 0.2497610758s infinite;
  }
  
  @-webkit-keyframes drop-129 {
    100% {
      top: 110%;
      left: 65%;
    }
  }
  
  @keyframes drop-129 {
    100% {
      top: 110%;
      left: 65%;
    }
  }
  .confetti-130 {
    width: 7px;
    height: 2.8px;
    background-color: #263672;
    top: -10%;
    left: 65%;
    opacity: 1.3709403075;
    transform: rotate(285.5733330414deg);
    -webkit-animation: drop-130 4.2732674256s 0.9813821865s infinite;
            animation: drop-130 4.2732674256s 0.9813821865s infinite;
  }
  
  @-webkit-keyframes drop-130 {
    100% {
      top: 110%;
      left: 78%;
    }
  }
  
  @keyframes drop-130 {
    100% {
      top: 110%;
      left: 78%;
    }
  }
  .confetti-131 {
    width: 6px;
    height: 2.4px;
    background-color: #d13447;
    top: -10%;
    left: 59%;
    opacity: 0.6235124512;
    transform: rotate(238.5114521901deg);
    -webkit-animation: drop-131 4.533286839s 0.1513154542s infinite;
            animation: drop-131 4.533286839s 0.1513154542s infinite;
  }
  
  @-webkit-keyframes drop-131 {
    100% {
      top: 110%;
      left: 67%;
    }
  }
  
  @keyframes drop-131 {
    100% {
      top: 110%;
      left: 67%;
    }
  }
  .confetti-132 {
    width: 7px;
    height: 2.8px;
    background-color: #d13447;
    top: -10%;
    left: 74%;
    opacity: 1.4907318696;
    transform: rotate(196.4606580709deg);
    -webkit-animation: drop-132 4.1982224307s 0.2023230245s infinite;
            animation: drop-132 4.1982224307s 0.2023230245s infinite;
  }
  
  @-webkit-keyframes drop-132 {
    100% {
      top: 110%;
      left: 87%;
    }
  }
  
  @keyframes drop-132 {
    100% {
      top: 110%;
      left: 87%;
    }
  }
  .confetti-133 {
    width: 5px;
    height: 2px;
    background-color: #263672;
    top: -10%;
    left: 70%;
    opacity: 1.0445005941;
    transform: rotate(132.1574754387deg);
    -webkit-animation: drop-133 4.6098999133s 0.29651088s infinite;
            animation: drop-133 4.6098999133s 0.29651088s infinite;
  }
  
  @-webkit-keyframes drop-133 {
    100% {
      top: 110%;
      left: 75%;
    }
  }
  
  @keyframes drop-133 {
    100% {
      top: 110%;
      left: 75%;
    }
  }
  .confetti-134 {
    width: 5px;
    height: 2px;
    background-color: #ffbf00;
    top: -10%;
    left: 53%;
    opacity: 0.5186006896;
    transform: rotate(90.4746919613deg);
    -webkit-animation: drop-134 4.9092287628s 0.6319649263s infinite;
            animation: drop-134 4.9092287628s 0.6319649263s infinite;
  }
  
  @-webkit-keyframes drop-134 {
    100% {
      top: 110%;
      left: 68%;
    }
  }
  
  @keyframes drop-134 {
    100% {
      top: 110%;
      left: 68%;
    }
  }
  .confetti-135 {
    width: 2px;
    height: 0.8px;
    background-color: #d13447;
    top: -10%;
    left: 9%;
    opacity: 0.5803124233;
    transform: rotate(132.1653570959deg);
    -webkit-animation: drop-135 4.6467946679s 0.5695777431s infinite;
            animation: drop-135 4.6467946679s 0.5695777431s infinite;
  }
  
  @-webkit-keyframes drop-135 {
    100% {
      top: 110%;
      left: 10%;
    }
  }
  
  @keyframes drop-135 {
    100% {
      top: 110%;
      left: 10%;
    }
  }
  .confetti-136 {
    width: 4px;
    height: 1.6px;
    background-color: #d13447;
    top: -10%;
    left: 2%;
    opacity: 1.3417346306;
    transform: rotate(69.9290820818deg);
    -webkit-animation: drop-136 4.3669616856s 0.13377539s infinite;
            animation: drop-136 4.3669616856s 0.13377539s infinite;
  }
  
  @-webkit-keyframes drop-136 {
    100% {
      top: 110%;
      left: 7%;
    }
  }
  
  @keyframes drop-136 {
    100% {
      top: 110%;
      left: 7%;
    }
  }
  .confetti-137 {
    width: 8px;
    height: 3.2px;
    background-color: #ffbf00;
    top: -10%;
    left: 33%;
    opacity: 0.8927637381;
    transform: rotate(78.410787194deg);
    -webkit-animation: drop-137 4.6961107112s 0.7639686197s infinite;
            animation: drop-137 4.6961107112s 0.7639686197s infinite;
  }
  
  @-webkit-keyframes drop-137 {
    100% {
      top: 110%;
      left: 46%;
    }
  }
  
  @keyframes drop-137 {
    100% {
      top: 110%;
      left: 46%;
    }
  }
  .confetti-138 {
    width: 7px;
    height: 2.8px;
    background-color: #ffbf00;
    top: -10%;
    left: 60%;
    opacity: 0.9464390959;
    transform: rotate(136.7150053714deg);
    -webkit-animation: drop-138 4.4084578137s 0.9967344955s infinite;
            animation: drop-138 4.4084578137s 0.9967344955s infinite;
  }
  
  @-webkit-keyframes drop-138 {
    100% {
      top: 110%;
      left: 73%;
    }
  }
  
  @keyframes drop-138 {
    100% {
      top: 110%;
      left: 73%;
    }
  }
  .confetti-139 {
    width: 6px;
    height: 2.4px;
    background-color: #263672;
    top: -10%;
    left: 88%;
    opacity: 1.0995077694;
    transform: rotate(68.933770135deg);
    -webkit-animation: drop-139 4.8577813237s 0.3175743409s infinite;
            animation: drop-139 4.8577813237s 0.3175743409s infinite;
  }
  
  @-webkit-keyframes drop-139 {
    100% {
      top: 110%;
      left: 95%;
    }
  }
  
  @keyframes drop-139 {
    100% {
      top: 110%;
      left: 95%;
    }
  }
  .confetti-140 {
    width: 7px;
    height: 2.8px;
    background-color: #263672;
    top: -10%;
    left: 15%;
    opacity: 1.0207094191;
    transform: rotate(216.5527865933deg);
    -webkit-animation: drop-140 4.8444089613s 0.6354411708s infinite;
            animation: drop-140 4.8444089613s 0.6354411708s infinite;
  }
  
  @-webkit-keyframes drop-140 {
    100% {
      top: 110%;
      left: 26%;
    }
  }
  
  @keyframes drop-140 {
    100% {
      top: 110%;
      left: 26%;
    }
  }
  .confetti-141 {
    width: 8px;
    height: 3.2px;
    background-color: #ffbf00;
    top: -10%;
    left: 66%;
    opacity: 1.1022370706;
    transform: rotate(84.0460951496deg);
    -webkit-animation: drop-141 4.3794052306s 0.993845301s infinite;
            animation: drop-141 4.3794052306s 0.993845301s infinite;
  }
  
  @-webkit-keyframes drop-141 {
    100% {
      top: 110%;
      left: 76%;
    }
  }
  
  @keyframes drop-141 {
    100% {
      top: 110%;
      left: 76%;
    }
  }
  .confetti-142 {
    width: 6px;
    height: 2.4px;
    background-color: #263672;
    top: -10%;
    left: 17%;
    opacity: 0.745310811;
    transform: rotate(270.6684958371deg);
    -webkit-animation: drop-142 4.4255134549s 0.6078492659s infinite;
            animation: drop-142 4.4255134549s 0.6078492659s infinite;
  }
  
  @-webkit-keyframes drop-142 {
    100% {
      top: 110%;
      left: 25%;
    }
  }
  
  @keyframes drop-142 {
    100% {
      top: 110%;
      left: 25%;
    }
  }
  .confetti-143 {
    width: 7px;
    height: 2.8px;
    background-color: #d13447;
    top: -10%;
    left: 50%;
    opacity: 0.9337463583;
    transform: rotate(149.0762036468deg);
    -webkit-animation: drop-143 4.2001461043s 0.0973252365s infinite;
            animation: drop-143 4.2001461043s 0.0973252365s infinite;
  }
  
  @-webkit-keyframes drop-143 {
    100% {
      top: 110%;
      left: 58%;
    }
  }
  
  @keyframes drop-143 {
    100% {
      top: 110%;
      left: 58%;
    }
  }
  .confetti-144 {
    width: 8px;
    height: 3.2px;
    background-color: #d13447;
    top: -10%;
    left: 46%;
    opacity: 0.868295881;
    transform: rotate(189.8231045123deg);
    -webkit-animation: drop-144 4.6619437271s 0.0900411869s infinite;
            animation: drop-144 4.6619437271s 0.0900411869s infinite;
  }
  
  @-webkit-keyframes drop-144 {
    100% {
      top: 110%;
      left: 49%;
    }
  }
  
  @keyframes drop-144 {
    100% {
      top: 110%;
      left: 49%;
    }
  }
  .confetti-145 {
    width: 1px;
    height: 0.4px;
    background-color: #d13447;
    top: -10%;
    left: 78%;
    opacity: 0.9910707223;
    transform: rotate(221.428754323deg);
    -webkit-animation: drop-145 4.7375877332s 0.9939266293s infinite;
            animation: drop-145 4.7375877332s 0.9939266293s infinite;
  }
  
  @-webkit-keyframes drop-145 {
    100% {
      top: 110%;
      left: 87%;
    }
  }
  
  @keyframes drop-145 {
    100% {
      top: 110%;
      left: 87%;
    }
  }
  .confetti-146 {
    width: 4px;
    height: 1.6px;
    background-color: #ffbf00;
    top: -10%;
    left: 55%;
    opacity: 0.8145707959;
    transform: rotate(349.5790400479deg);
    -webkit-animation: drop-146 4.4394168669s 0.6570044909s infinite;
            animation: drop-146 4.4394168669s 0.6570044909s infinite;
  }
  
  @-webkit-keyframes drop-146 {
    100% {
      top: 110%;
      left: 66%;
    }
  }
  
  @keyframes drop-146 {
    100% {
      top: 110%;
      left: 66%;
    }
  }
  .confetti-147 {
    width: 8px;
    height: 3.2px;
    background-color: #d13447;
    top: -10%;
    left: 54%;
    opacity: 0.6623475573;
    transform: rotate(238.2259346008deg);
    -webkit-animation: drop-147 4.0602400971s 0.3616733526s infinite;
            animation: drop-147 4.0602400971s 0.3616733526s infinite;
  }
  
  @-webkit-keyframes drop-147 {
    100% {
      top: 110%;
      left: 55%;
    }
  }
  
  @keyframes drop-147 {
    100% {
      top: 110%;
      left: 55%;
    }
  }
  .confetti-148 {
    width: 6px;
    height: 2.4px;
    background-color: #ffbf00;
    top: -10%;
    left: 28%;
    opacity: 0.5905236775;
    transform: rotate(235.0158925694deg);
    -webkit-animation: drop-148 4.2727365447s 0.2252744266s infinite;
            animation: drop-148 4.2727365447s 0.2252744266s infinite;
  }
  
  @-webkit-keyframes drop-148 {
    100% {
      top: 110%;
      left: 32%;
    }
  }
  
  @keyframes drop-148 {
    100% {
      top: 110%;
      left: 32%;
    }
  }
  .confetti-149 {
    width: 7px;
    height: 2.8px;
    background-color: #263672;
    top: -10%;
    left: 89%;
    opacity: 0.8212919765;
    transform: rotate(157.9906465097deg);
    -webkit-animation: drop-149 4.4085898746s 0.1922965245s infinite;
            animation: drop-149 4.4085898746s 0.1922965245s infinite;
  }
  
  @-webkit-keyframes drop-149 {
    100% {
      top: 110%;
      left: 95%;
    }
  }
  
  @keyframes drop-149 {
    100% {
      top: 110%;
      left: 95%;
    }
  }
  .confetti-150 {
    width: 5px;
    height: 2px;
    background-color: #d13447;
    top: -10%;
    left: 88%;
    opacity: 1.4704115362;
    transform: rotate(354.7624851996deg);
    -webkit-animation: drop-150 4.7859492065s 0.4934918038s infinite;
            animation: drop-150 4.7859492065s 0.4934918038s infinite;
  }
  
  @-webkit-keyframes drop-150 {
    100% {
      top: 110%;
      left: 100%;
    }
  }
  
  @keyframes drop-150 {
    100% {
      top: 110%;
      left: 100%;
    }
  }