#currentTime {
  font-size: 2.5em;
  text-align: center;
  font-weight: 600;
  color: #fff;
  background-color: #349de9;
  border: 5px solid #FFCD42;
  box-shadow: inset 0px 0px 25px #0b77c9;
  padding: 5px 20px;
  border-radius: 7px;
}