@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #349de9 !important;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
}

/* -- scroll --  */
::-webkit-scrollbar {
	width: 12px;
	height: 12px;
}
::-webkit-scrollbar-thumb {
	background: linear-gradient(13deg, #34b7eb 14%,#349de9 64%);
	border-radius: 15px;
}
::-webkit-scrollbar-thumb:hover{
	background: linear-gradient(13deg, #349de9 14%,#34b7eb 64%);
}
::-webkit-scrollbar-track{
	background: #f0d803;
	border-radius: 0px;
	box-shadow: inset 7px 10px 12px #f3cf01;
}
::-moz-scrollbar {
	width: 12px;
	height: 12px;
}
::-moz-scrollbar-thumb {
	background: linear-gradient(13deg, #34b7eb 14%,#349de9 64%);
	border-radius: 15px;
}
::-moz-scrollbar-thumb:hover{
	background: linear-gradient(13deg, #349de9 14%,#34b7eb 64%);
}
::-moz-scrollbar-track{
	background: #f0d803;
	border-radius: 0px;
	box-shadow: inset 7px 10px 12px #f3cf01;
}
::-o-scrollbar {
	width: 12px;
	height: 12px;
}
::-o-scrollbar-thumb {
	background: linear-gradient(13deg, #34b7eb 14%,#349de9 64%);
	border-radius: 15px;
}
::-o-scrollbar-thumb:hover{
	background: linear-gradient(13deg, #349de9 14%,#34b7eb 64%);
}
::-o-scrollbar-track{
	background: #f0d803;
	border-radius: 0px;
	box-shadow: inset 7px 10px 12px #f3cf01;
}
scrollbar {
	width: 12px;
	height: 12px;
}
scrollbar-thumb {
	background: linear-gradient(13deg, #34b7eb 14%,#349de9 64%);
	border-radius: 15px;
}
scrollbar-thumb:hover{
	background: linear-gradient(13deg, #349de9 14%,#34b7eb 64%);
}
scrollbar-track{
	background: #f0d803;
	border-radius: 0px;
	box-shadow: inset 7px 10px 12px #f3cf01;
}
/* -- scroll --  */

header{
    position: sticky;
    top: 0;
    width: 100%;
    height: auto;
    background-color: #349de9;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9;
}

.headershadow{
    box-shadow: 0px 10px 20px #157ac280;
}

nav{
    width: 70%;
    height: auto;
    margin: 0 auto;
    display: flex ;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0px;
}
nav .logo img{
    width: 280px;
}

 /* RESPONSIVE */
 @media screen and (max-width: 600px) {
    nav{
        flex-direction: column;
    }
  }
  
/* ==================
|       Titulo      |
================= */
.titulo{
    width: 100%;
    height: 20em;
    text-align: center;
    text-align: center;
    padding: 5em 0em;
    z-index: 15;
    position: sticky;
    top: 1px;
}
.titulo h1{
    font-size: 10em;
    font-weight: 900;
    line-height: 0.6em;
    font-family: 'Fredoka One', cursive;
    text-shadow: 0px 30px 35px #08568d;
}
.titulo h3{
    font-size: 5.2em;
    font-weight: 900;
    color: #f0d803;
}

/* ==================
|        Main       |
================= */
main{
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
}
.contenedor{
    width: 95%;
    max-width: 1370px;
    height: auto;
    margin: 2rem auto 0 auto;
    display: flex ;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.columna{
    width: auto;
    height: auto;
    margin: 20px;

    display: flex ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.columna-img{
    background: linear-gradient(180deg, #e4ce07 93%, #fffc3a);
    position: relative;
    padding: 10px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px 10px 15px 15px;
}
.columna-img:hover{
    cursor: pointer;
    box-shadow: inset 0px 10px 25px #fff6a9,
                0px 20px 30px #066cb6;
    transform: translateY(-5px);
    transition: all .4s linear;
}

.columna-img img{
    width: 100%;
}

.columna a{
    text-decoration: none;
    color: #000;
}
.columna h3{
    text-align: center;
    font-size: 2rem;
    width: 100%;
    height: 50px;
    margin-top: 10px;
}

/* ==================
|     Responsive    |
================= */
@media only screen and (max-width: 1024px) {
    .contenedor{
        width: 90%;
        margin: 6rem auto 0 auto;
        flex-wrap: wrap;
        flex-direction: row;
    }
    .columna {
        width: auto;
        margin: 10px;
    }
    .titulo{
        height: 20em;
    }
    .columna h3{
        font-size: 1.5rem;;
    }
}
@media only screen and (max-width: 768px) {
    .contenedor{
        width: 90%;
        margin: 4rem auto 0 auto;
    }
    .titulo{
        height: 12em;
    }
}



/* ==================
|   Piso Confeti    |
================= */
.piso-confeti{
    background: linear-gradient(0deg, #1188dd 14%,#349de9 64%);
    bottom: 0;
}


/* ==================
|      Footer       |
================= */
footer{
    width: 100%;
    height: auto;
    padding: 15px 0px;
    background-color: #000;
    text-align: center;
    margin-top: -10px;
}
footer p{
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 1rem;
    color: #ffffff;
}
footer a{
    text-decoration: none;
}