@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
.title-h3 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    margin-top: 171px;
    display: block;
    text-align: center;
    font-weight: 900;
    font-family: 'Fredoka One', cursive;
  }
  
  .title-h3 span {
    position: relative;
    top: 13px;
    display: inline-block;
    -webkit-animation: bounce 0.3s ease infinite alternate;
    font-size: 5.5rem;
    font-weight: 900;
    color: #f0d803;
    text-shadow: 0 1px 0 #ffbf00, 
                0 2px 0 #e4ce07, 
                0 3px 0 #ffbf00, 
                0 4px 0 #e4ce07, 
                0 5px 0 #ffbf00, 
                0 6px 0 transparent, 
                0 7px 0 transparent, 
                0 8px 0 transparent, 
                0 9px 0 transparent, 
                0 10px 10px rgb(0 0 0 / 40%);
  }
  
  .title-h3 span:nth-child(2) {
    -webkit-animation-delay: 0.1s;
  }
  
  .title-h3 span:nth-child(3) {
    -webkit-animation-delay: 0.2s;
  }
  
  .title-h3 span:nth-child(4) {
    -webkit-animation-delay: 0.3s;
  }
  
  .title-h3 span:nth-child(5) {
    -webkit-animation-delay: 0.4s;
  }
  
  .title-h3 span:nth-child(6) {
    -webkit-animation-delay: 0.5s;
  }
  
  .title-h3 span:nth-child(7) {
    -webkit-animation-delay: 0.6s;
  }
  
  .title-h3 span:nth-child(8) {
    -webkit-animation-delay: 0.2s;
  }
  
  .title-h3 span:nth-child(9) {
    -webkit-animation-delay: 0.3s;
  }
  
  .title-h3 span:nth-child(10) {
    -webkit-animation-delay: 0.4s;
  }
  
  .title-h3 span:nth-child(11) {
    -webkit-animation-delay: 0.5s;
  }
  
  .title-h3 span:nth-child(12) {
    -webkit-animation-delay: 0.6s;
  }
  
  .title-h3 span:nth-child(13) {
    -webkit-animation-delay: 0.7s;
  }
  
  .title-h3 span:nth-child(14) {
    -webkit-animation-delay: 0.8s;
  }
  
  /* ANIMATION */
  @-webkit-keyframes bounce {
    100% {
      top: -20px;
      text-shadow: 0 1px 0 #ffbf00, 
                    0 2px 0 #ffbf00, 
                    0 3px 0 #ffbf00, 
                    0 4px 0 #ffbf00,
                    0 5px 0 #ffbf00, 
                    0 6px 0 #ffbf00, 
                    0 7px 0 #ffbf00, 
                    0 8px 0 #ffbf00, 
                    0 9px 0 #ffbf00,
                    0 50px 25px rgba(0, 0, 0, 0.2);
    }
  }

  /* RESPONSIVE */
  @media screen and (max-width: 600px) {
    .titulo h1 {
      font-size: 5rem;
    }
    .title-h3 {
      margin-top: 108px;
      font-size: 4em;
    }
    .title-h3 span {
      font-size: .4em;
    }
  }
  