@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');

:root{
  --primary:#60B4FF;
  --secondary: #74B6FC;
  --tertiary: #00095A;
  --gradiente: linear-gradient(60deg, #60b4ff, #37E5FF, #74b6fc);
  --gradiente2: linear-gradient(90deg, #029698, #00E0B6);
}
footer{
    width: 100%;
    height: auto;
    background-color: var(--primary);
    padding: 25px 0px;
}

.footer_rrss{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0 !important;
    padding: 0;
}
.footer_rrss li{
  margin: 10px;
  transition: all .4s linear;
}
.footer_rrss li:hover{
  background-color: #349de9;
  cursor: pointer;
  transform: translateY(-5px);
}

.footer_rrss li i{
  font-size: 18px;
  color: var(--tertiary);
  border: 1px  solid #fff;
  padding: 7px;
  border-radius: 5px;
  transition: all .4s linear;
}
.footer_rrss li img{
  width: 33px;
  color: #fff;
  border: 1px  solid #fff;
  padding: 7px;
  border-radius: 5px;
  transition: all .4s linear;
}

footer p{
  font-size: 14px;
  text-align: center;
  font-weight: 400;
  color: var(--tertiary);
}
footer h6{
  font-weight: 400;
}