@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;;
    color: #00095A;
}

:root{
    --primary:#60B4FF;
    --secondary: #74B6FC;
    --bg: #EAF5FF;
    --tertiary: #00095A;
    --gradiente: linear-gradient(60deg, #60b4ff, #37E5FF, #74b6fc);
    --gradiente2: linear-gradient(90deg, #029698, #00E0B6);
}

::selection {
    color: #000;
    background: #60B4FF;
}
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
   }
::-webkit-scrollbar-thumb {
    background: linear-gradient(13deg, #d4d4d4 14%,#e6e6e6 64%);
    border-radius: 9px;
}
::-webkit-scrollbar-thumb:hover{
    background: linear-gradient(13deg, #74B6FC 14%,#60B4FF 64%);
}
::-webkit-scrollbar-track{
    background: #ffffff;
    border-radius: 5px;
    box-shadow: inset 7px 10px 12px #f0f0f0;
}

/* boton 
==============*/
.btn-vlm{
    display: inline-block;
    padding: 11px 25px;
    margin-top: 1em;
    border-radius: 5px;
    font-size: 1.2em;
    font-weight: 500;
    text-decoration: none;
    background-image: var(--gradiente2);
    box-shadow: 0px 0px 20px #00E0B6,
                inset 0px 0px 15px #00E0B6;
    color: #fff;
    transition: all .4s linear;
}
.btn-vlm i{
    margin-right: 10px;
    color: #fff;
}
.btn-vlm:hover{
    color: #fff;
    text-decoration: none;
    box-shadow: 5px 10px 0px #00e0b78d,
                inset 0px 0px 15px #00E0B6;
}

/* h2
=============== */
.h2-vlm{
    font-size: 4em;
    font-weight: bold;
}
@media only screen and (max-width: 428px) {
    .h2-vlm{
        font-size: 1.5em;
    }
}


/*=====================
||       main        ||
=====================*/

.main-section{
    width: 100%;
    min-height: 100vh;
    position: relative;
    background-image: var(--gradiente);
    margin-top: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.main-container{
    width: 80%;
    height: auto;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.main-image {
    width: 50%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.main-img {
    width: 70%;
}
.main-image h4{
    letter-spacing: 1px; 
    color: #fff; 
    text-shadow: 0 0 10px #349de9;
    text-align: center;
}

.main-text {
    width: 50%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;

}
.main-text h1{
    font-weight: 900;
    font-size: 7em;
    line-height: .9em;
    letter-spacing: -7px;
}

.main-text i{
    font-size: 1.2em;
    color: #1c1c1c;
}
.main-text p{
    font-size: 5em;
    font-weight: 700;
    color: #1c1c1c;
}

.main-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 13px 35px;
    margin-top: 1.5rem;
    border-radius: 5px;
    font-size: 1.5em;
    font-weight: 700;
    text-decoration: none;
    background-image: var(--gradiente2);
    box-shadow: 0px 0px 20px #00E0B6,
                inset 0px 0px 15px #00E0B6;
    color: #fff;
    transition: all .4s linear;
}
.main-btn i{
    margin-right: 10px;
    color: #fff;
}
.main-btn:hover{
    color: #fff;
    text-decoration: none;
    box-shadow: 5px 10px 30px #00E0B6,
                inset 0px 0px 15px #00E0B6;
}

.center {
    position: absolute;
    top: 95%;
    left: 48%;
    transform: translate(-50%,-50%);
    z-index: 8;
}
.down {
    position: relative;
    width: 22px;
    height: 50px;
    border: 2px solid #003da5;
    border-radius: 25px;
    background-color: transparent;
    overflow: hidden;
}
.down::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 10px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #ff1616;
    transform: translate(-50%,0);
    animation: animate 1.8s linear infinite;
}
.down::after {
    content: "";
    position: absolute;
    width: 4px;
    height: 15px;
    border-radius: 25px;
    background-color: #ffcc00;
    left: 50%;
    top: 5px;
    transform: translate(-50%,0);
}

/* ~~~~~~~~~~~~~~~~~~~~~~~+
|       Animation        |
+~~~~~~~~~~~~~~~~~~~~~~~ */

@keyframes cuadro {
    0% {bottom: 20%;}
    25% {left: 7%;}
    50% {bottom: 20%;}
    75% {right: 7%;}
    100% {top: 5%;}
}

@keyframes animate{
    0%{transform:translate(-50%,20px);opacity:0}
    80%{transform:translate(-50%,60px);opacity:1}
    100%{transform:translate(-50%,100px);opacity:1}
}
/* ~~~~~~~~~~~~~~~~~~~~~~~+
|       Responsive        |
+~~~~~~~~~~~~~~~~~~~~~~~ */

@media only screen and (max-width: 1280px) {
    .main-text h1{
        font-size: 5em;
    }
    .main-text h1{
        font-size: 5em;
    }
}

@media only screen and (max-width: 428px) {
    .main-container{
        width: 100%;
        flex-direction: column-reverse;
    }
    main-image {
        width: 100%;
        height: 100%;
    }
    
    .main-image {
        width: 90%;
    }
    
    .main-text {
        width: 100%;
        align-items: center;
    
    }
    .main-text h1{
        font-size: 3em;
        letter-spacing: 0px;
    }
    .center {
        display: none;
    }
}


/* ================
|     Section      |
++++++++++++++++ */
section{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.section-wrap{
    width: 70%;
    height: auto;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

@media only screen and (max-width: 1024px) {
    section{
        height: auto;
        flex-direction: column;
    }
    .section-wrap{
        width: 95%;
        height: auto;
        flex-direction: column;
    }
}

/* ================
|    Games   |
++++++++++++++++ */
.section-games{
    padding: 5em 0;
}
.badge-vlm{
    padding: 5px 20px;
    border-radius: 4px;
    background-image: linear-gradient(60deg, #ff1616, #ffcc00);
    color: #fff;
    box-shadow: 0 0 20px #f69d53;
}
.section-games h2{
    margin-top: 20px;
    line-height: 60px;
}

/*=====================
||    Invitacion    ||
=====================*/
.section-invitacion{
    background-color: var(--bg);
    padding: 8em 0;
    margin: 4em 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    background-image: url(../images/rainbown.png);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
}
.invitacion{
    max-width: 600px;
    height: auto;
    background-color: #fff;
    border-radius: 5px;
    padding: 20px 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    position: relative;
    margin-top: 3em;
    z-index: 5;
    box-shadow: 0 0 40px #60b5ff72;
}
.invitacion_cuadrado{
    width: 150px;
    height: 150px;
    border-radius: 5px;
    position: absolute;
    left: 36%;
    top: 48%;
    transform: translate(-50%, -50%);
    background-image: var(--gradiente);
    z-index: 1;
}
.invitacion h3{
    font-size: 18px;
}

/*=====================
||  hogar las tias   ||
=====================*/
.hogar_las_tias{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.vive{
    width: 100%;
    height: 400px;
    background-color: var(--bg);
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.vive img{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: contain;
}
.vive .heartcito{
    width: 100px;
    height: 100px;
}
.vive .heart-1{
    left: 67%;
    top: 10%;
    
}
.vive .heart-2{
    left: 19%;
    top: 67%;
    
}
.vive .heart-3{
    left: 61%;
    top: 50%;
    
}
.vive .heart-4{
    left: 12%;
    top: 24%;
    
}
.vive .heart-5{
    left: 22%;
    top: 24%;
    
}
.vive .personajes{
     left: 30%;
    top: 0%;
   /* transform: translate(-50%, -50%); */
    width: 30%;
    max-width: 500px;
}

@media only screen and (max-width: 1024px) {
    .vive .heart-1{
        left: 7%;
        top: 5%;
        width: 45px;
    }
    .vive .heart-2{
        right: 19%;
        top: 67%;
        width: 45px;
    }
    .vive .heart-3{
        left: 71%;
        top: 70%;
        width: 45px;
    }
    .vive .heart-4{
        left: 76%;
        top: 11%;
        width: 45px;
    }
    .vive .heart-5{
        left: 87%;
        top: 24%;
        width: 45px;
    }
}