@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #E4C571;
    font-family: 'Roboto', sans-serif;
}
body {
    background-color: #000;
}
main{
    width: 100%;
    height: 100%;
    min-height: 100vh;
    position: relative;
    background-color: #E4C571;
    background-image: url(../images/bg.png);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    overflow: hidden;
}
.logo_gold{
    width: 200px;
    height: 140px;
    margin-top: 3em;
}
.shopping{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
}
.heart{
    position: absolute;
    width: 300px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9;
    -webkit-filter: drop-shadow(5px 15px 25px #349de9);
    filter: drop-shadow(5px 15px 25px #349de9);
    animation: bounce 1s alternate-reverse infinite;
}

@keyframes bounce {
    from{
        top: 60%;
    }
    to{
        top: 50%;
    }
}


.form{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5em 0;
}
.form h2{
    margin-bottom: 1.5em;
    font-size: 3em;
    text-align: center;
}
.wrapform{
    width: 50%;
    height: auto;
    margin: 0 auto;
}

@media only screen and (max-width: 1536px) {
    .shopping {
        bottom: -5%;
    }
}
@media only screen and (max-width: 1280px) {
    .shopping {
        bottom: -7%;
        width: 90%;
    }
}
@media only screen and (max-width: 428px) {
    .shopping{
        width: 200%;
    }
    .heart{
        width: 190px;
    }    
    .wrapform{
        width: 90%;
    }    
}