@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');

:root{
  --primary:#C0973C;
  --secondary: #616161;
  --white: #FFF;
  --bg: #FDF7EA;
  --green: #1DAB3C;
  --red: #FB4040;
}
footer{
    width: 100%;
    height: auto;
    background: rgb(251,82,93);
    background: linear-gradient(222deg, rgba(251,82,93,1) 0%, rgba(251,82,93,1) 71%, rgba(186,25,116,1) 71%, rgba(186,25,116,1) 100%);
    color: var(--white);
    padding: 25px 0px;
    position: relative;
    overflow: hidden;
}

.footer-col{
  width: 100%;
}

footer p{
  font-size: 14px;
  text-align: center;
  font-weight: 400;
  color: #fff;
}

footer h6, footer i{
  font-weight: 400;
  color: #fff;
}
footer i{
  margin-right: 5px;
}

footer h5{
  color: #fff;
}

.footer_rrss{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
}
.footer_rrss li{
  margin: 10px;
  transition: all .4s linear;
}
.footer_rrss li:hover{
  overflow: hidden;
  cursor: pointer;
  transform: translateY(-5px);
}

.footer_rrss li i{
  font-size: 18px;
  color: #fff;
  border: 1px  solid #fff;
  padding: 7px;
  border-radius: 5px;
  transition: all .4s linear;
}
.footer_rrss li img{
  width: 33px;
  color: #fff;
  border: 1px  solid #fff;
  padding: 7px;
  border-radius: 5px;
  transition: all .4s linear;
  filter: grayscale(1) brightness(200);
}

.footer-col-line{
  width: 100%;
  height: 100%;
}
.footer-col-line img{
  transform: rotate(-25deg);
}