@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;;
    color: #616161;
}

:root{
    --primary:#C0973C;
    --secondary: #616161;
    --white: #FFF;
    --bg: #FDF7EA;
    --green: #1DAB3C;
    --red: #FB4040;
}

::selection {
    color: #000;
    background: #60B4FF;
}
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
   }
::-webkit-scrollbar-thumb {
    background: linear-gradient(13deg, #d4d4d4 14%,#e6e6e6 64%);
    border-radius: 9px;
}
::-webkit-scrollbar-thumb:hover{
    background: linear-gradient(13deg, #1DAB3C 14%,#1DAB3C 64%);
}
::-webkit-scrollbar-track{
    background: #ffffff;
    border-radius: 5px;
    box-shadow: inset 7px 10px 12px #f0f0f0;
}

/* boton 
==============*/
.btn_vlm{
    display: inline-block;
    padding: 11px 25px;
    margin-top: 1em;
    border-radius: 5px;
    font-size: 1.2em;
    font-weight: 500;
    text-decoration: none;
    background-color: var(--green);
    color: #fff;
    transition: all .4s linear;
}
.btn_vlm i{
    margin-right: 10px;
    color: #fff;
}
.btn_vlm:hover{
    color: #fff;
    text-decoration: none;
}

/* h2
=============== */
.h2-vlm{
    font-size: 4em;
    font-weight: bold;
}
@media only screen and (max-width: 428px) {
    .h2-vlm{
        font-size: 1.5em;
    }
}


/*=====================
||       main        ||
=====================*/

.main_section{
    width: 100%;
    min-height: 100vh;
    position: relative;
    background-image: linear-gradient(#7DDDFA, #0C97CF);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    animation: colorea 2s linear;
}
.main_section::before{
    content: '';
    position: absolute;
    width: 150%;
    min-height: 170vh;
    top: -40%;
    left: 0;
    background-color: #B8A0FF;
    transform: skew(45deg) translateX(55vh) rotate(45deg);
    animation: aparece 2s 1s linear;
}

@keyframes colorea {
 0%{
    background-image: linear-gradient(#fff, #fff);
 }  
 100%{
    background-image: linear-gradient(#7DDDFA, #0C97CF);
 }
}
@keyframes aparece {
 0%{
    opacity: 0;
 }  
 100%{
    opacity: 1;
 }
}

.main-container{
    width: 80%;
    height: auto;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.perfume{
    max-width: 800px;
}
.main_center{
    width: 80%;
    height: auto;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.center {
    position: absolute;
    bottom: 6%;
    left: 48%;
    transform: translate(-50%,-50%);
    z-index: 8;
}
.down {
    position: relative;
    width: 22px;
    height: 50px;
    border: 2px solid #fff;
    border-radius: 25px;
    background-color: transparent;
    overflow: hidden;
}
.down::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 10px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #fff;
    transform: translate(-50%,0);
    animation: animate 1.8s linear infinite;
}
.down::after {
    content: "";
    position: absolute;
    width: 4px;
    height: 15px;
    border-radius: 25px;
    background-color: #fff;
    left: 50%;
    top: 5px;
    transform: translate(-50%,0);
}

/* ~~~~~~~~~~~~~~~~~~~~~~~+
|       Animation        |
+~~~~~~~~~~~~~~~~~~~~~~~ */

@keyframes cuadro {
    0% {bottom: 20%;}
    25% {left: 7%;}
    50% {bottom: 20%;}
    75% {right: 7%;}
    100% {top: 5%;}
}

@keyframes animate{
    0%{transform:translate(-50%,20px);opacity:0}
    80%{transform:translate(-50%,60px);opacity:1}
    100%{transform:translate(-50%,100px);opacity:1}
}
/* ~~~~~~~~~~~~~~~~~~~~~~~+
|       Responsive        |
+~~~~~~~~~~~~~~~~~~~~~~~ */
@media only screen and (max-width: 428px) {
    .main-container{
        width: 100%;
    }
    .perfume{
        max-width: 320px;
    }
    .center {
        display: none;
    }
}


/* ================
|     Section      |
++++++++++++++++ */
section{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.section-wrap{
    width: 70%;
    height: auto;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

@media only screen and (max-width: 1920px) {
    .perfume{
        max-width: 600px;
    }    
}
@media only screen and (max-width: 1024px) {
    section{
        height: auto;
        flex-direction: column;
    }
    .section-wrap{
        width: 95%;
        height: auto;
        flex-direction: column;
    }
}

/*=====================
||    Invitacion    ||
=====================*/
.section_invitacion{
    background-image: linear-gradient(#FFBF3A, #E67C1F);
    padding: 8em 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    text-align: center;
}

.invitacion{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.section_invitacion h3{
    font-size: 3rem;
    color: #fff;
    text-align: left;
}
.section_invitacion p{
    font-size: 1em;
    color: #fff;
    text-align: left;
}
.btn_medio{
    position: absolute;
    top: -12%;
}
@media only screen and (max-width: 1024px) {
    .hoja_jumbotron2{
        width: 60px;
        bottom: 0%;
        right: 10%;
    }
}

/*===================
|  Compare Section  |
==================*/
.compare_section{
    padding: 6em 0;
    background-color: #001C39;
}
.compare_h2{
    color: #fff;
    text-align: center;
    font-weight: bold;
    font-size: 3em;
}
.compare_section .btn_wrap{
    margin: 0 auto;
    width: 100%;
    text-align: center;
    margin-bottom: 3em;
}
.compare_col{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.vs{
    color: #346182;
    font-weight: bold;
    font-size: 3.5em;
}
.compare_h4{
    display: flex;
    align-items: center;
    margin-bottom: 3em;
    color: #fff;
}
.compare_h4 img{
    margin-right: 10px;
    width: 45px;
}
.compare_small{
    color: #fff;
}

@media only screen and (max-width: 428px) {
    .sauvage{
        width: 60px;
    }
    .compare_h2{
        font-size: 2.3em;
    }
}

/*===================
|  Opciones Section  |
==================*/
.opciones_section{
    padding: 6em 0 0 0;
    background-color: #D7F6FF;
}
.opcion_titulo{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-bottom: 2.5em;
}
.opcion_titulo h2{
    color: #97027F;
}
.btn_opciones_wrap{
    display: flex;
    justify-content: center;
}
.btn_opciones{
    background-color: #fff;
    border-radius: 3px;
    padding: 10px 25px;
    /* color: #97027F; */
    transition: all .4s linear;
    font-size: 25px;
    font-weight: bold;
}
.btn_opciones1{
    color: #97027F !important;
}
.btn_opciones2{
    color: #0063D3 !important;
}
.btn_opciones3{
    color: #FB4040 !important;
}
.btn_opciones4{
    color: #1DAB3C !important;
}
.btn_opciones:hover{
    color: #272727;
    box-shadow: 0px 10px 18px #c2dbea5d;
}

@media only screen and (max-width: 428px) {
    .btn_opciones{
        width: 100%;
        margin-bottom: 1em;
        text-align: center;
    }
}

/*===================
|  Products Section  |
==================*/
.products_section{
    padding: 6em 0;
    background-color: #D7F6FF;
}
.product{
    width: 100%;
    height: 100%;
    background-color: #fff;
    border-radius: 12px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    transition: all .4s linear;
    padding-top: 20px;
}
.product:hover{
    transform: translateY(-10px);
    box-shadow: 0px 18px 30px #7bbcd6;
}
.img_product{
    width: 54%;
    margin-bottom: 2em;
}
.product p{
    text-transform: uppercase;
    color: #40006D;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
}

@media only screen and (max-width: 428px) {
    .products_section{
        padding: 2em 0;
    }
    .product{
        height: 90%;
        margin: 2em 0 3em 0;
    }
}