@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;;
    color: #616161;
}

:root{
    --primary:#C0973C;
    --secondary: #616161;
    --white: #FFF;
    --bg: #FDF7EA;
    --green: #37552C;
    --red: #FB4040;
}

::selection {
    color: #000;
    background: #60B4FF;
}
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
   }
::-webkit-scrollbar-thumb {
    background: linear-gradient(13deg, #d4d4d4 14%,#e6e6e6 64%);
    border-radius: 9px;
}
::-webkit-scrollbar-thumb:hover{
    background: linear-gradient(13deg, #37552C 14%,#37552C 64%);
}
::-webkit-scrollbar-track{
    background: #ffffff;
    border-radius: 5px;
    box-shadow: inset 7px 10px 12px #f0f0f0;
}

/* boton 
==============*/
.btn_vlm{
    display: inline-block;
    padding: 11px 25px;
    margin-top: 1em;
    border-radius: 5px;
    font-size: 1.2em;
    font-weight: 500;
    text-decoration: none;
    background-color: var(--green);
    color: #fff;
    transition: all .4s linear;
}
.btn_vlm i{
    margin-right: 10px;
    color: #fff;
}
.btn_vlm:hover{
    color: #fff;
    text-decoration: none;
}

/* h2
=============== */
.h2-vlm{
    font-size: 4em;
    font-weight: bold;
}
@media only screen and (max-width: 428px) {
    .h2-vlm{
        font-size: 1.5em;
    }
}


/*=====================
||       main        ||
=====================*/

.main_section{
    width: 100%;
    min-height: 100vh;
    position: relative;
    background-color: var(--white);
    background-image: url(../images/bg.png);
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.main-container{
    width: 80%;
    height: auto;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.main_center{
    width: 80%;
    height: auto;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.center {
    position: absolute;
    top: 95%;
    left: 48%;
    transform: translate(-50%,-50%);
    z-index: 8;
}
.down {
    position: relative;
    width: 22px;
    height: 50px;
    border: 2px solid var(--primary);
    border-radius: 25px;
    background-color: transparent;
    overflow: hidden;
}
.down::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 10px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: var(--green);
    transform: translate(-50%,0);
    animation: animate 1.8s linear infinite;
}
.down::after {
    content: "";
    position: absolute;
    width: 4px;
    height: 15px;
    border-radius: 25px;
    background-color: var(--green);
    left: 50%;
    top: 5px;
    transform: translate(-50%,0);
}

.main_section .hoja{
    position: absolute;
}
.main_section .hoja-1{
    right: 4%;
    top: 20%;
    
}
.main_section .hoja-2{
    left: 19%;
    top: 10%;
    
}
.main_section .hoja-3{
    left: -5%;
    top: 30%;
    
}
.main_section .hoja-4{
    right: 12%;
    bottom: 5%;
    
}
.main_section .hoja-5{
    width: 150px;
    left: 22%;
    bottom: 11%;
    
}

@media only screen and (max-width: 1024px) {
    .main_section .heart-1{
        left: 7%;
        top: 5%;
        width: 45px;
    }
    .main_section .heart-2{
        right: 19%;
        top: 67%;
        width: 45px;
    }
    .main_section .heart-3{
        left: 71%;
        top: 70%;
        width: 45px;
    }
    .main_section .heart-4{
        left: 76%;
        top: 11%;
        width: 45px;
    }
    .main_section .heart-5{
        left: 87%;
        top: 24%;
        width: 45px;
    }
    .hoja{
        display: none;
    }
}

/* ~~~~~~~~~~~~~~~~~~~~~~~+
|       Animation        |
+~~~~~~~~~~~~~~~~~~~~~~~ */

@keyframes cuadro {
    0% {bottom: 20%;}
    25% {left: 7%;}
    50% {bottom: 20%;}
    75% {right: 7%;}
    100% {top: 5%;}
}

@keyframes animate{
    0%{transform:translate(-50%,20px);opacity:0}
    80%{transform:translate(-50%,60px);opacity:1}
    100%{transform:translate(-50%,100px);opacity:1}
}
/* ~~~~~~~~~~~~~~~~~~~~~~~+
|       Responsive        |
+~~~~~~~~~~~~~~~~~~~~~~~ */

@media only screen and (max-width: 1280px) {
}

@media only screen and (max-width: 428px) {
    .main-container{
        width: 100%;
    }
    .center {
        display: none;
    }
}


/* ================
|     Section      |
++++++++++++++++ */
section{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.section-wrap{
    width: 70%;
    height: auto;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

@media only screen and (max-width: 1024px) {
    section{
        height: auto;
        flex-direction: column;
    }
    .section-wrap{
        width: 95%;
        height: auto;
        flex-direction: column;
    }
}

.badge-vlm{
    padding: 5px 20px;
    border-radius: 4px;
    background-image: linear-gradient(60deg, #ff1616, #ffcc00);
    color: #fff;
    box-shadow: 0 0 20px #f69d53;
}

/*=====================
||    Invitacion    ||
=====================*/
.section_invitacion{
    background-color: var(--bg);
    padding: 8em 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    text-align: center;
}
.invitacion{
    max-width: 600px;
    height: auto;
    background-color: #fff;
    border-radius: 5px;
    padding: 20px 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    position: relative;
    margin-top: 3em;
    z-index: 5;
    box-shadow: 0 0 40px #60b5ff72;
}

.section_invitacion h3{
    font-size: 2rem;
}
.hoja_jumbotron1, .hoja_jumbotron2{
    position: absolute;
    width: 150px;
}
.hoja_jumbotron1{
    top: 12%;
    left: 25%;
}
.hoja_jumbotron2{
    bottom: 12%;
    right: 25%;
}
@media only screen and (max-width: 1024px) {
    .hoja_jumbotron2{
        width: 60px;
        bottom: 0%;
        right: 10%;
    }
}

/*===================
|  Compare Section  |
==================*/
.compare_section{
    padding: 6em 0;
    background-color: var(--bg);
}
.compare_h2{
    color: var(--primary);
    text-align: center;
    font-weight: bold;
    font-size: 3em;
    margin-bottom: 2em;
}
.compare_col{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.vs{
    color: var(--green);
    font-weight: bold;
    font-size: 3em;
}
.compare_h4{
    display: flex;
    align-items: center;
    margin-bottom: 3em;
}
.compare_h4 img{
    margin-right: 10px;
    width: 45px;
}

@media only screen and (max-width: 428px) {
    .sauvage{
        width: 60px;
    }
}

/*===================
|  Opciones Section  |
==================*/
.opciones_section{
    padding: 6em 0 0 0;
}
.btn_opciones_wrap{
    display: flex;
    justify-content: center;
}
.btn_opciones{
    background-color: var(--primary);
    border-radius: 3px;
    padding: 10px 25px;
    color: #fff;
    transition: all .4s linear;
}
.btn_opciones:hover{
    color: #fff;
    box-shadow: 0px 10px 18px #e3c1777f;
}

@media only screen and (max-width: 428px) {
    .btn_opciones{
        width: 100%;
        margin-bottom: 1em;
        text-align: center;
    }
}

/*===================
|  Products Section  |
==================*/
.products_section{
    padding: 6em 0;
    background-color: var(--white);
}
.product{
    width: 100%;
    height: 100%;
    border-bottom: 6px solid var(--primary);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    transition: all .4s linear;
}
.product:hover{
    transform: translateY(-10px);
}
.img_product{
    width: 54%;
    margin-bottom: 2em;
}
.product p{
    text-transform: uppercase;
    color: var(--secondary);
    font-weight: bold;
    font-size: 24px;
    text-align: center;
}

@media only screen and (max-width: 428px) {
    .products_section{
        padding: 2em 0;
    }
    .product{
        margin: 0 0 3em 0;
    }
}