*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary: #349de9;
    --bg: #101010;
    --tertiary: #ffcc00;
    --gradient: linear-gradient(75deg, #349de9, #0982d7);
}
a{
    color: #fff !important;
    text-decoration: none!important;
}
body{
    background-color: var(--bg) !important;
    color: #fff !important;
}
header{
    width: 100%;
    height: auto;
    position: sticky;
    top: 0;
    left: 0;
    background-color: #0000003e;
    padding: 15px 0;
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
}
.logo{
    max-width: 180px;    
}
header nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 100%;
    text-align: right;
}
nav a{
    transition: all .4s linear;
}
nav a:hover{
    color: var(--primary) !important;
}
main{
    position: relative !important;
    width: 100%;
    min-height: 100vh;
    height: auto;
    background-color: var(--bg);
    background-image: url(../images/bg_bf.jpg);
    background-size: cover;
    background-position: center;
    display: flex !important;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 5em;
    overflow: hidden;
}

.main_text{
    margin-top: -6em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 9;
}
.main_text h1{
    color: #fff;
    text-align: center;
    font-weight: bold;
}
.main_text p{
    font-weight: bold;
    color: var(--tertiary);
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 4rem;
}

.logo_bf{
    margin-top: -2em;
    max-width: 550px;
    animation: luminous 2s ease-in infinite alternate;
}

.camara_de_comercio{
    position: absolute;
    width: 70px;
    height: auto;
    left: 28%;
    top: 31%;
    z-index: 10;
}

.main_btn{
    background-image: var(--gradient);
    padding: 10px 25px;
    border-radius: 5px;
    font-weight: bold;
    z-index: 99;
    transition: all .4s linear;
}
.main_btn:hover{
    background-image: linear-gradient(75deg, #006cba, #0982d7);
    box-shadow: 0 5px 20px var(--primary);
}

.cubo{
    position: absolute;
}
.cubo1{
    left: 10%;
    top: 25%;
    /* animation: luminous 1s ease-in infinite alternate; */
}
.cubo2{
    right: 10%;
    top: 45%;
    /* animation: luminous 1s .4s ease-in infinite alternate; */
}

@keyframes luminous {
    from{
        filter: drop-shadow(5px 5px 5px #0982d7);
        transform: translateY(-5px);
    }
    to{
        filter: drop-shadow(0px 0px 35px #0982d7);
        transform: translateY(15px);
    }
}

@media only screen and (max-width: 428px) {
    .logo_bf{
        max-width: 300px;
    }
    .cubo{
        width: 70px;
    }
    .cubo1{
        left: 5%;
        top: 75%;
    }
    .cubo2{
        right: 1%;
        top: 75%;
    }
}


/* Section Auspiciante
======================= */
.section_auspiciantes{
    width: 100%;
    height: auto;
    padding: 6em 0;
    background-color: #1f1f1f;
    color: #fff;
}
.auspiciante_title{
    width: 100%;
    height: auto;
    display: block;
    padding: 5rem 0 1rem 0;
    text-align: center;
}
.cuadro_auspiciante{
    width: 100%;
    height: auto;
    padding: 10px 25px;
    border-radius: 10px;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.cuadro_auspiciante img{
    width: 90%;
    height: auto;
}


/* Section Jumbotron
======================= */
.section_jumbotron{
    width: 100%;
    height: auto;
    padding: 5em 0;
    background-image: url(../images/tumulto.png);
    background-color: var(--primary);
    background-blend-mode: multiply;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}
.jumbotron_text{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.jumbotron_text h3{
    color: #fff;
    font-weight: bold;
    text-align: center;
    text-shadow: 2px 2px 5px #000000;
}
.jumbotron_text h3 span{
    color: var(--tertiary);
    font-weight: 400 !important;
}
.btn_black{
    padding: 10px 25px;
    text-align: center;
    background-color: var(--bg);
    border-radius: 5px;
    font-weight: bold;
    margin-top: 2em;
    transition: all .4s linear;
}
.btn_black:hover{
    box-shadow: 0 5px 20px var(--tertiary);
}

/* Locomotive
============ */
.section_locomotive{
    position: relative;
    min-width: 100%;
    height: auto;
    padding: 10em 0; 
    background-color: var(--bg);
    color: #fff;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.skew_bf{
    width: 200%;
    height: auto;
    font-weight: bold;
    padding: 5px 0;
}
.skew_bf2{
    margin: 2em 0;
}
.skew_bf span{
    font-size: 3.5em;
}
.skew_bf1 span{
    /* transform: rotate(25deg); */
    background-color: #0982d7;
    color: #fff;
}
.skew_bf2 span{
    background-color: #ffffff;
    color: #0982d7;
}
.skew_bf3 span{
    background-color: #0982d7;
    color: #fff;
    /* transform: rotate(-25deg); */
}

@media only screen and (max-width: 1536px) {
    .skew_bf {
        width: 240%;
    }
}

@media only screen and (max-width: 428px) {
    .skew_bf {
        width: 700%;
    }
    .skew_bf span{
        font-size: 2em;
    }
    .section_locomotive {
        padding: 4em 0;
    }
}

/* section_down_locomotive
============================== */
.section_down_locomotive{
    width: 100%;
    height: auto;
    padding: 7em 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background-color: var(--primary);
}
.down_locomotive{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    text-align: center;
}

.down_locomotive h1{
    text-align: left;
    font-size: 4em;
    font-weight: bold;
    margin-bottom: 2.4rem;
}
.down_locomotive h2 span{
    color: var(--bg);
    font-weight: bold;
}
.down_locomotive_h2{
    text-align: left !important;
}

/* »»»»»»»»»»»»»»»»»
|      iframe     |
 «««««««««««««««« */
 .celu{
    position: relative;
    margin: 0 auto;
    width: 293px;
    height: 649px;
    background-image: url(../images/celu.png);
    background-repeat: no-repeat;
    background-size: contain;
    overflow: hidden;
}
.interior-celu{
    width: 273px;
    height: 564px;
    position: absolute;
    background-color: #000000;
    border-radius: 11px;
    overflow: hidden;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
}
iframe{
    position: absolute;
    top: 42%;
    left: 47%;
    transform: translate(-50%, -50%) scale(1.2);
}
.iframe-right h3{
    color: var(--azul-marino);
    font-size: 3.5em;
    font-weight: bold;
}
@media all and (max-width: 428px) {
    .celu{
        margin-top: 2em;
    }
    iframe {
        position: absolute;
        top: 42%;
        left: 47%;
        transform: translate(-50%, -50%) scale(1.1);
    }
}


/* section fechas
============ */
.section_fechas{
    width: 100%;
    height: auto;
    padding: 6em;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fecha{
    width: 100%;
    height: auto;
    border: 3px solid var(--primary);
    border-radius: 20px;
    padding: 25px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
}
.fecha h3{
    font-size: 2.5em;
    font-weight: bold;
    margin: .8em 0;
}
.fecha p{
    text-align: center;
    font-size: 1.5em;
}
.fecha p span{
    color: var(--primary);
    text-decoration: underline !important;
}


/* Accordion
============ */
.section_accordion{
    width: 100%;
    height: auto;
    background-color: #161616;
    padding: 4em 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title h1{
    text-align: center;
    color: var(--primary);
    font-weight: bold;
    font-size: 3em;
    margin-bottom: 1em;
}

*:focus {
    outline: none;
}

details div {
    border-left: 2px solid #349de9;
    border-right: 2px solid #349de9;
    border-bottom: 2px solid #349de9;
    color: #0982d9;
    padding: 1.5em;
}

details div > * + * {
    margin-top: 1.5em;
}

details + details {
    margin-top: .5rem;
}

summary {
    list-style: none;
}

summary::-webkit-details-marker {
    display: none;
}

summary {
    border: 2px solid #349de9;
    padding: .75em 1em;
    cursor: pointer;
    position: relative;
    padding-left: calc(1.75rem + .75rem + .75rem);
}

summary:before {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: .75rem;
    content: "↓";
    width: 1.75rem;
    height: 1.75rem;
    background-color: #349de9;
    color: #FFF;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

details[open] summary {
    background-color: #000000;
}

details[open] summary:before {
    content: "↑";
}

summary:hover {
    background-color: #000000;
}


/* Formulario
============ */
#formulario{
    width: 100%;
    height: auto;
    padding: 10em 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title h4{
    text-align: center;
    color: #fff;
    font-size: 2em;
    margin-bottom: 2em;
}

@media all and (max-width: 428px) {
    .title h4{
        font-size: 1.5em;
    }
}

/* Footer
============ */
footer{
    width: 100%;
    height: auto;
    background-color: #0D0C0C;
    padding: 10px 0 4px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer p{
    color: var(--primary);
}



/* Define una animación llamada 'slide' */
@keyframes slide {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0);
    }
  }
  
  /* Aplica la animación a los elementos cuando tienen la clase 'animate' */
  .skew_bf.animate {
    animation: slide 4s forwards; /* Ajusta la duración de la animación según tus necesidades */
  }
  
  .section_locomotive {
    height: 100vh; /* Ajusta esto según tus necesidades */
    overflow: hidden;
  }