@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: #ffcc00;
}

main{
    width: 100vw;
    min-height: 100vh;
    background-color: #1c1c1c;
    background-image: url(../images/bar-bg.png);
    background-blend-mode: multiply;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.logo img{
    max-width: 250px;
    min-width: 90px;
    height: auto;
    margin-bottom: 2em;
}
.titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 2em;
    text-align: center;
}
.titulo h2{
    font-weight: bold;
    text-align: center;
    font-size: 3em;
}
.titulo h3{
    text-align: center;
}
.formulario{
    max-width: 600px;
    margin: 0 auto 3em auto;
}