flex-wrapper {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flexbox;
    display: -moz-flex;
    display: -o-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}

#page-wrap {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

/*** canvas ***/

#canvas {
    height: 100vh;
    width: 100vw;

    opacity: 0;
    transition: opacity 0.5s ease-in;
}

#back-to-lib-link {
    display: inline-block;
    position: fixed;
    top: 0;
    right: 0;
    padding: 0.25em 0.5em;
    background: #ee6557;
    color: white;
    text-decoration: none;
    z-index: 20;
    font-size: 0.85em;
}

#back-to-lib-link:hover {
    background: black;
}

#source-code-link {
    display: inline-block;
    position: fixed;
    bottom: 1em;
    right: 1em;
    padding: 0.25em 0.5em;
    background: #ee6557;
    color: white;
    text-decoration: none;
    z-index: 50;
}

#source-code-link:hover {
    background: black;
}

.video-started #canvas {
    opacity: 1;
}

.curtain-wrapper {
    position: absolute;
    z-index: 15;
    top: 10%;
    right: 10%;
    bottom: 10%;
    left: 10%;
}

.curtain {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.curtain img, .curtain video {
    opacity: 0;
}


#enter-site-wrapper {
    justify-content: center;
    align-items: center;
    align-content: center;

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 30;

    opacity: 0;
    transition: opacity 0.5s ease-in;
}

.curtains-ready #enter-site-wrapper {
    opacity: 1;
}

.curtains-ready.video-started #enter-site-wrapper {
    opacity: 0;
    pointer-events: none;
}

#enter-site {
    padding: 20px;
    color: white;
    background: #ee6557;
    max-width: 200px;
    text-align: center;
    cursor: pointer;
}

/*** handling errors ***/

.no-curtains .curtain-wrapper {
    left: 50%;
    right: auto;
    bottom: auto;
    top: 50%;
    transform: translate(-50%, -50%);
}

.no-curtains .curtain {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.no-curtains.video-started .curtain img, .no-curtains.video-started .curtain video {
    display: block;
    object-fit: cover;
}

/*** handling video ratio on error ***/

@media screen and (max-aspect-ratio: 1920/1080) {
.no-curtains .curtain-wrapper {
    height: calc(100vh * 0.8);
    width: calc(177vh * 0.8);
}
}
@media screen and (min-aspect-ratio: 1920/1080) {
.no-curtains .curtain-wrapper {
    width: calc(100vw * 0.8);
    height: calc(56.25vw * 0.8);
}
}