*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primary-color: #349de9;
    
    --secondary-color: #ffcc00;
    --third-color: #f11d48;
    
    --bg: #FFC915;
    --gray: #F4F4F4;
    
    --white: #ffffff;
    --black: #000000;
}

::-webkit-scrollbar {
    width: 7px;
}
::-webkit-scrollbar-track {
    background-color: var(--bg);
}
::-webkit-scrollbar-thumb {
    background: var(--black);
    border-radius: 2px;
}
::-webkit-scrollbar-thumb:hover {
    background: var(--white); 
}
::-moz-scrollbar {
    width: 7px;
}
::-moz-scrollbar-track {
    background-color: var(--bg);
}
::-moz-scrollbar-thumb {
    background: var(--black);
    border-radius: 2px;
}
::-moz-scrollbar-thumb:hover {
    background: var(--white); 
}
::-o-scrollbar {
    width: 7px;
}
::-o-scrollbar-track {
    background-color: var(--bg);
}
::-o-scrollbar-thumb {
    background: var(--black);
    border-radius: 2px;
}
::-o-scrollbar-thumb:hover {
    background: var(--white); 
}
::scrollbar {
    width: 7px;
}
::scrollbar-track {
    background-color: var(--bg);
}
::scrollbar-thumb {
    background: var(--black);
    border-radius: 2px;
}
::scrollbar-thumb:hover {
    background: var(--white); 
}

::selection {
    color: var(  --white);
    background: var(--black);
  }

html {
    scroll-behavior: smooth;
}

body{
    background-color: var(--bg) !important;
}

section{
    padding: 4em 0;
}

/*     Main
==================== */
header{
    width: 100%;
    height: auto;
    padding: 15px 0;
    background-color: var(--black);
    display: flex;
    justify-content: center;
    align-items: center;
}
header img{
    width: 170px;
}

/*     Main
==================== */
.main_banner{
  margin: 0;
  padding: 0;
  width: 100%;
}
main{
    width: 100%;
    height: auto;
    padding: 4em 0;
    position: relative !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}
/* ------------------------- */
/* Estilos CSS del Reproductor */
/* ------------------------- */
.fm-video {
	width: 100%;
	box-shadow: 0px 18px 25px #bb9500;
	border-radius: 25px;
	overflow: hidden;
	border: 2px solid #fff;
}
.video-js .vjs-control-bar{
    background-color: #0000004a !important;
    transition: .4s linear all !important;
}
.video-js .vjs-control-bar:hover{
    background-color: var(--black) !important;
}
.fm-video .vjs-control-bar {
	background: #F4F4F4;
	color: #fff;
}
.video-js .vjs-play-progress{
    background-color: var(--bg) !important;
}
.video-js .vjs-control-bar:hover .vjs-play-progress{
    background-color: var(--bg) !important;
}

.video-js .vjs-play-control .vjs-icon-placeholder {
    cursor: pointer;
    flex: none;
    border-radius: 5px;
    padding: 7px 20px 10px 20px;
    margin: 10px 5px;
    height: 50px;
    width: 50px;
    color: var(--black);
    background-color: #00000000;
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    -moz-backdrop-filter: saturate(180%) blur(20px);
    -o-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
    transition: .4s linear all;
}
.video-js .vjs-play-control .vjs-icon-placeholder:hover {
    color: #fff;
    background-color: var(--bg);
}

.fm-video .vjs-play-progress,
.fm-video .vjs-volume-level {
	background: #1d87d8;
}

.fm-video .vjs-slider {
	background: #11e726;
}

.video-js:hover .vjs-big-play-button {
	background: #ffcc00;
}

.video-js .vjs-big-play-button {
    line-height: 1.9em !important;
    font-size: 3em !important;
    width: 2em !important;
    height: 2em !important;
    display: block;
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 0;
    cursor: pointer;
    opacity: 1;
    border: 1px solid #fff !important;
    background-color: #000000 !important;
    border-radius: 5px;
    transition: all 0.4s linear !important;
}
.video-js .vjs-big-play-button:hover {
    background-color: var(--third-color) !important;
    border: 1px solid #ce0029 !important;
  }

.fm-video .vjs-big-play-button {
	background: #060b6b;
	width: 80px;
	height: 80px;
	line-height: 80px;
	border-radius: 100%;
	border:none;
}

.fm-video .vjs-big-play-button:hover {
	background: #030365;
}


/*  Section */
.section_title h1{
    color: var(--black);
    font-weight: bold;
    text-align: center;
    font-size: 7em;
}
.section_title h1 .span_black{
    color: var(--black);
}
.section_title h1 .span_tachado{
    position: relative;
}
.section_title h1 .span_tachado::after{
    content: '';
    width: 5em;
    height: 5px;
    background-color: #000000;
    position: absolute;
    left: 33%;
    top: 55%;
    transform: rotate(10deg);
}

.menor{
    font-size: .7em;
}

@media only screen and (max-width: 912px) {
    .section_title h1{
        font-size: 2em;
    }
    .section_title h1 .span_tachado::after {
        left: 9%;
    }
}

/* ========  */
.realme_section{
  width: 100%;
  height: auto;
  padding: 4em 0;
}
.pill_featured{
  padding: 25px 0;
  background-color: #FFD857;
  border-radius: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.pill_featured img{
  width: 55px;
  margin-right: 15px;
}
.pill_featured small{
  font-weight: 600;
  font-size: 1.5em;
  color: var(--black);
}

@media only screen and (max-width: 912px) {

}

/* ========  */
.beneficio{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3em;
}

.tres-en-uno{
    font-weight: bold;
    font-size: 2em;
}

h4.beneficio_h4 {
    font-size: calc( 1em + 4vmin );
    font-weight: 900;
    color: var(--third-color);
    
    --x-offset: -0.0625em;
    --y-offset: 0.0625em;
    --stroke: 0.025em;
    --background-color: white;
    --stroke-color: #349de9;
    
    text-shadow: 
      
      var(--x-offset)
      var(--y-offset)
      0px
      var(--background-color), 
      
      calc( var(--x-offset) - var(--stroke) )
      calc( var(--y-offset) + var(--stroke) )
      0px
      var(--stroke-color);
    
  }
  /* for browsers that support spread, added in
  https://drafts.csswg.org/css-text-decor-4/#text-shadow-property
  currently: none browsers! none of them!
  I can't even find a test: 
  https://wpt.fyi/results/css/css-text-decor */
  @supports ( text-shadow: 1px 1px 1px 1px black ) {
    h4.beneficio_h4 {
      text-shadow:
        
        var(--x-offset)
        var(--y-offset)
        0px
        0px
        var(--background-color), 
        
        var(--x-offset) 
        var(--y-offset)
        var(--stroke)
        0px
        var(--stroke-color);
      
    }
  }



.section_beneficios{
    position: relative;
    overflow: hidden;
}
.beneficios_text h1{
  font-weight: bold;
  text-align: left;
  color: var(--black);
}
.beneficios_text h1 span{
  background-color: var(--black);
  color: var(--bg);
  display: inline-block;
  padding: 5px 10px;
}
@media only screen and (max-width: 912px) {
  .beneficios_text h1{
    font-size: 2.2em;
    text-align: center;
  }
}
/* ---  */

.smartphone{
  max-width: 400px;
}
.colors{
  margin-top: 2em;
}
.colors p{
  font-size: 2em;
  font-weight: bold;
  text-align: left;
  color: var(--black);
}
.circulos{
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  margin: 0 auto;
}
.circulo {
    width: 40px;
    height: 40px;
    display: flex;
    margin: 0 10px;
    border-radius: 50%;
}
.circuloactive{
  box-shadow: 0 0 15px #000;
}
.circulo:hover{
    transform: scale(1.1);
    transition: all .4s linear;
    animation-direction: alternate-reverse;
    cursor: pointer;
}

.green{
    background-color: #C7D8BF;
}
.black{
    background-color: var(--black);
}

.opciones h2{
  font-weight: bold;
  margin-top: 1em;
}

.comprar_wrap{
  background-color: var(--black);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  margin: 3em 0;
  padding: 3em 0;
  color: #fff;
}

.precios{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 2em;
}
.precios .old_price, .precios .new_price{
  font-weight: bold;
  margin: 0 20px;
}
.precios .old_price{
  position: relative;
  color: #808080;
}
.precios .old_price::after{
  content: '';
  position: absolute;
  width: 80px;
  height: 4px;
  background-color: #ff1616;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(18deg);
  
}
.precios .new_price{
  color: var(--gray);
  transform: scale(1.2);
}


.producto_btn{
  background-color: #09a419;
  border: none;
  color: #fff;
  padding: 10px 65px;
  font-weight: bold;
  border-radius: 5px;
  transition: all .4s linear;
}
.producto_btn:hover{
  background-color: #1df12b;
  color: #fff;
  box-shadow: 0 0 15px #1df12b;
  animation: none;
}

.btn_comprar{
    background-color: #00A711;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin: 0 auto;
    font-weight: bold;
    margin-top: 2em;
    width: 100%;
    padding: 10px 0;
    font-size: 2em;
    box-shadow: 0 0 15px #11e726;
    animation: shine 1s linear infinite alternate-reverse;
    transition: .4s linear background-color;
}
.btn_comprar:hover{
    background-color: #02d016;
}



@keyframes shine {
    0%{
        box-shadow: 0 0 1px #11e726;
    }
    100%{
        box-shadow: 0 0 30px #11e726;
    }
}

@media only screen and (max-width: 912px) {
    .btn_comprar{
        font-size: 1.5em;
    }
    .comprar_wrap{
    flex-direction: column;
    }
    .colors p{
      text-align: center;
    }
    .circulos{
      justify-content: center;
    }
}

/* Footer 
================ */
footer{
    width: 100%;
    height: auto;
    background-color: var(--black);
    padding: 25px 0px;
}

.footer_rrss{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0 !important;
    padding: 0;
}
.footer_rrss li{
  margin: 10px;
  transition: all .4s linear;
  color: var(--bg);
}
.footer_rrss li:hover{
  background-color: var(--primary-color);
  cursor: pointer;
  transform: translateY(-5px);
}

.footer_rrss li i{
  font-size: 18px;
  color: var(--third-color);
  border: 1px  solid #fff;
  padding: 7px;
  border-radius: 5px;
  transition: all .4s linear;
}
.footer_rrss li img{
  width: 33px;
  color: #fff;
  border: 1px  solid #fff;
  padding: 7px;
  border-radius: 5px;
  transition: all .4s linear;
}

footer a{
  text-decoration: none;
}

footer p{
  font-size: 14px;
  text-align: center;
  font-weight: 400;
  color: #fff;
}
footer h6{
  font-weight: 400;
  color: #fff;
}
