*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primary-color: #2089ff;
    
    --secondary-color: #00E9FF;
    --third-color: #FF8F00;
    
    --bg: #DDF1FF;
    --gray: #F4F4F4;
    
    --white: #ffffff;
    --black: #000000;
}

@font-face {
    font-family: SamsungRegular;
    src: url(../fonts/SamsungSharpSansRegular-Regular.ttf);
}
@font-face {
    font-family: Samsung400;
    src: url(../fonts/SamsungOne-400.woff2);
}
@font-face {
    font-family: Samsung700;
    src: url(../fonts/SamsungOne-700.woff2);
}
@font-face {
    font-family: SamsungRegularv2;
    src: url(../fonts/samsungsharpsans-regular_v2.ttf);
}
@font-face {
    font-family: Samsung6291;
    src: url(../fonts/samsung_s_sharp_by_629lyric-d8y77l9.ttf);
}
@font-face {
    font-family: SamsungBold;
    src: url(../fonts/SamsungSharpSansBd.woff2);
}

::-webkit-scrollbar {
    width: 7px;
}
::-webkit-scrollbar-track {
    background-color: var(--bg);
}
::-webkit-scrollbar-thumb {
    background: var(--primary-color);
    border-radius: 2px;
}
::-webkit-scrollbar-thumb:hover {
    background: var(--bg); 
}

::selection {
    color: var(  --white);
    background: var(--primary-color);
  }

html {
    scroll-behavior: smooth;
}

body{
    font-family: SamsungBold !important;
}

section{
    padding: 4em 0;
}

/*     Main
==================== */
main{
    width: 100%;
    height: 100vh;
    position: relative !important;
    background-color: var(--primary-color);
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    overflow: hidden;
}
/* ================== */
.main_wrap{
    width: 90%;
    height: 100%;
    
    position: relative;
}

.main_element{
    position: absolute;
    top: 0;
    left: 0;
    object-fit: contain;
}

.hand{
    position: absolute;
    top: 25%;
    left: 10%;
    animation: downup .9s linear alternate-reverse infinite;
}
@keyframes downup{
    0%{
        transform: translateY(-5px);
    }
    100%{
        transform: translateY(-25px);
    }
}

.galaxy{
    top: 35%;    
    left: 16%;
    width: auto;
}

.man1{
    top: 25%;    
    left: 36%;
    width: auto;
}

.man2{
    top: 45%;
    left: 70%;
    width: auto;
}

.girl1{
    top: 55%;    
    left: 5%;
    width: auto;
}

.girl2{
    top: 15%;
    left: 55%;
    width: auto;
}



@media only screen and (min-width: 1024px) {
    .man1 {
        top: 25%;
        left: 32%;
        width: 107px;
    }
    
    .galaxy {
        top: 35%;
        left: 10%;
        width: 80%;
    }
    
    .man2 {
        top: 56%;
        left: 77%;
        width: 250px;
    }
    
    .girl2 {
        top: 19%;
        left: 57%;
        width: 160px;
    }
    
    .girl1 {
        top: 55%;
        left: 5%;
        width: 305px;
    }
}




/* ================== */
.container_wrap_hero{
    width: 80%;
    height: auto;
    display: none;
    justify-content: center;
    align-items: center;
}
.main_btn{
    padding: 10px 25px;
    border: 1px solid var(--white);
    border-radius: 25px;
    color: var(--white) !important;
    transition: all .4s linear;
}
.main_btn_dark{
    padding: 10px 25px;
    border: 1px solid var(--black);
    border-radius: 25px;
    color: var(--black) !important;
    transition: all .4s linear;
}
.absolute_btn{
    position: absolute;
    bottom: 15%;
    left: 20%;
}
.main_btn:hover{
    background-color: #00000033;
}
.main_btn:hover .svg_btn{
    transform: translateX(5px);
    transition: all .4s linear;
}
.main_btn_dark:hover{
    background-color: #0000001a;
}
.main_btn_dark:hover .svg_btn{
    transform: translateX(5px);
    transition: all .4s linear;
}

@media only screen and (max-width: 912px) {
    .main_wrap{
        display: none;
    }
    .container_wrap_hero{
        width: 100%;
        display: flex;
    }
}


/* We help u
================ */
.title_section h1{
    
    font-weight: bold;
}
.title_section h3{
    color: #DC1212;
    font-weight: bold;
    font-size: 1em;
}
.thumb{
    background-color: var(--gray);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 15px;
    text-align: center;
    transition: all .4s linear;
}

.thumb:hover{
    transform: translateY(-10px);
    box-shadow: 0 25px 25px #c7c7c7;
}

.thumb_img{
    width: 120px;
    margin-bottom: 10px;
}
.thumb h4{
    font-weight: bold;
    color: #000000;
}
.thumb small{
    color: #545454;
}

/* Related Products 
====================== */
.related{
    background-color: var(--bg);
}
.related_thumb{
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .4s linear;
}

.related_thumb:hover{
    transform: translateY(-10px);
}

.related_thumb_text{
    margin-left: 15px;
    color: var(--black);
}


/* Footer 
================ */
.rectangulo{
    width: 100%;
    height: auto;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    overflow: hidden;
}
.bg_gray{
    background-color: var(--gray);
}
.bg_darkgreen{
    background-color: #0C110A;
}
.rect_text{
    margin: 0 35px;
    width: 50%;
    max-width: 650px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column
}
.rect_text ul{
    margin-left: 0 !important;
    padding: 0 ;
}
.rect_text ul li{
    list-style: none;
}
.rect_text ul li span{
    font-weight: 400;
    font-family: Samsung400;
}
.rect_img{
    width: 50%;
    max-width: 650px;
    height: 400px;
    overflow: hidden;
}

.bg_darkgreen .rect_text{
    color: #fff;
    /* margin: 0 35px */
}

@media only screen and (max-width: 428px) {
    .rectangulo{
        height: auto;
        flex-direction: column;
        padding: 40px 0 0 0;
    }
    .rect_text{
        width: 90%;
        height: auto;
        padding: 15px 0;
        margin: 0 0 40px 0;
    }
    .rect_img{
        width: 100%;
        height: auto;
    }
}


/* Footer 
================ */
footer{
    width: 100%;
    height: auto;
    background-color: var(--black);
    padding: 25px 0px;
}

.footer_rrss{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0 !important;
    padding: 0;
}
.footer_rrss li{
  margin: 10px;
  transition: all .4s linear;
  color: var(--bg);
}
.footer_rrss li:hover{
  background-color: var(--primary-color);
  cursor: pointer;
  transform: translateY(-5px);
}

.footer_rrss li i{
  font-size: 18px;
  color: var(--third-color);
  border: 1px  solid #fff;
  padding: 7px;
  border-radius: 5px;
  transition: all .4s linear;
}
.footer_rrss li img{
  width: 33px;
  color: #fff;
  border: 1px  solid #fff;
  padding: 7px;
  border-radius: 5px;
  transition: all .4s linear;
}

footer a{
  text-decoration: none;
}

footer p{
  font-size: 14px;
  text-align: center;
  font-weight: 400;
  color: #fff;
}
footer h6{
  font-weight: 400;
  color: #fff;
}
