
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
    font-family: SamsungBold;
}
@font-face {
    font-family: SamsungRegular;
    src: url(../fonts/SamsungSharpSansRegular-Regular.ttf);
}
@font-face {
    font-family: Samsung400;
    src: url(../fonts/SamsungOne-400.woff2);
}
@font-face {
    font-family: Samsung700;
    src: url(../fonts/SamsungOne-700.woff2);
}
@font-face {
    font-family: SamsungRegularv2;
    src: url(../fonts/samsungsharpsans-regular_v2.ttf);
}
@font-face {
    font-family: Samsung6291;
    src: url(../fonts/samsung_s_sharp_by_629lyric-d8y77l9.ttf);
}
@font-face {
    font-family: SamsungBold;
    src: url(../fonts/SamsungSharpSansBd.woff2);
}

html{
    scroll-behavior: smooth;
}
::-webkit-scrollbar-track
{
	/* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); */
	background-color: #ffffff;
}

::-webkit-scrollbar
{
	width: 12px;
	background-color: #000;
}

::-webkit-scrollbar-thumb
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #000;
}


/* +----------------+
|      Main        |
+-----------------+ */
.main-img{
    width: 100%;
}
/* >>>>>>>>>> Responsive <<<<<<<<<<<< */
@media only screen and (max-width: 414px) {
    .title h2{
        font-size: 1.5em;
    }
    .title img{
        width: 100%;
        height: auto;
    }
    .main-img{
        width: 200% !important;
    }
}
@media only screen and (max-width: 375px) {
    .title h1 {
        font-size: 2em;
    }
}

/* +----------------+
|     Celulares     |
+-----------------+ */
.galaxies{
    padding: 10em 0 10em 0;
}
.galaxy{
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    background-color: #E9E6FF;
    border-radius: 20px;
}
.galaxy img{
    transition: all .4s linear;
}

.galaxy img:hover{
    transform: scale(1.1) translateY(-25px);
}
@media only screen and (max-width: 600px) {
    .main-img{
        margin-top: 8vh;
    }
    .galaxies{
        padding: 2em 0 4em 0;
    }
}
/* +----------------+
|     Celulares     |
+-----------------+ */
.celu-section{
    background-color: #F5F5F5;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}
.regalo-h3{
    font-weight: 900;
}
.regalo-small{
    font-family: SamsungRegular;
}
.celu-h1{
    font-size: 2em;
    margin: 0px 0px 40px 0px;
}
.celu-a{
    text-decoration: none;
    margin: 20px 0px 0px 0px;
    padding: 10px 35px;
    border-radius: 2px;
    font-weight: 500;
    background-color: #000;
    color: #ffffff;
}
.celu-a:hover{
    color: #000;
    background-color: #F5f5f5;
    transition: all .5s linear;
}
.celu-a a{
    color: #ffffff;
}
.celu-a a:hover{
    color: #000000;
}



.celu .btn-more{
    border: 1px solid #ffffff;
    padding: 10px 40px;
    border-radius: 50px;
    margin: 12px 0px 0px 7px;
}
.btn-more:hover{
    cursor: pointer;
    border: 1px solid #b6b4b4;
    transition: all .4s linear;
    animation-direction: alternate-reverse;
}


/* +----------------+
|     Formulario    |
+-----------------+ */
.form{
    width: 100%;
    padding: 4em 0;
    background-color: #000000;
}
.formulario{
    width: 50%;
    height: auto;
}    
.form{
    width: 100%;
    background-color: #000000;
}
.form .formulario h1{
    text-align: center;
    color: #fff;
    margin-bottom: 1em;
}
.formulario{
    width: 50%;
    height: auto;
    margin: 0 auto;
    margin: 0 auto;
}
@media only screen and (max-width: 1024px) {
    .formulario{
        width: 90%;
        height: auto;
    }
}
@media only screen and (max-width: 414px) {
    .formulario{
        width: 100%;
        height: auto;
    }
}

/* +----------------+
|       Tuyo        |
+-----------------+ */
.tuyo-section{
    width: 100%;
    height: auto;
    background-color: #E9E6FF;
    padding: 5em 0em;
}

/* +----------------+
|      footer       |
+-----------------+ */
footer{
    width: 100%;
    height: auto;
    padding: 30px 0px;
    background-color: #fff;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
footer h5{
    font-size: 13px;
    font-weight: bold;
}