*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary: #235B8E;
    --secondary:  #C6BB9E;
    --tertiary: #66B8E1;
    --azul: #0084FF;
}

body{
    background-color: #000;
}

section{
    overflow: hidden;
}

header{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
    background-color: #fff;
    position: sticky;
    z-index: 99;
    top: 0;
    left: 0;
}
header nav img{
    width: 300px;
}

main{
    width: 100vw;
    min-height: 90vh;
    padding: 15px;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* border: 1px solid #0084FF; */
}
.main_h1{
    font-weight: bold;
    font-size: 4em;
    text-align: center;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    background-image: linear-gradient(35deg, var(--primary), var(--secondary));
}

.iphone15pro{
    /* width: 170px; */
    font-size: 1.9em;
    margin-top: 1em;
    font-weight: 400;
    color: #fff;
}

.btn_line_white{
    border: 1px solid #fff;
    border-radius: 7px;
    padding: 7px 75px;
    margin: 2em 0;
    text-decoration: none;
    font-size: 1.5em;
    color: #fff;
    transition: all .4s linear;
}

.btn_line_white:hover{
    border: 1px solid #fff;
    background-color: #fff;
    color: var(--azul);
}

@media only screen and (max-width: 600px) {
    .main_h1{
        font-size: 3em;
        line-height: 1em;
        text-align: center !important;
    }
    .btn_line_white {
        padding: 4px 60px;
    }
}

/* Otra Sección 
===================== */
.section_iphone15{
    position: relative;
    width: 100%;
    min-height: 90vh;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 25px;
}
.section_iphone15 .iphone15{
    font-weight: bold;
    font-size: 4em;
    text-align: center;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    background-image: linear-gradient(35deg, var(--primary), var(--secondary));
}
.section_iphone15 p{
    color: #6E6E73;
    text-align: center;
    font-size: 2em;
    line-height: 1.3em;
}
.btn_line_blue{
    border: 1px solid var(--azul);
    border-radius: 7px;
    padding: 7px 75px;
    margin: 2em 0;
    text-decoration: none;
    font-size: 1.5em;
    z-index: 9;
    color: var(--azul);
    transition: all .4s linear;
}

.btn_line_blue:hover{
    border: 1px solid var(--azul);
    background-color: var(--azul);
    color: #fff;
}
.section_iphone15 .iphone15_img{
    position: relative;
    margin-top: 4em;
    display: flex;
}

@media only screen and (max-width: 600px) {
    .section_iphone15 .iphone15 {
        font-size: 3em;
    }
    .section_iphone15 p {
        font-size: 1.7em;
        line-height: 1.3em;
    }
    .btn_line_blue {
        padding: 4px 60px;
    }
}

/* Otra Sección 
===================== */
#formulario{
    width: 100%;
    height: auto;
    padding: 10em 25px;
}
.form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.form h2{
    font-weight: bold;
    font-size: 4em;
    text-align: center;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    background-image: linear-gradient(35deg, var(--primary), var(--secondary));
}
.form p{
    color: #fff;
    font-size: 2em;
    text-align: center;
}
.form small{
    color: #fff;
    text-align: center;
    margin: 0 auto;
}

@media only screen and (max-width: 600px) {
    .form h2{
        font-size: 2em;
    }
    .form p{
        font-size: 1.3em;
        text-align: center;
    }
}
