*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primary-color: #349de9;
    
    --secondary-color: #ffcc00;
    --third-color: #f11d48;
    
    --bg: #DDF1FF;
    --gray: #F4F4F4;
    
    --white: #ffffff;
    --black: #000000;
}

::-webkit-scrollbar {
    width: 7px;
}
::-webkit-scrollbar-track {
    background-color: var(--bg);
}
::-webkit-scrollbar-thumb {
    background: var(--primary-color);
    border-radius: 2px;
}
::-webkit-scrollbar-thumb:hover {
    background: var(--bg); 
}
::-moz-scrollbar {
    width: 7px;
}
::-moz-scrollbar-track {
    background-color: var(--bg);
}
::-moz-scrollbar-thumb {
    background: var(--primary-color);
    border-radius: 2px;
}
::-moz-scrollbar-thumb:hover {
    background: var(--bg); 
}
::-o-scrollbar {
    width: 7px;
}
::-o-scrollbar-track {
    background-color: var(--bg);
}
::-o-scrollbar-thumb {
    background: var(--primary-color);
    border-radius: 2px;
}
::-o-scrollbar-thumb:hover {
    background: var(--bg); 
}
::scrollbar {
    width: 7px;
}
::scrollbar-track {
    background-color: var(--bg);
}
::scrollbar-thumb {
    background: var(--primary-color);
    border-radius: 2px;
}
::scrollbar-thumb:hover {
    background: var(--bg); 
}

::selection {
    color: var(  --white);
    background: var(--primary-color);
  }

html {
    scroll-behavior: smooth;
}

body{
    background-color: #e8f6ff !important;
}

section{
    padding: 4em 0;
}

/*     Main
==================== */
header{
    width: 100%;
    height: auto;
    padding: 15px 0;
    background-color: var(--black);
    display: flex;
    justify-content: center;
    align-items: center;
}
header img{
    width: 170px;
}

/*     Main
==================== */
main{
    width: 100%;
    height: auto;
    padding: 4em 0;
    position: relative !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}
/* ------------------------- */
/* Estilos CSS del Reproductor */
/* ------------------------- */
.fm-video {
	width: 100%;
	box-shadow: 0px 18px 25px #c0c0c0;
	border-radius: 10px;
	overflow: hidden;
	border: 7px solid #fff;
}
.video-js .vjs-control-bar{
    background-color: #349de94a !important;
    transition: .4s linear all !important;
}
.video-js .vjs-control-bar:hover{
    background-color: #349de9 !important;
}
.fm-video .vjs-control-bar {
	background: #F4F4F4;
	color: #fff;
}
.video-js .vjs-play-progress{
    background-color: var(--primary-color) !important;
}
.video-js .vjs-control-bar:hover .vjs-play-progress{
    background-color: var(--third-color) !important;
}

.video-js .vjs-play-control .vjs-icon-placeholder {
    cursor: pointer;
    flex: none;
    border-radius: 5px;
    padding: 7px 20px 10px 20px;
    margin: 10px 5px;
    height: 50px;
    width: 50px;
    color: var(--third-color);
    background-color: #ffffff59;
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    -moz-backdrop-filter: saturate(180%) blur(20px);
    -o-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
    transition: .4s linear all;
}
.video-js .vjs-play-control .vjs-icon-placeholder:hover {
    color: #fff;
    background-color: var(--third-color);
}

.fm-video .vjs-play-progress,
.fm-video .vjs-volume-level {
	background: #1d87d8;
}

.fm-video .vjs-slider {
	background: #11e726;
}

.video-js:hover .vjs-big-play-button {
	background: #ffcc00;
}

.video-js .vjs-big-play-button {
    line-height: 1.9em !important;
    font-size: 3em !important;
    width: 2em !important;
    height: 2em !important;
    display: block;
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 0;
    cursor: pointer;
    opacity: 1;
    border: 1px solid #fff !important;
    background-color: #349de9 !important;
    border-radius: 5px;
    transition: all 0.4s linear !important;
}
.video-js .vjs-big-play-button:hover {
    background-color: var(--third-color) !important;
    border: 1px solid #ce0029 !important;
  }

.fm-video .vjs-big-play-button {
	background: #060b6b;
	width: 80px;
	height: 80px;
	line-height: 80px;
	border-radius: 100%;
	border:none;
}

.fm-video .vjs-big-play-button:hover {
	background: #030365;
}


/*  Section */
.section_title h1{
    color: var(--third-color);
    font-weight: bold;
    text-align: center;
    font-size: 4em;
}
.section_title h1 .span_black{
    color: var(--black);
}
.section_title h1 .span_tachado{
    position: relative;
}
.section_title h1 .span_tachado::after{
    content: '';
    width: 5em;
    height: 5px;
    background-color: #000000;
    position: absolute;
    left: 33%;
    top: 55%;
    transform: rotate(10deg);
}

.menor{
    font-size: .7em;
}

@media only screen and (max-width: 912px) {
    .section_title h1{
        font-size: 2em;
    }
    .section_title h1 .span_tachado::after {
        left: 9%;
    }
}

/* ========  */

.beneficio{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3em;
}

.tres-en-uno{
    font-weight: bold;
    font-size: 2em;
}

h4.beneficio_h4 {
    font-size: calc( 1em + 4vmin );
    font-weight: 900;
    color: var(--third-color);
    
    --x-offset: -0.0625em;
    --y-offset: 0.0625em;
    --stroke: 0.025em;
    --background-color: white;
    --stroke-color: #349de9;
    
    text-shadow: 
      
      var(--x-offset)
      var(--y-offset)
      0px
      var(--background-color), 
      
      calc( var(--x-offset) - var(--stroke) )
      calc( var(--y-offset) + var(--stroke) )
      0px
      var(--stroke-color);
    
  }
  /* for browsers that support spread, added in
  https://drafts.csswg.org/css-text-decor-4/#text-shadow-property
  currently: none browsers! none of them!
  I can't even find a test: 
  https://wpt.fyi/results/css/css-text-decor */
  @supports ( text-shadow: 1px 1px 1px 1px black ) {
    h4.beneficio_h4 {
      text-shadow:
        
        var(--x-offset)
        var(--y-offset)
        0px
        0px
        var(--background-color), 
        
        var(--x-offset) 
        var(--y-offset)
        var(--stroke)
        0px
        var(--stroke-color);
      
    }
  }



.section_beneficios{
    position: relative;
    overflow: hidden;
}
.thumb{
    max-width: 100%;
    height: 300px;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    
    background: #ffffff26;
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    -moz-backdrop-filter: saturate(180%) blur(20px);
    -o-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
    
    border: 1px solid #ffffff2e;
    border-radius: 5px;
    /* border-top: 1px solid rgba(255, 49, 49, 0.5);
    border-right: 1px solid rgba(0, 255, 255, 0.5);
    border-bottom: 1px solid rgba(57, 255, 20, 0.5);
    border-left: 1px solid rgba(255, 255, 113, 0.5); */
    
    padding: 1.5rem;
    /* z-index: 10; */
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    transition: all .4s linear;
}

.thumb:hover{
    transform: translateY(-15px);
    box-shadow: 0 30px 20px 0 rgba( 31, 38, 135, 0.37 );
}

.thumb h2{
    color: #170a49;
    font-weight: bold;
    margin: 10px 0 5px 0;
}

.left, .right, .top, .bottom {
    position: absolute;
    border-radius: 100vmax;
  }

.top {
    top: 0;
    left: 0;
    width: 0;
    height: 5px;
    background: linear-gradient(
      90deg,
      transparent 50%,
      rgba(255, 49, 49, 0.5),
      rgb(255, 49, 49)
    );
  }
  
  .bottom {
    right: 0;
    bottom: 0;
    height: 5px;
    background: linear-gradient(
      90deg,
      rgb(57, 255, 20),
      rgba(57, 255, 20, 0.5),
      transparent 50%
    );
  }
  
  .right {
    top: 0;
    right: 0;
    width: 5px;
    height: 0;
    background: linear-gradient(
      180deg,
      transparent 30%,
      rgba(0, 255, 255, 0.5),
      rgb(0, 255, 255)
    );
  }
  
  .left {
    left: 0;
    bottom: 0;
    width: 5px;
    height: 0;
    background: linear-gradient(
      180deg,
      rgb(255, 255, 113),
      rgba(255, 255, 113, 0.5),
      transparent 70%
    );
  }
  
  .top {
    animation: animateTop 3s ease-in-out infinite;
  }
  
  .bottom {
    animation: animateBottom 3s ease-in-out infinite;
  }
  
  .right {
    animation: animateRight 3s ease-in-out infinite;
  }
  
  .left {
    animation: animateLeft 3s ease-in-out infinite;
  }
  
  @keyframes animateTop {
    25% {
      width: 100%;
      opacity: 1;
    }
  
    30%,
    100% {
      opacity: 0;
    }
  }
  
  @keyframes animateBottom {
    0%,
    50% {
      opacity: 0;
      width: 0;
    }
  
    75% {
      opacity: 1;
      width: 100%;
    }
  
    76%,
    100% {
      opacity: 0;
    }
  }
  
  @keyframes animateRight {
    0%,
    25% {
      opacity: 0;
      height: 0;
    }
  
    50% {
      opacity: 1;
      height: 100%;
    }
  
    55%,
    100% {
      height: 100%;
      opacity: 0;
    }
  }
  
  @keyframes animateLeft {
    0%,
    75% {
      opacity: 0;
      bottom: 0;
      height: 0;
    }
  
    100% {
      opacity: 1;
      height: 100%;
    }
  }
  



.thumb img{
    width: 80px;
}
.thumb h4{
    color: var(--black);
    text-align: center;
    margin-top: 25px;
}

.blob {
    position: absolute;
    width: 500px;
    height: 500px;
    background: linear-gradient(
      180deg,
      rgba(47, 184, 255,0.42) 31.77%,
      #5c9df1 100%
    );
    mix-blend-mode: multiply;
    -webkit-animation: move 75s infinite alternate;
            animation: move 75s infinite alternate;
    transition: 2s cubic-bezier(0.07, 0.8, 0.16, 1);
    /* transform: translate(-1000%, -100%) rotate(-90deg);
    border-radius: 24% 76% 35% 65% / 27% 36% 64% 73%; */
    z-index: -1;
  }
  
  .blob:hover {
    width: 520px;
    height: 520px;
    -webkit-filter: blur(30px);
            filter: blur(30px);
    box-shadow:
      inset 0 0 0 5px rgba(255,255,255, 0.6),
      inset 100px 100px 0 0px #fa709a,
      inset 200px 200px 0 0px #784ba8,
      inset 300px 300px 0 0px #2b86c5;
      
  }
  
  /* @-webkit-keyframes move {
    from {
      transform: translate(-100px, -50px) rotate(-90deg);
      border-radius: 24% 76% 35% 65% / 27% 36% 64% 73%;
    }
  
    to {
      transform: translate(500px, 100px) rotate(-10deg);
      border-radius: 76% 24% 33% 67% / 68% 55% 45% 32%;
    }
  } */
  
  @keyframes move {
    0% {
      transform: translate(-101%, -98%) rotate(-90deg);
      border-radius: 24% 76% 35% 65% / 27% 36% 64% 73%;
    }
  
    100% {
      transform: translate(385%, -20%) rotate(-180deg);
      border-radius: 76% 24% 33% 67% / 68% 55% 45% 32%;
    }
  }

.btn_comprar{
    background-color: #11e726;
    color: #043809;
    border: none;
    border-radius: 5px;
    margin: 0 auto;
    font-weight: bold;
    margin-top: 2em;
    width: 100%;
    height: 70px;
    font-size: 2em;
    box-shadow: 0 0 15px #11e726;
    animation: shine 1s linear infinite alternate-reverse;
    transition: .4s linear background-color;
  }
  .btn_comprar:hover{
    background-color: #f11d48;
    color: #fff;
    box-shadow: 0 0 15px #f11d48;
    animation: none;
}

@keyframes shine {
    0%{
        box-shadow: 0 0 1px #11e726;
    }
    100%{
        box-shadow: 0 0 30px #11e726;
    }
}

@media only screen and (max-width: 912px) {
    .btn_comprar{
        font-size: 1.5em;
    }
}

/* Footer 
================ */
footer{
    width: 100%;
    height: auto;
    background-color: var(--black);
    padding: 25px 0px;
}

.footer_rrss{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0 !important;
    padding: 0;
}
.footer_rrss li{
  margin: 10px;
  transition: all .4s linear;
  color: var(--bg);
}
.footer_rrss li:hover{
  background-color: var(--primary-color);
  cursor: pointer;
  transform: translateY(-5px);
}

.footer_rrss li i{
  font-size: 18px;
  color: var(--third-color);
  border: 1px  solid #fff;
  padding: 7px;
  border-radius: 5px;
  transition: all .4s linear;
}
.footer_rrss li img{
  width: 33px;
  color: #fff;
  border: 1px  solid #fff;
  padding: 7px;
  border-radius: 5px;
  transition: all .4s linear;
}

footer a{
  text-decoration: none;
}

footer p{
  font-size: 14px;
  text-align: center;
  font-weight: 400;
  color: #fff;
}
footer h6{
  font-weight: 400;
  color: #fff;
}
